In [1]:
import pandas as pd
import numpy as np
import country_converter as coco

In [ ]:
# Pol is avg from 2015 through 2019

In [3]:
pol = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\pol2_withpts_onlycountries0415.csv")

In [5]:
pol['country_c'] = coco.convert(names= pol['country'], to='name_short', not_found=None)

In [77]:
calorie['country_c'] = coco.convert(names= calorie['country'], to='name_short', not_found=None)

In [7]:
#food = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\food_insecure_withpts_onlycountries0415.csv")
life = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\life_expect_withpts_onlycountries0415.csv")
san = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\sanitation_withpts_onlycountries0415.csv")
water = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\water_rights_withpts_onlycountries0415.csv")

In [75]:
calorie = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\calorie_withpts_onlycountries.csv")

In [65]:
pl = pd.merge(pol, life, on = 'country_c', how = 'outer')
pl = pl[['country_c', 'pm25', 'pol_log32_n', 'avg_life', 'lifeexpect_log32_n']]

In [67]:
pls = pd.merge(pl, san , on = 'country_c', how = 'outer')

In [69]:
plsw = pd.merge(pls, water , on = 'country_c', how = 'outer')

In [71]:
plsw = plsw[['country_c', 'pm25', 'pol_log32_n', 'avg_life', 'lifeexpect_log32_n', 'sanitation_value', 'santitation_log32_n', 'water_pct', 'water_log32_n']]

In [33]:
plsw['cata_pts'] =  plsw['pol_log32_n']  + plsw['lifeexpect_log32_n'] + plsw['santitation_log32_n'] + plsw['water_log32_n']

C:\Users\eabro\AppData\Local\Temp\ipykernel_4308\1783247925.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plsw['cata_pts'] =  plsw['pol_log32_n']  + plsw['lifeexpect_log32_n'] + plsw['santitation_log32_n'] + plsw['water_log32_n']

In [27]:
plsw.to_csv('Cat_A_0415_choosethisemily.csv', index=False, header=True)

In [121]:
plsw = plsw.sort_values('cata_pts', ascending = False)

KeyError: 'cata_pts'

In [ ]:
df['A'].fillna(df['A'].mean(), inplace=True)

In [123]:
plswc = pd.merge(plsw, calorie, on = 'country_c', how = 'outer')
plswc = plswc[['country_c', 'pm25', 'pol_log32_n', 'avg_life', 'lifeexpect_log32_n',
       'sanitation_value', 'santitation_log32_n', 'water_pct', 'water_log32_n',
       'calorie', 'calorie_log32_n']]

In [125]:
plswc2 = plswc
plswc2['pol_log32_n'].fillna(plswc2['pol_log32_n'].mean(), inplace=True)

C:\Users\eabro\AppData\Local\Temp\ipykernel_4308\2640346923.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  plswc2['pol_log32_n'].fillna(plswc2['pol_log32_n'].mean(), inplace=True)

In [127]:
plswc2['water_log32_n'].fillna(plswc2['water_log32_n'].mean(), inplace=True)

C:\Users\eabro\AppData\Local\Temp\ipykernel_4308\2048577609.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  plswc2['water_log32_n'].fillna(plswc2['water_log32_n'].mean(), inplace=True)

In [129]:
plswc2['lifeexpect_log32_n'].fillna(plswc2['lifeexpect_log32_n'].mean(), inplace=True)

C:\Users\eabro\AppData\Local\Temp\ipykernel_4308\3596231566.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  plswc2['lifeexpect_log32_n'].fillna(plswc2['lifeexpect_log32_n'].mean(), inplace=True)

In [135]:
plswc2['santitation_log32_n'].fillna(plswc2['santitation_log32_n'].mean(), inplace=True)

C:\Users\eabro\AppData\Local\Temp\ipykernel_4308\2300235529.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  plswc2['santitation_log32_n'].fillna(plswc2['santitation_log32_n'].mean(), inplace=True)

In [137]:
plswc2['calorie_log32_n'].fillna(plswc2['calorie_log32_n'].mean(), inplace=True)

C:\Users\eabro\AppData\Local\Temp\ipykernel_4308\2850886738.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  plswc2['calorie_log32_n'].fillna(plswc2['calorie_log32_n'].mean(), inplace=True)

In [141]:
plswc.columns

Index(['country_c', 'pm25', 'pol_log32_n', 'avg_life', 'lifeexpect_log32_n',
       'sanitation_value', 'santitation_log32_n', 'water_pct', 'water_log32_n',
       'calorie', 'calorie_log32_n'],
      dtype='object')

In [147]:
plswc2['plswc_pts'] = plswc['pol_log32_n'] + plswc['lifeexpect_log32_n'] + plswc['santitation_log32_n'] + plswc['water_log32_n'] + plswc['calorie_log32_n']

In [151]:
plswc2['sanitation_log32_n'] = plswc2['santitation_log32_n']

In [159]:
plswc2 = plswc2[['country_c', 'pm25', 'pol_log32_n', 'avg_life', 'lifeexpect_log32_n',
       'sanitation_value', 'sanitation_log32_n', 'water_pct', 'water_log32_n',
       'calorie', 'calorie_log32_n', 'plswc_pts']]

In [163]:
plswc2 = plswc2.sort_values('plswc_pts', ascending = False)

In [185]:
plswc2 = plswc2.reset_index()

In [171]:
cata_pol_life = plswc2[['pm25', 'lifeexpect_log32_n']]

In [175]:
# There is a negative correlation between life expectancy and pollution levels, which is what I expected.

cata_pol_life.corr()

                        pm25  lifeexpect_log32_n
pm25                1.000000           -0.315935
lifeexpect_log32_n -0.315935            1.000000

In [177]:
cata_san_life = plswc2[['sanitation_value', 'lifeexpect_log32_n']]

In [181]:
# There is a massive correlation of 0.78 between having more citizens with access to adequate sanitation and a higher life expectancy.

cata_san_life.corr()

                    sanitation_value  lifeexpect_log32_n
sanitation_value            1.000000            0.787688
lifeexpect_log32_n          0.787688            1.000000

In [193]:
plswc2.loc[plswc2['country_c'] == 'United States']

,index,country_c,pm25,pol_log32_n,avg_life,lifeexpect_log32_n,sanitation_value,sanitation_log32_n,water_pct,water_log32_n,calorie,calorie_log32_n,plswc_pts
20,230,United States,7.824882,30.754321,78.38,26.329212,99.70488,31.887756,98.255539,31.214454,2.2,31.106599,151.292342

In [199]:
plswc2.to_csv('Cat_A_0415_choosethisemily.csv', index=False, header=True)