In [1]:
import pandas as pd
import numpy as np

In [7]:
cat_a = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\All_Categories_Points\Points_Category_A_Complete_withallpts_0416.csv")
cat_b = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\All_Categories_Points\Points_Category_B_final_withpts_0416.csv")

In [17]:
catab = pd.merge(cat_a, cat_b, on ='country_c', how = 'inner')
catab_o = pd.merge(cat_a, cat_b, on ='country_c', how = 'outer')

In [25]:
catab = catab[['country_c', 'pm25', 'pol_log32_n', 'atleast_basicsan',
       'basicsan_log32_n', 'basicw', 'water_log32_n', 'calorie',
       'calorie_log32_n', 'avg_life', 'lifeexpect_log32_n', 'pswcl_pts',
       'ineq', 'atkineq_log16_n', 'crime_rate',
        'norm_crime_rate_log16', 'gov',
       'func_gov_pts', 'terror', 'terror_log16_n', 'country',
        'uhc', 'uhc_log16', 'acfth_pts']]

In [33]:
cat_b

,country_c,ineq,norm_atk_ineq,atkineq_log16_n,crime_rate,norm_crime_rate,norm_crime_rate_log16,gov,norm_gov,func_gov_pts,terror,norm_terror,terror_log16_n,country,year,uhc,norm_uhc,uhc_log16,acfth_pts
0,Iceland,0.106782,0.913764,14.620218,25.4,0.816984,13.071742,8.988333,0.932400,14.918396,0.0,1.000000,16.000000,Iceland,2021.0,88.91830,0.967008,15.472132,74.082487
1,Finland,0.119172,0.892290,14.276635,26.3,0.803807,12.860908,9.345000,0.969398,15.510373,1.4,0.999227,15.987631,Finland,2021.0,85.67915,0.916591,14.665457,73.301004
2,Netherlands,0.126033,0.880397,14.086350,26.3,0.803807,12.860908,9.050000,0.938797,15.020747,10.8,0.994036,15.904583,Netherlands,2021.0,85.21300,0.909335,14.549368,72.421955
3,Denmark,0.110925,0.906583,14.505320,26.3,0.803807,12.860908,9.170000,0.951245,15.219917,0.6,0.999669,15.994699,Denmark,2021.0,81.96408,0.858766,13.740260,72.321104
4,Norway,0.134010,0.866571,13.865141,32.6,0.711567,11.385066,9.640000,1.000000,16.000000,1.2,0.999337,15.989398,Norway,2021.0,87.03179,0.937645,15.002317,72.241923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Yemen,0.231884,0.696933,11.150928,68.6,0.184480,2.951684,0.000000,0.000000,0.000000,517.6,0.714191,11.427057,Yemen,2021.0,42.48720,0.244311,3.908978,29.438647
116,Angola,0.557336,0.132851,2.125617,66.5,0.215227,3.443631,2.976667,0.308783,4.940526,1.6,0.999117,15.985864,Angola,2021.0,36.72917,0.154688,2.475004,28.970642
117,Mozambique,0.553966,0.138691,2.219062,63.7,0.256223,4.099561,1.548333,0.160615,2.569848,94.8,0.947653,15.162452,Mozambique,2021.0,43.99270,0.267744,4.283906,28.334829
118,Haiti,0.520696,0.196356,3.141693,77.9,0.048316,0.773060,0.678333,0.070367,1.125864,2.2,0.998785,15.980563,Haiti,2021.0,54.13732,0.425645,6.810312,27.831493
119,Afghanistan,0.292251,0.592303,9.476856,78.3,0.042460,0.679356,0.248333,0.025761,0.412172,1811.0,0.000000,0.000000,Afghanistan,2021.0,40.88461,0.219367,3.509871,14.078254

In [35]:
cat_c = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\All_Categories_Points\Points_Category_C_0416.csv")

In [85]:
cat_acpts = pd.merge(cat_apts, cat_cpts, on = 'country_c', how = 'inner')
cat_acpts_o = pd.merge(cat_apts, cat_cpts, on = 'country_c', how = 'outer')

In [87]:
cat_abcpts = pd.merge(cat_acpts, cat_bpts, on = 'country_c', how = 'inner')
cat_abcpts_o = pd.merge(cat_acpts, cat_bpts, on = 'country_c', how = 'outer')

In [89]:
cat_apts = cat_a[['country_c', 'pswcl_pts']]
cat_apts_o = cat_a[['country_c', 'pswcl_pts']]

In [47]:
cat_b.columns

Index(['country_c', 'ineq', 'norm_atk_ineq', 'atkineq_log16_n', 'crime_rate',
       'norm_crime_rate', 'norm_crime_rate_log16', 'gov', 'norm_gov',
       'func_gov_pts', 'terror', 'norm_terror', 'terror_log16_n', 'country',
       'year', 'uhc', 'norm_uhc', 'uhc_log16', 'acfth_pts'],
      dtype='object')

In [91]:
cat_bpts = cat_b[['country_c', 'acfth_pts']]
cat_bpts_o = cat_b[['country_c', 'acfth_pts']]

In [93]:
cat_cpts = cat_c[['country_c', 'dsels_pts']]
cat_cpts_o = cat_c[['country_c', 'dsels_pts']]

In [95]:
cat_abcpts['abc_pts'] = cat_abcpts['pswcl_pts'] + cat_abcpts['dsels_pts'] + cat_abcpts['acfth_pts']
cat_abcpts_o['abc_pts'] = cat_abcpts['pswcl_pts'] + cat_abcpts['dsels_pts'] + cat_abcpts['acfth_pts']

In [97]:
abc_inner = cat_abcpts.sort_values('abc_pts', ascending = False).reset_index()
abc_outer = cat_abcpts_o.sort_values('abc_pts', ascending = False).reset_index()

In [125]:
# Top 20 countries for categories A, B, and C combined.
# The United States ranks 26th out of 95 countries.

#abc_outer = abc_outer.sort_values('abc_pts', ascending = False) # this isn't sorting properly- I assume bc of the null values
abc_inner = abc_inner.sort_values('abc_pts', ascending = False)

In [123]:
abc_inner.head(35)

    index       country_c   pswcl_pts  dsels_pts  acfth_pts     abc_pts
0       0          Norway  156.648659  31.991557  72.241923  260.882139
1       1         Finland  156.564726  30.000274  73.301004  259.866004
2       7         Denmark  153.785185  32.139918  72.321104  258.246207
3       9     Netherlands  153.244516  32.330215  72.421955  257.996686
4       4     Switzerland  155.354630  29.984447  71.766254  257.105331
5      10           Japan  152.941396  31.303327  70.998712  255.243435
6       3          Sweden  155.932623  30.951249  67.311803  254.195675
7       6      Luxembourg  154.036625  30.084318  68.480868  252.601812
8       5          Canada  154.716774  30.099594  67.765536  252.581903
9      15         Germany  152.345827  31.923785  68.080101  252.349714
10     17         Austria  152.007656  31.184400  68.187190  251.379246
11      2       Australia  155.996409  28.637028  65.678648  250.312084
12     12         Belgium  152.745588  31.018979  65.923823  249.688391
13     16         Estonia  152.182121  28.138384  69.186879  249.507384
14     19         Ireland  151.934811  32.306789  65.001560  249.243160
15     13           Malta  152.632600  31.326993  65.214273  249.173867
16     14           Spain  152.422088  31.195377  65.211073  248.828538
17     23        Slovenia  149.270383  29.461710  69.948707  248.680799
18     20        Portugal  151.080018  29.595037  67.708080  248.383135
19     11  United Kingdom  152.917220  31.346406  63.680058  247.943684
20      8          France  153.623864  30.775797  61.774274  246.173934
21     25     South Korea  145.017524  28.916517  71.359575  245.293615
22     21          Cyprus  150.797429  30.355026  63.386936  244.539391
23     22           Italy  150.071348  30.068681  60.458173  240.598202
24     28          Israel  144.040795  31.018333  65.036933  240.096061
25     18   United States  151.957939  25.750214  58.969049  236.677202
26     38        Slovakia  140.936118  27.003790  66.801761  234.741669
27     29         Hungary  143.957223  25.515002  65.136388  234.608612
28     59         Iceland  125.393331  33.333979  74.082487  232.809798
29     26          Greece  144.814253  28.073020  59.383175  232.270448
30     24      Costa Rica  146.226472  29.869174  55.725252  231.820898
31     43          Poland  139.032461  28.329843  64.230749  231.593053
32     35          Latvia  141.632997  28.642129  60.787980  231.063106
33     30       Lithuania  143.937745  24.879265  62.133091  230.950100
34     40      Montenegro  140.446308  25.822536  59.725601  225.994444

In [131]:
cat_acpts['ac_pts'] = cat_acpts['pswcl_pts'] + cat_acpts['dsels_pts']

In [145]:
cat_acpts = cat_acpts.sort_values('ac_pts', ascending = False)

In [161]:
cata_top20 = cat_a.head(20)
catb_top20 = cat_b.head(20)
catc_top20 = cat_c.head(20)

In [165]:
cata_top20.to_csv('Category_A_Top20.csv', index=False, header=True)

In [167]:
catb_top20.to_csv('Category_B_Top20.csv', index=False, header=True)

In [169]:
catc_top20.to_csv('Category_C_Top20.csv', index=False, header=True)