In [77]:
import pandas as pd
import numpy as np
import country_converter as coco

In [79]:
hdi = pd.read_csv(r"C:\Users\eabro\Downloads\augmented-human-development-index\augmented-human-development-index.csv")

In [81]:
hdi.columns = ['country', 'code', 'year', 'hdi', 'a']

In [83]:
hdi = hdi[['country', 'year', 'hdi']]

In [85]:
hdi.value_counts('year')

year
2020    174
2015    174
2010    174
2005    174
2000    174
1995    174
1990    174
1985    173
1980    173
1970    158
1975    158
1965    158
1960    158
1955    158
1950    158
1938    133
1933    133
1929    133
1925    133
1913    133
1880    127
1900    127
1890    127
1870    127
Name: count, dtype: int64

In [87]:
hdi = hdi.loc[hdi['year'] >= 2020]

In [89]:
hdi = hdi.sort_values('hdi', ascending = False)

In [91]:
hdi.to_csv('hdi.csv', index=False, header=True)

In [93]:
hdi = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\hdi.csv")

In [95]:
hdi

         country  year       hdi
0    Switzerland  2020  0.885545
1          Japan  2020  0.856736
2      Australia  2020  0.847903
3        Iceland  2020  0.844972
4         Norway  2020  0.841248
..           ...   ...       ...
157       Guinea  2020  0.153434
158         Chad  2020  0.142656
159        Yemen  2020  0.141605
160      Burundi  2020  0.125719
161      Eritrea  2020  0.117805

[162 rows x 3 columns]

In [97]:
hdi['country_c'] = coco.convert(names= hdi['country'], to='name_short', not_found=None)

In [41]:
hdi = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\hdi.csv")

In [99]:
hdi = hdi.groupby('country').mean('hdi')

In [101]:
hdi = hdi.sort_values('hdi', ascending = False)

In [103]:
hdi['norm_hdi'] = (hdi['hdi'] - hdi['hdi'].min()) / (hdi['hdi'].max() - hdi['hdi'].min())

In [105]:
hdi['hdi_log4_n'] = hdi['norm_hdi'] * 4

In [109]:
hdi.to_csv('hdi_2020.csv', index=False, header=True)

In [107]:
hdi

               year       hdi  norm_hdi  hdi_log4_n
country
Switzerland  2020.0  0.885545  1.000000    4.000000
Japan        2020.0  0.856736  0.962475    3.849902
Australia    2020.0  0.847903  0.950970    3.803880
Iceland      2020.0  0.844972  0.947153    3.788611
Norway       2020.0  0.841248  0.942302    3.769208
...             ...       ...       ...         ...
Guinea       2020.0  0.153434  0.046408    0.185631
Chad         2020.0  0.142656  0.032369    0.129476
Yemen        2020.0  0.141605  0.031000    0.123999
Burundi      2020.0  0.125719  0.010308    0.041232
Eritrea      2020.0  0.117805  0.000000    0.000000

[162 rows x 4 columns]

In [113]:
hap = pd.read_csv(r"C:\Users\eabro\Downloads\gdp-per-capita-worldbank\gdp-per-capita-worldbank.csv")