In [3]:
import pandas as pd
import numpy as np

In [5]:
homicide = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_B\homicide-rate-unodc.csv")

In [9]:
homicide.columns = ['country', 'code', 'year', 'homicide_rate']

In [13]:
homicide = homicide.loc[homicide['year'] >= 2009]

In [15]:
homicide = homicide[(homicide['year'] >= 2009) & (homicide['year'] <= 2019)]

homicide['norm_homicide'] = 1 - (undernourish['undernourish'] - undernourish['undernourish'].min()) / (undernourish['undernourish'].max() - undernourish['undernourish'].min())

In [19]:
homicide.to_csv('homicide.csv', index=False, header=True)

In [21]:
homicide = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\homicide.csv")

In [31]:
homicide['norm_homicide'] =  1 - (homicide['homicide_rate'] - homicide['homicide_rate'].min()) / (homicide['homicide_rate'].max() - homicide['homicide_rate'].min())

In [81]:
homicide = homicide.sort_values('homicide_rate', ascending = True)

In [83]:
homicide['homicide_norm_withpts'] = homicide['norm_homicide'] * 5

In [248]:
homicide['homicide_norm_withpts_log16'] = homicide['norm_homicide'] * 16

In [268]:
homicide.to_csv('homicide_withallpts_onlycountries.csv', index=False, header=True)

In [254]:
homicide = homicide.drop('homicide_norm_withpts_log5', axis = 1)

In [260]:
homicide = homicide.drop('norm_withpts_log5', axis = 1)

In [266]:
homicide['norm_homicide_withpts'] = homicide['norm_withpts']

In [1005]:
unemployment = pd.read_csv(r"C:\Users\eabro\Downloads\unemployment-rate-of-males-vs-females\unemployment-rate-of-males-vs-females.csv")

In [1007]:
unemployment.to_csv('unemployment_20192023.csv', index=False, header=True)

In [1009]:
unemployment.columns = ['country', 'code', 'year', 'male_unemploy', 'female_unemploy', 'region']

In [1011]:
unemployment = unemployment.drop('region', axis = 1)

In [1013]:
unemployment = unemployment.drop('code', axis = 1)

In [1015]:
unemployment = unemployment.loc[unemployment['year'] >= 2019]

In [1017]:
unemployment = unemployment.groupby('country').mean('male_unemploy')

In [1019]:
unemployment['m_f_unemploy'] = unemployment['male_unemploy'] + unemployment['female_unemploy']

In [1021]:
unemployment = unemployment.sort_values('m_f_unemploy', ascending = True)

In [1023]:
unemployment = unemployment.dropna()

In [1025]:
unemployment['norm_unemploy'] = 1 - (unemployment['m_f_unemploy'] - unemployment['m_f_unemploy'].min()) / (unemployment['m_f_unemploy'].max() - unemployment['m_f_unemploy'].min())

In [1027]:
unemployment['unemploy_norm_withpts'] = unemployment['norm_unemploy'] * 5

In [1037]:
unemployment['unemploy_log16_n'] = unemployment['norm_unemploy'] * 16
unemployment

,year,male_unemploy,female_unemploy,m_f_unemploy,norm_unemploy,unemploy_norm_withpts,unemploy_norm_withpts_log5,unemploy_log16_n
country,,,,,,,,
Cambodia,2021.0,0.20880,0.26400,0.4728,1.000000,5.000000,16.000000,16.000000
Qatar,2021.0,0.06960,0.42860,0.4982,0.999634,4.998172,15.994152,15.994152
Niger,2021.0,0.65860,0.55880,1.2174,0.989285,4.946424,15.828557,15.828557
Thailand,2021.0,0.93080,1.03040,1.9612,0.978581,4.892906,15.657298,15.657298
Burundi,2021.0,1.09880,0.92120,2.0200,0.977735,4.888675,15.643760,15.643760
...,...,...,...,...,...,...,...,...
Yemen,2021.0,16.63900,29.65100,46.2900,0.340667,1.703334,5.450668,5.450668
South Africa,2021.0,25.72360,28.65920,54.3828,0.224207,1.121036,3.587314,3.587314
Djibouti,2021.0,22.70780,36.78660,59.4944,0.150649,0.753243,2.410377,2.410377
Palestine,2021.0,21.48575,40.82725,62.3130,0.110087,0.550437,1.761399,1.761399
Eswatini,2021.0,33.46960,36.49340,69.9630,0.000000,0.000000,0.000000,0.000000

In [1043]:
unemployment

,year,male_unemploy,female_unemploy,m_f_unemploy,norm_unemploy,unemploy_norm_withpts,unemploy_norm_withpts_log5,unemploy_log16_n
country,,,,,,,,
Cambodia,2021.0,0.20880,0.26400,0.4728,1.000000,5.000000,16.000000,16.000000
Qatar,2021.0,0.06960,0.42860,0.4982,0.999634,4.998172,15.994152,15.994152
Niger,2021.0,0.65860,0.55880,1.2174,0.989285,4.946424,15.828557,15.828557
Thailand,2021.0,0.93080,1.03040,1.9612,0.978581,4.892906,15.657298,15.657298
Burundi,2021.0,1.09880,0.92120,2.0200,0.977735,4.888675,15.643760,15.643760
...,...,...,...,...,...,...,...,...
Yemen,2021.0,16.63900,29.65100,46.2900,0.340667,1.703334,5.450668,5.450668
South Africa,2021.0,25.72360,28.65920,54.3828,0.224207,1.121036,3.587314,3.587314
Djibouti,2021.0,22.70780,36.78660,59.4944,0.150649,0.753243,2.410377,2.410377
Palestine,2021.0,21.48575,40.82725,62.3130,0.110087,0.550437,1.761399,1.761399
Eswatini,2021.0,33.46960,36.49340,69.9630,0.000000,0.000000,0.000000,0.000000

In [1041]:
unemployment.to_csv('unemployment_20192023.csv', index=False, header=True)

In [137]:
personal_spending_health = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\share-of-out-of-pocket-expenditure-on-healthcare (1)\share-of-out-of-pocket-expenditure-on-healthcare.csv")

In [139]:
psh = personal_spending_health

In [145]:
psh.columns = ['country', 'code', 'year', 'out_of_pkt_healthpct']

In [149]:
psh = psh.loc[psh['year'] >= 2009]

In [153]:
psh = psh.groupby('country').mean('out_of_pkt_healthpct')

In [157]:
psh = psh.sort_values('out_of_pkt_healthpct', ascending = True)

In [161]:
psh.head(20)

                        year  out_of_pkt_healthpct
country
Tuvalu                2015.0              0.543606
Kiribati              2015.0              0.660769
Marshall Islands      2015.0              1.237890
Nauru                 2015.0              1.277213
Micronesia (country)  2015.0              2.777382
Solomon Islands       2015.0              3.307494
Botswana              2015.0              4.266683
Monaco                2015.0              6.022546
South Africa          2015.0              6.512857
Tonga                 2015.0              6.814257
Brunei                2015.0              6.949473
Oman                  2015.0              7.403044
East Timor            2015.0              8.578951
Namibia               2015.0              8.599952
Vanuatu               2015.0              8.655763
Mozambique            2015.0              8.887260
Qatar                 2015.0              9.441883
France                2015.0              9.731661
Papua New Guinea      2015.0              9.852368
Luxembourg            2015.5             10.236429

# I changed my mind here. I'll look at government spending on healthcare instead.

In [176]:
gov_health_spend = pd.read_csv(r"C:\Users\eabro\Downloads\total-healthcare-expenditure-gdp\total-healthcare-expenditure-gdp.csv")

In [178]:
ghs = gov_health_spend

In [180]:
ghs.columns = ['country', 'code', 'year', 'health_pct_gdp']

In [186]:
ghs = ghs.loc[ghs['year'] >= 2011]

In [196]:
ghs = ghs.groupby('country').mean('health_pct_gdp').reset_index()

In [198]:
ghs.to_csv('gov_spend_healthcare.csv', index=False, header=True)

In [200]:
ghs = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\gov_spend_healthcare.csv")

In [204]:
ghs['norm_healthgdp'] =  (ghs['health_pct_gdp'] - ghs['health_pct_gdp'].min()) / (ghs['health_pct_gdp'].max() - ghs['health_pct_gdp'].min())

In [208]:
ghs = ghs.sort_values('health_pct_gdp')

In [212]:
ghs['healthgdp_norm_withpts'] = ghs['norm_healthgdp'] * 5

In [272]:
ghs['healthgdp_norm_withpts_log5'] = ghs['norm_healthgdp'] * 16

In [274]:
ghs.to_csv('gov_spend_healthcare_withallpts_onlycountries.csv', index=False, header=True)

In [1003]:
crime = pd.read_csv(r"C:\Users\eabro\Downloads\crime-rate-by-country-2025 (1).csv")

In [1063]:
crime.columns = ['code', 'country', 'crime_rate', 'safety_index']

In [1065]:
crime['norm_crime'] = (crime['safety_index'] - crime['safety_index'].min()) / (crime['safety_index'].max() - crime['safety_index'].min())

In [1067]:
crime['norm_crime_withpts'] = crime['norm_crime'] * 5

In [1069]:
crime['norm_crime_withpts_log16'] = crime['norm_crime'] * 16

In [1071]:
crime = crime.sort_values('safety_index', ascending = False)

In [1059]:
crime

,flagCode,country,CrimeRate_NumbeoCrimeIndex_score_2024,CrimeRate_NumbeoSafetyIndex_score_2024
0,VE,Venezuela,81.2,18.8
1,PG,Papua New Guinea,79.7,20.3
2,AF,Afghanistan,78.3,21.7
3,HT,Haiti,77.9,22.1
4,ZA,South Africa,75.4,24.6
...,...,...,...,...
136,OM,Oman,19.0,81.0
137,TW,Taiwan,16.7,83.3
138,QA,Qatar,16.0,84.0
139,AE,United Arab Emirates,15.6,84.4
140,AD,Andorra,12.9,87.1

In [392]:

terror

                        country    year        terror  norm_terror
0                         World  2016.0  10346.000000     0.000000
1                          Asia  2016.0   7488.545455     0.276189
2    Middle East & North Africa  2016.0   3686.181818     0.643709
3                    South Asia  2016.0   3528.090909     0.658990
4                        Africa  2016.0   2115.090909     0.795564
..                          ...     ...           ...          ...
211                        Fiji  2016.0      0.000000     1.000000
212                        Togo  2016.0      0.000000     1.000000
213               French Guiana  2016.0      0.000000     1.000000
214                 North Korea  2016.0      0.000000     1.000000
215            French Polynesia  2016.0      0.000000     1.000000

[216 rows x 4 columns]

In [396]:
terror = terror.loc[terror['year'] >= 2011]
terror

                      country    code          year    terror
0                       World  2016.0  10346.000000  0.000000
1                        Asia  2016.0   7488.545455  0.276189
2  Middle East & North Africa  2016.0   3686.181818  0.643709
3                  South Asia  2016.0   3528.090909  0.658990
4                      Africa  2016.0   2115.090909  0.795564

In [408]:
terror

                      country    code          year    terror  norm_terror
0                      Africa  2016.0   2115.090909  0.795564     0.000000
3                  South Asia  2016.0   3528.090909  0.658990     0.171670
2  Middle East & North Africa  2016.0   3686.181818  0.643709     0.190877
1                        Asia  2016.0   7488.545455  0.276189     0.652839
4                       World  2016.0  10346.000000  0.000000     1.000000

In [949]:
terror = pd.read_csv(r"C:\Users\eabro\Downloads\terrorist-attacks (1)\terrorist-attacks.csv")

In [951]:
terror.columns = ['country', 'code', 'year', 'terror']

In [953]:
#terror = terror.sort_values('norm_terror', ascending = True)

In [955]:
terror = terror.loc[terror['year'] >= 2017]
terror

          country code  year  terror
46    Afghanistan  AFG  2017    1415
47    Afghanistan  AFG  2018    1777
48    Afghanistan  AFG  2019    1806
49    Afghanistan  AFG  2020    2604
50    Afghanistan  AFG  2021    1453
...           ...  ...   ...     ...
9696     Zimbabwe  ZWE  2017       3
9697     Zimbabwe  ZWE  2018       2
9698     Zimbabwe  ZWE  2019       2
9699     Zimbabwe  ZWE  2020       1
9700     Zimbabwe  ZWE  2021       0

[1000 rows x 4 columns]

In [957]:
terror = terror.groupby('country').mean('terror').reset_index()

In [989]:
terror['norm_terror'] = 1 - (terror['terror'] - terror['terror'].min()) / (terror['terror'].max() - terror['terror'].min())

In [991]:
terror = terror.sort_values('terror', ascending = True)

In [993]:
terror['norm_terror_withpts_log16'] = terror['norm_terror'] * 16

In [999]:
terror

             country    year  terror  norm_terror  norm_terror_withpts_log16
99           Lesotho  2019.0     0.0     1.000000                  16.000000
143         Rhodesia  2019.0     0.0     1.000000                  16.000000
80           Iceland  2019.0     0.0     1.000000                  16.000000
158  Solomon Islands  2019.0     0.0     1.000000                  16.000000
40              Cuba  2019.0     0.0     1.000000                  16.000000
..               ...     ...     ...          ...                        ...
129          Nigeria  2019.0   514.2     0.716068                  11.457096
195            Yemen  2019.0   517.6     0.714191                  11.427057
81             India  2019.0   632.6     0.650690                  10.411044
84              Iraq  2019.0  1173.4     0.352071                   5.633131
0        Afghanistan  2019.0  1811.0     0.000000                   0.000000

[200 rows x 5 columns]

In [893]:
terror = terror.reset_index()
terror

     index              country        year      terror  norm_terror
0        0          Afghanistan  1995.54902  399.470588     0.898457
1        1              Albania  1995.54902    1.627451     0.999586
2        2              Algeria  1995.54902   54.000000     0.986274
3        3              Andorra  1995.54902    0.019608     0.999995
4        4               Angola  1995.54902    9.823529     0.997503
..     ...                  ...         ...         ...          ...
200    200  Yemen Arab Republic  1995.54902    0.117647     0.999970
201    201           Yugoslavia  1986.30303    6.151515     0.998436
202    202                Zaire  1995.54902    0.980392     0.999751
203    203               Zambia  1995.54902    1.235294     0.999686
204    204             Zimbabwe  1995.54902    2.078431     0.999472

[205 rows x 5 columns]

In [1001]:
terror.to_csv('terror_20172021.csv', index=False, header=True)

In [432]:
gni = pd.read_csv(r"C:\Users\eabro\Downloads\gross-national-income-per-capita-worldbank\gross-national-income-per-capita-worldbank.csv")

In [436]:
gni.columns = ['country', 'code', 'year', 'gni']

In [442]:
gni = gni.loc[gni['year'] >= 2018]

In [446]:
gni.to_csv('gni_withallpts_onlycountries.csv', index=False, header=True)

In [448]:
gni = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\gni_withallpts_onlycountries.csv")

In [452]:
gni = gni.groupby('country').mean('gni')

In [454]:
gni['norm_gni'] = (gni['gni'] - gni['gni'] .min()) / (gni['gni'] .max() - gni['gni'] .min())

In [458]:
gni = gni.sort_values('gni', ascending = False)

In [462]:
gni['norm_log16'] = gni['norm_gni'] * 16

In [468]:
gni.to_csv('gni_withallpts_onlycountries.csv', index=False, header=True)

In [568]:
crime = pd.read_csv(r"C:\Users\eabro\Downloads\crime-rate-by-country-2025 (2).csv")

In [572]:
crime.columns = ['code', 'country', 'crime_rate', 'safety']

In [600]:
crime['norm_crime_rate'] = 1 - (crime['crime_rate'] - crime['crime_rate'].min()) / (crime['crime_rate'].max() - crime['crime_rate'].min())

In [602]:
crime = crime.sort_values('norm_crime_safety', ascending = False)

In [606]:
crime = crime.drop('norm_crime_safety', axis = 1)

In [610]:
crime['norm_crime_rate_log16'] = crime['norm_crime_rate'] * 16

In [612]:
crime

,code,country,crime_rate,safety,norm_crime_rate,norm_crime_rate_log16
140,AD,Andorra,12.9,87.1,1.000000,16.000000
139,AE,United Arab Emirates,15.6,84.4,0.960469,15.367496
138,QA,Qatar,16.0,84.0,0.954612,15.273792
137,TW,Taiwan,16.7,83.3,0.944363,15.109810
136,OM,Oman,19.0,81.0,0.910688,14.571010
...,...,...,...,...,...,...
4,ZA,South Africa,75.4,24.6,0.084919,1.358712
3,HT,Haiti,77.9,22.1,0.048316,0.773060
2,AF,Afghanistan,78.3,21.7,0.042460,0.679356
1,PG,Papua New Guinea,79.7,20.3,0.021962,0.351391
0,VE,Venezuela,81.2,18.8,0.000000,0.000000

In [614]:
import country_converter as coco

In [616]:
crime['country_c'] = coco.convert(names=crime['country'], to='name_short', not_found=None)

In [624]:
gni['country_c'] = coco.convert(names= gni['country'], to='name_short', not_found=None)

In [618]:
crime

,code,country,crime_rate,safety,norm_crime_rate,norm_crime_rate_log16,country_c
140,AD,Andorra,12.9,87.1,1.000000,16.000000,Andorra
139,AE,United Arab Emirates,15.6,84.4,0.960469,15.367496,United Arab Emirates
138,QA,Qatar,16.0,84.0,0.954612,15.273792,Qatar
137,TW,Taiwan,16.7,83.3,0.944363,15.109810,Taiwan
136,OM,Oman,19.0,81.0,0.910688,14.571010,Oman
...,...,...,...,...,...,...,...
4,ZA,South Africa,75.4,24.6,0.084919,1.358712,South Africa
3,HT,Haiti,77.9,22.1,0.048316,0.773060,Haiti
2,AF,Afghanistan,78.3,21.7,0.042460,0.679356,Afghanistan
1,PG,Papua New Guinea,79.7,20.3,0.021962,0.351391,Papua New Guinea
0,VE,Venezuela,81.2,18.8,0.000000,0.000000,Venezuela

In [622]:
crime.to_csv('crime_withpts_onlycountry.csv', index=False, header=True)

In [628]:
gni_crime = pd.merge(gni, crime, on = 'country', how = 'inner')

In [632]:
one_pct = pd.read_csv(r"C:\Users\eabro\Downloads\income-share-top-1-before-tax-wid\income-share-top-1-before-tax-wid.csv")

In [636]:
one_pct.columns = ['country', 'code', 'year', 'one_pct_value']

In [646]:
one_pct = one_pct[one_pct['year'] >= 2022]

In [660]:
one_pct = one_pct.groupby('country').mean('one_pct_value').reset_index()

In [664]:
one_pct.to_csv('one_pct.csv', index=False, header=True)

In [666]:
one_perct = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\one_pct.csv")

In [670]:
one_perct['country_c'] = coco.convert(names= one_perct['country'], to='name_short', not_found=None)

In [674]:
one_perct

         country    year  one_pct_value    country_c
0    Afghanistan  2022.5      15.349999  Afghanistan
1        Albania  2022.5       9.130000      Albania
2        Algeria  2022.5      23.190000      Algeria
3        Andorra  2022.5      11.500000      Andorra
4         Angola  2022.5      25.865000       Angola
..           ...     ...            ...          ...
211    Venezuela  2022.5      17.870000    Venezuela
212      Vietnam  2022.5      15.690000      Vietnam
213        Yemen  2022.5      25.035001        Yemen
214       Zambia  2022.5      17.880001       Zambia
215     Zimbabwe  2022.5      17.290000     Zimbabwe

[216 rows x 4 columns]

In [684]:
one_perct['norm_one_pct'] = 1 - (one_perct['one_pct_value'] - one_perct['one_pct_value'].min()) / (one_perct['one_pct_value'].max() - one_perct['one_pct_value'].min())

In [692]:
one_perct = one_perct.sort_values('norm_one_pct', ascending = False).reset_index()
one_perct

,level_0,index,country,year,one_pct_value,country_c,norm_one_pct
0,0,139,Netherlands,2022.5,6.690000,Netherlands,1.000000
1,1,146,North Macedonia,2022.5,6.995000,North Macedonia,0.984908
2,2,178,Slovenia,2022.5,7.845000,Slovenia,0.942850
3,3,88,Iceland,2022.5,7.920000,Iceland,0.939139
4,4,177,Slovakia,2022.5,8.215000,Slovakia,0.924542
...,...,...,...,...,...,...,...
211,211,213,Yemen,2022.5,25.035001,Yemen,0.092281
212,212,170,Saudi Arabia,2022.5,25.105000,Saudi Arabia,0.088817
213,213,14,Bahrain,2022.5,25.330000,Bahrain,0.077684
214,214,4,Angola,2022.5,25.865000,Angola,0.051212
215,215,155,Peru,2022.5,26.900000,Peru,0.000000

In [694]:
one_perct.columns

Index(['level_0', 'index', 'country', 'year', 'one_pct_value', 'country_c',
       'norm_one_pct'],
      dtype='object')

In [696]:
one_perct['one_pct_log16'] = one_perct['norm_one_pct'] * 16

In [700]:
one_perct.to_csv('onepct_withpts_onlycountries.csv', index=False, header=True)

In [734]:
police = pd.read_csv(r"C:\Users\eabro\Downloads\police-officers-per-1000-people\police-officers-per-1000-people.csv")

In [710]:
police.columns = ['country', 'code', 'year', 'police_per_1k']

In [716]:
police = police.loc[police['year'] >=2005]

In [724]:
police = police.groupby('country').mean('police_per_1k').reset_index()

In [726]:
police.to_csv('police.csv', index=False, header=True)

In [732]:
hospital = pd.read_csv(r"C:\Users\eabro\Downloads\API_SH.MED.BEDS.ZS_DS2_en_csv_v2_18707\hospital_bedsworldbank.csv")

In [738]:
police = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\police.csv")

In [841]:
func2 = pd.read_csv(r"C:\Users\eabro\Downloads\functioning-government-index-eiu\functioning-government-index-eiu.csv")

In [847]:
func2.value_counts('year')

year
2006    167
2017    167
2023    167
2022    167
2021    167
2020    167
2019    167
2018    167
2016    167
2008    167
2015    167
2014    167
2013    167
2012    167
2011    167
2010    167
2024    167
Name: count, dtype: int64

In [843]:
func2.columns = ['country', 'code', 'year', 'gov']

In [750]:
func = func.loc[func['year'] >= 2019]

In [758]:
func = func.groupby('country').mean('gov').reset_index()

In [760]:
func['country_c'] = coco.convert(names= func['country'], to='name_short', not_found=None)

In [762]:
func.to_csv('func.csv', index=False, header=True)

In [768]:
func['norm_gov'] =  (func['gov'] - func['gov'].min()) / (func['gov'].max() - func['gov'].min())

In [764]:
divorce = pd.read_csv(r"C:\Users\eabro\Downloads\divorces-per-1000-people\divorces-per-1000-people.csv")

In [772]:
func = func.sort_values('norm_gov', ascending = False)

In [776]:
func['func_gov_pts'] = func['norm_gov'] * 16

In [780]:
func.to_csv('func_gov_withpts_onlycountries.csv', index=False, header=True)

In [786]:
divorce

,Entity,Code,Year,"Crude divorce rate (divorces per 1,000 people)",1009221-annotations
0,Australia,AUS,1970,1.0,NaN
1,Australia,AUS,1980,2.7,NaN
2,Australia,AUS,1981,2.8,NaN
3,Australia,AUS,1982,2.9,NaN
4,Australia,AUS,1983,2.8,NaN
...,...,...,...,...,...
2051,United States,USA,2016,3.0,NaN
2052,United States,USA,2017,2.9,NaN
2053,United States,USA,2018,2.9,NaN
2054,United States,USA,2019,2.7,NaN
2055,United States,USA,2020,2.3,NaN

In [794]:
divorce.columns = ['country', 'code', 'year', 'divorce', 'a']

In [798]:
divorce = divorce[['country', 'code', 'year', 'divorce']]

In [802]:
divorce.value_counts('year')

year
2010    41
2013    41
2012    41
2011    41
2016    40
        ..
1964    26
1963    25
1961    24
1962    24
1960    24
Name: count, Length: 61, dtype: int64

In [849]:
universal2 = pd.read_csv(r"C:\Users\eabro\Downloads\universal-health-coverage-index\universal-health-coverage-index.csv")

In [851]:
universal2.columns = ['country', 'code', 'year', 'uhc']

In [812]:
universal = universal.loc[universal['year'] == 2021]

In [816]:
universal.to_csv('universal.csv', index=False, header=True)

In [818]:
universal = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\universal.csv")

In [820]:
universal = universal.groupby('country').mean('uhc')

In [824]:
universal = universal.sort_values('uhc', ascending = False)

In [828]:
universal['norm_uhc'] =  (universal['uhc'] - universal['uhc'].min()) / (universal['uhc'].max() - universal['uhc'].min())

In [1051]:
universal['uhc_log16'] = universal['norm_uhc'] * 16
universal = universal.reset_index()

In [1053]:
universal['country_c'] = coco.convert(names=universal['country'], to='name_short', not_found=None)

In [1057]:
universal.to_csv('universalhealth_2021.csv', index=False, header=True)

"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_B\lgbt_withpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_B\onepct_withpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_B\terror_withallpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_B\unemployment_withallpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_B\universalhealth_withpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_B\vaccination_withallpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_B\crime_withpts_onlycountry.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_B\func_gov_withpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_B\ineq_withallpts_onlycountries.csv"

In [1075]:
eco_ineq = pd.read_csv(r"C:\Users\eabro\Downloads\economic-inequality-gini-index\economic-inequality-gini-index.csv")

In [1077]:
eco = eco_ineq

In [1083]:
eco.columns = ['country', 'code', 'year', 'eco_ineq', 'a']

In [1087]:
eco = eco[['country', 'year', 'eco_ineq']]

In [1097]:
eco

       country  year  eco_ineq country_c
0      Albania  1996  0.270103   Albania
1      Albania  2002  0.317390   Albania
2      Albania  2005  0.305957   Albania
3      Albania  2008  0.299847   Albania
4      Albania  2012  0.289605   Albania
...        ...   ...       ...       ...
2280    Zambia  2015  0.558376    Zambia
2281    Zambia  2022  0.514831    Zambia
2282  Zimbabwe  2011  0.431536  Zimbabwe
2283  Zimbabwe  2017  0.443371  Zimbabwe
2284  Zimbabwe  2019  0.502564  Zimbabwe

[2285 rows x 4 columns]

In [1089]:
eco['country_c'] = coco.convert(names= eco['country'], to='name_short', not_found=None)

C:\Users\eabro\AppData\Local\Temp\ipykernel_36756\2518027200.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eco['country_c'] = coco.convert(names= eco['country'], to='name_short', not_found=None)

In [1095]:
eco.value_counts('year').head(15)

year
2018    96
2015    90
2012    88
2016    87
2010    87
2014    85
2011    84
2017    83
2019    82
2009    82
2005    80
2013    80
2006    79
2008    77
2021    75
Name: count, dtype: int64

In [1099]:
# It looks like there are very few countries reported here. I found a different measurement, called the Atkinson Index that has more country measurements.

In [1123]:
atk = pd.read_csv(r"C:\Users\eabro\Downloads\income-inequality-atkinson-index-undp\income-inequality-atkinson-index-undp.csv")

In [1125]:
atk.columns = ['country', 'code', 'year', 'ineq']

In [1157]:
atk = atk.loc[atk['year'] >= 2017]

In [1187]:
atk = atk.groupby('country').mean('ineq')

In [1189]:
atk['norm_atk_ineq'] =  1 - (atk['ineq'] - atk['ineq'].min()) / (atk['ineq'].max() - atk['ineq'].min())

In [1209]:
atk = atk.sort_values('ineq', ascending = True)

In [1211]:
atk['country_c'] = coco.convert(names= atk['country'], to='name_short', not_found=None)

In [1215]:
atk['atkineq_log16_n'] = atk['norm_atk_ineq'] * 16

In [1229]:
atk = atk[['country_c', 'ineq', 'norm_atk_ineq', 'atkineq_log16_n']]

In [1233]:
atk.to_csv('atk_20202021.csv', index=False, header=True)

In [1295]:
atk

                    country_c      ineq  norm_atk_ineq  atkineq_log16_n
0                  Azerbaijan  0.057027       1.000000        16.000000
1                    Slovakia  0.099969       0.925573        14.809169
2                    Slovenia  0.100301       0.924996        14.799942
3                     Czechia  0.104786       0.917223        14.675565
4                     Iceland  0.106782       0.913764        14.620218
..                        ...       ...            ...              ...
166  Central African Republic  0.554031       0.138579         2.217265
167                    Angola  0.557336       0.132851         2.125617
168              South Africa  0.599325       0.060074         0.961184
169                  Eswatini  0.604970       0.050289         0.804626
170                    Zambia  0.633985       0.000000         0.000000

[171 rows x 4 columns]

In [1293]:
atk.loc[atk['country_c'] == 'United States']

        country_c      ineq  norm_atk_ineq  atkineq_log16_n
89  United States  0.256936       0.653512        10.456194

In [1299]:
edu = pd.read_csv(r"C:\Users\eabro\Downloads\learning-adjusted-years-of-school-lays\learning-adjusted-years-of-school-lays.csv")

In [1301]:
edu.columns = ['country', 'code', 'year', 'school']

In [1303]:
edu['country_c'] = coco.convert(names= edu['country'], to='name_short', not_found=None)

In [1305]:
edu = edu.loc[edu['year'] >= 2017]

In [1307]:
edu = edu.groupby('country').mean('school').reset_index()

In [1309]:
edu['norm_school'] =  (edu['school'] - edu['school'].min()) / (edu['school'].max() - edu['school'].min())

In [1311]:
edu['school_log8_n'] = edu['norm_school'] * 8

In [1315]:
edu = edu.sort_values('school_log8_n', ascending = False)

In [1317]:
edu

,country,year,school,norm_school,school_log8_n
141,Singapore,2018.333333,12.883721,1.000000,8.000000
75,Japan,2018.333333,12.106581,0.926911,7.415284
146,South Korea,2018.333333,12.057239,0.922270,7.378159
64,Hong Kong,2018.333333,12.000000,0.916887,7.335093
50,Finland,2018.333333,11.945446,0.911756,7.294047
...,...,...,...,...,...
94,Mali,2018.333333,2.726247,0.044697,0.357572
26,Central African Republic,2020.000000,2.696155,0.041866,0.334931
113,Niger,2018.333333,2.661517,0.038609,0.308870
147,South Sudan,2018.333333,2.434231,0.017233,0.137861
87,Liberia,2018.333333,2.251002,0.000000,0.000000

In [1319]:
edu.to_csv('edu_201720182020.csv', index=False, header=True)

In [1321]:
wom = pd.read_csv(r"C:\Users\eabro\Downloads\womens-economic-opportunity-2012-index (1)\womens_Economic.csv")

In [1325]:
wom.columns = ['country', 'code', 'year', 'wom']

In [1327]:
wom.value_counts('year')

year
2012    129
Name: count, dtype: int64

In [1353]:
unem = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\unem.csv")

In [1357]:
unem

         country code  year    unem    country_c
0    Afghanistan  AFG  2019  11.224  Afghanistan
1    Afghanistan  AFG  2020  11.710  Afghanistan
2    Afghanistan  AFG  2021  11.934  Afghanistan
3    Afghanistan  AFG  2022  14.100  Afghanistan
4    Afghanistan  AFG  2023  14.386  Afghanistan
..           ...  ...   ...     ...          ...
922     Zimbabwe  ZWE  2019   7.373     Zimbabwe
923     Zimbabwe  ZWE  2020   8.621     Zimbabwe
924     Zimbabwe  ZWE  2021   9.540     Zimbabwe
925     Zimbabwe  ZWE  2022  10.087     Zimbabwe
926     Zimbabwe  ZWE  2023   8.759     Zimbabwe

[927 rows x 5 columns]

In [1361]:
unem.columns = ['country', 'code', 'year', 'unem', 'country_c']

In [1363]:
unem = unem.loc[unem['year'] >= 2019]

In [1403]:
unem['country_c'] = coco.convert(names= unem['country'], to='name_short', not_found=None)

In [1379]:
unem['unemploy_log16_n'] = unem['norm_unemploy'] * 16

In [1399]:
unem = unem.sort_values('unemploy_log16_n', ascending = False).reset_index()

In [1389]:
unem = unem.groupby('country').mean('unem')
unem

               year     unem  norm_unemploy  unemploy_log16_n
country
Afghanistan  2021.0  12.6708       0.667016         10.672261
Albania      2021.0  11.9802       0.685309         10.964950
Algeria      2021.0  12.8366       0.662624         10.601992
Angola       2021.0  15.6570       0.587916          9.406654
Argentina    2021.0   8.6046       0.774725         12.395592
...             ...      ...            ...               ...
Venezuela    2021.0   6.3438       0.834610         13.353761
Vietnam      2021.0   1.8612       0.953348         15.253571
Yemen        2021.0  17.6506       0.535108          8.561729
Zambia       2021.0   5.7344       0.850752         13.612036
Zimbabwe     2021.0   8.8760       0.767535         12.280568

[186 rows x 4 columns]

In [1391]:
unem['norm_unemploy'] =  1 - (unem['unem'] - unem['unem'] .min()) / (unem['unem'] .max() - unem['unem'] .min())

In [1407]:
unem.to_csv('unemploy_20192023.csv', index=False, header=True)

In [1405]:
unem.columns

Index(['country', 'year', 'unem', 'norm_unemploy', 'unemploy_log16_n',
       'country_c'],
      dtype='object')

In [1409]:
rows_missing_one = acfthu_o2[acfthu_o2.isna().sum(axis=1) == 1]

NameError: name 'acfthu_o2' is not defined