In [1]:
import pandas as pd
import numpy as np
import country_converter as coco

In [2]:
# Pol is avg from 2015 through 2019

In [153]:
san = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_A\Basic_san20172022.csv")
water = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_A\Basicwater_20162022.csv")
cal = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_A\Calorie_20192023.csv")
life = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_A\LifeExpect_2018.csv")
pol = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_A\Pollution_20152019.csv")

In [155]:
sw = pd.merge(san, water, on = 'country_c', how = 'inner')

In [157]:
cal

           country  year  calorie  norm_calorie  calorie_log32_n
0          Albania  2021      3.4      0.956853        30.619289
1          Algeria  2021      0.7      0.991117        31.715736
2           Angola  2021     59.1      0.250000         8.000000
3          Armenia  2021     20.4      0.741117        23.715736
4        Australia  2021      2.5      0.968274        30.984772
..             ...   ...      ...           ...              ...
140  United States  2021      2.2      0.972081        31.106599
141        Uruguay  2021     30.7      0.610406        19.532995
142     Uzbekistan  2021      5.6      0.928934        29.725888
143        Vietnam  2021      1.9      0.975888        31.228426
144         Zambia  2021     66.3      0.158629         5.076142

[145 rows x 5 columns]

In [159]:
swc = pd.merge(sw, cal, left_on = 'country_c', right_on = 'country', how = 'inner')

In [161]:
swc =  swc[['country_c','safe', 'basic_notshared', 'limited_shared',
       'unimproved', 'open_def', 'atleast_basicsan',
       'norm_basicsan', 'basicsan_log32_n', 'basicw',
       'norm_water', 'water_log32_n', 'calorie',
       'norm_calorie', 'calorie_log32_n']]

In [163]:
swcl = pd.merge(swc, life, on = 'country_c', how = 'inner')
swclp = pd.merge(swcl, pol, on = 'country', how = 'inner')

In [165]:
swclp.shape

(137, 28)

In [167]:
swclp.columns

Index(['country_c', 'safe', 'basic_notshared', 'limited_shared', 'unimproved',
       'open_def', 'atleast_basicsan', 'norm_basicsan', 'basicsan_log32_n',
       'basicw', 'norm_water', 'water_log32_n', 'calorie', 'norm_calorie',
       'calorie_log32_n', 'country', 'year_x', 'avg_life', 'median_life',
       'avg_med_life', 'norm_life_expect', 'norm_with_pts', 'norm_pts_log5',
       'lifeexpect_log32_n', 'year_y', 'pm25', 'norm_pol2', 'pol_log32_n'],
      dtype='object')

In [193]:
swclp['norm_basicsan'] = (swclp['atleast_basicsan']  -swclp['atleast_basicsan'].min()) / (swclp['atleast_basicsan'].max() - swclp['atleast_basicsan'].min())

In [195]:
swclp['norm_water'] = (swclp['basicw']  -swclp['basicw'].min()) / (swclp['basicw'].max() - swclp['basicw'].min())

In [197]:
swclp['norm_calorie'] = 1 - (swclp['calorie']  -swclp['calorie'].min()) / (swclp['calorie'].max() - swclp['calorie'].min())

In [199]:
swclp['norm_life_expect'] = (swclp['avg_life']  -swclp['avg_life'].min()) / (swclp['avg_life'].max() - swclp['avg_life'].min())

In [201]:
swclp['norm_pol2'] = 1 - (swclp['pm25']  -swclp['pm25'].min()) / (swclp['pm25'].max() - swclp['pm25'].min())

In [203]:
swclp['lifeexpect_log32_n'] = swclp['norm_life_expect'] * 32
swclp['pol_log32_n'] =  swclp['norm_pol2'] * 32
swclp['calorie_log32_n'] =  swclp['norm_calorie'] * 32
swclp['water_log32_n'] =  swclp['norm_water'] * 32
swclp['basicsan_log32_n'] =  swclp['norm_basicsan'] * 32

In [205]:
swclp['cat_a_pts'] = swclp['basicsan_log32_n'] + swclp['water_log32_n'] + swclp['calorie_log32_n'] + swclp['lifeexpect_log32_n'] + swclp['pol_log32_n']

In [207]:
swclp = swclp.sort_values('cat_a_pts', ascending = False)

In [211]:
swclp.to_csv('Cat_A_newnorms_0420.csv', index=False, header=True)

In [215]:
swclp['rank'] = swclp['cat_a_pts'].rank(method='min', ascending=False).astype(int)

In [219]:
swclp.to_csv('Cat_A_newnorms_0420.csv', index=False, header=True)

In [29]:
cal['country_c'] = coco.convert(names= cal['country'], to='name_short', not_found=None)

In [31]:
pl = pd.merge(pol, life, on = 'country_c', how = 'outer')
pl = pl[['country_c', 'pm25', 'pol_log32_n', 'avg_life', 'lifeexpect_log32_n']]

In [33]:
pls = pd.merge(pl, san , on = 'country_c', how = 'outer')

In [35]:
plsw = pd.merge(pls, water , on = 'country_c', how = 'outer')

In [39]:
plsw

,country_c,pm25,pol_log32_n,avg_life,lifeexpect_log32_n,country_x,year_x,safe,basic_notshared,limited_shared,unimproved,open_def,atleast_basicsan,norm_basicsan,basicsan_log32_n,country_y,year_y,basicw,norm_water,water_log32_n
0,Afghanistan,65.144432,0.061231,62.79,14.235152,Afghanistan,2019.5,0.000000,0.000000,11.184420,2.639416e+01,10.652288,11.184420,0.111844,3.579014,Afghanistan,2019.0,73.776618,0.592423,18.957539
1,Albania,18.435358,25.072694,78.52,26.437818,Albania,2019.5,51.378289,47.721896,0.661423,2.233335e-01,0.015060,99.761608,0.997616,31.923714,Albania,2019.0,94.613673,0.916283,29.321056
2,Algeria,22.858182,22.704390,75.25,23.901091,Algeria,2019.5,62.406718,23.672696,10.297261,3.414088e+00,0.209238,96.376675,0.963767,30.840535,Algeria,2019.0,94.208876,0.909991,29.119727
3,American Samoa,NaN,NaN,72.73,21.946182,American Samoa,2019.5,37.009776,17.152774,44.336295,8.461956e-01,0.785951,98.498846,0.984988,31.519630,American Samoa,2018.5,99.202472,0.987604,31.603341
4,Andorra,9.209896,30.012683,83.67,30.432970,Andorra,2019.5,99.999998,0.000000,0.000000,1.518333e-06,0.000000,99.999998,1.000000,31.999999,Andorra,2019.0,99.999997,1.000000,31.999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Wallis and Futuna Islands,NaN,NaN,77.78,25.863758,Wallis and Futuna,2019.5,0.000000,0.000000,0.000000,4.260000e-14,5.761823,0.000000,0.000000,0.000000,Wallis and Futuna,2019.0,99.297940,0.989088,31.650823
234,Western Sahara,NaN,NaN,70.08,19.890424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,Yemen,41.104182,12.934144,67.19,17.648485,Yemen,2019.5,18.662888,35.158506,4.948552,3.076384e+01,10.466216,58.769946,0.587699,18.806382,Yemen,2019.0,59.578758,0.371753,11.896093
236,Zambia,17.124224,25.774771,62.31,13.862788,Zambia,2019.5,0.000000,0.000000,20.755097,3.624519e+01,7.519732,20.755097,0.207551,6.641631,Zambia,2019.0,66.516028,0.479575,15.346413
237,Zimbabwe,13.140362,27.908023,60.25,12.264727,Zimbabwe,2019.5,32.680408,2.901816,29.788788,1.611837e+01,18.510614,65.371011,0.653710,20.918723,Zimbabwe,2019.0,63.187546,0.427842,13.690959

In [37]:
plsw = plsw[['country_c', 'pm25', 'pol_log32_n', 'avg_life', 'lifeexpect_log32_n', 'sanitation_value', 'santitation_log32_n', 'water_pct', 'water_log32_n']]

KeyError: "['sanitation_value', 'santitation_log32_n', 'water_pct'] not in index"

In [ ]:
plsw['cata_pts'] =  plsw['pol_log32_n']  + plsw['lifeexpect_log32_n'] + plsw['santitation_log32_n'] + plsw['water_log32_n']

In [27]:
plsw.to_csv('Cat_A_0415_choosethisemily.csv', index=False, header=True)

In [121]:
plsw = plsw.sort_values('cata_pts', ascending = False)

KeyError: 'cata_pts'

In [ ]:
df['A'].fillna(df['A'].mean(), inplace=True)

In [43]:
plswc = pd.merge(plsw, cal, on = 'country_c', how = 'outer')

In [123]:
plswc = pd.merge(plsw, calorie, on = 'country_c', how = 'outer')
plswc = plswc[['country_c', 'pm25', 'pol_log32_n', 'avg_life', 'lifeexpect_log32_n',
       'sanitation_value', 'santitation_log32_n', 'water_pct', 'water_log32_n',
       'calorie', 'calorie_log32_n']]

In [125]:
plswc2 = plswc
plswc2['pol_log32_n'].fillna(plswc2['pol_log32_n'].mean(), inplace=True)

C:\Users\eabro\AppData\Local\Temp\ipykernel_4308\2640346923.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  plswc2['pol_log32_n'].fillna(plswc2['pol_log32_n'].mean(), inplace=True)

In [127]:
plswc2['water_log32_n'].fillna(plswc2['water_log32_n'].mean(), inplace=True)

C:\Users\eabro\AppData\Local\Temp\ipykernel_4308\2048577609.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  plswc2['water_log32_n'].fillna(plswc2['water_log32_n'].mean(), inplace=True)

In [129]:
plswc2['lifeexpect_log32_n'].fillna(plswc2['lifeexpect_log32_n'].mean(), inplace=True)

C:\Users\eabro\AppData\Local\Temp\ipykernel_4308\3596231566.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  plswc2['lifeexpect_log32_n'].fillna(plswc2['lifeexpect_log32_n'].mean(), inplace=True)

In [135]:
plswc2['santitation_log32_n'].fillna(plswc2['santitation_log32_n'].mean(), inplace=True)

C:\Users\eabro\AppData\Local\Temp\ipykernel_4308\2300235529.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  plswc2['santitation_log32_n'].fillna(plswc2['santitation_log32_n'].mean(), inplace=True)

In [137]:
plswc2['calorie_log32_n'].fillna(plswc2['calorie_log32_n'].mean(), inplace=True)

C:\Users\eabro\AppData\Local\Temp\ipykernel_4308\2850886738.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  plswc2['calorie_log32_n'].fillna(plswc2['calorie_log32_n'].mean(), inplace=True)

In [141]:
plswc.columns

Index(['country_c', 'pm25', 'pol_log32_n', 'avg_life', 'lifeexpect_log32_n',
       'sanitation_value', 'santitation_log32_n', 'water_pct', 'water_log32_n',
       'calorie', 'calorie_log32_n'],
      dtype='object')

In [147]:
plswc2['plswc_pts'] = plswc['pol_log32_n'] + plswc['lifeexpect_log32_n'] + plswc['santitation_log32_n'] + plswc['water_log32_n'] + plswc['calorie_log32_n']

In [151]:
plswc2['sanitation_log32_n'] = plswc2['santitation_log32_n']

In [159]:
plswc2 = plswc2[['country_c', 'pm25', 'pol_log32_n', 'avg_life', 'lifeexpect_log32_n',
       'sanitation_value', 'sanitation_log32_n', 'water_pct', 'water_log32_n',
       'calorie', 'calorie_log32_n', 'plswc_pts']]

In [163]:
plswc2 = plswc2.sort_values('plswc_pts', ascending = False)

In [185]:
plswc2 = plswc2.reset_index()

In [171]:
cata_pol_life = plswc2[['pm25', 'lifeexpect_log32_n']]

In [175]:
# There is a negative correlation between life expectancy and pollution levels, which is what I expected.

cata_pol_life.corr()

                        pm25  lifeexpect_log32_n
pm25                1.000000           -0.315935
lifeexpect_log32_n -0.315935            1.000000

In [177]:
cata_san_life = plswc2[['sanitation_value', 'lifeexpect_log32_n']]

In [181]:
# There is a massive correlation of 0.78 between having more citizens with access to adequate sanitation and a higher life expectancy.

cata_san_life.corr()

                    sanitation_value  lifeexpect_log32_n
sanitation_value            1.000000            0.787688
lifeexpect_log32_n          0.787688            1.000000

In [193]:
plswc2.loc[plswc2['country_c'] == 'United States']

,index,country_c,pm25,pol_log32_n,avg_life,lifeexpect_log32_n,sanitation_value,sanitation_log32_n,water_pct,water_log32_n,calorie,calorie_log32_n,plswc_pts
20,230,United States,7.824882,30.754321,78.38,26.329212,99.70488,31.887756,98.255539,31.214454,2.2,31.106599,151.292342

In [199]:
plswc2.to_csv('Cat_A_0415_choosethisemily.csv', index=False, header=True)