In [47]:
import pandas as pd
import numpy as np
import country_converter as coco

In [49]:
atk = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_B\atk_20202021.csv")
crime = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_B\Crime_2024.csv")
func = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_B\func_gov_20192023.csv")
terror = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_B\terror_20172021.csv")
unemploy = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_B\unemploy_20192023.csv")
health = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_B\universalhealth_2021.csv")

# catfun

In [51]:
terror['country_c'] = coco.convert(names= terror['country'], to='name_short', not_found=None)

 Congo not found in regex
Serbia and Montenegro not found in regex

In [53]:
terror

,country,year,terror,norm_terror,norm_terror_withpts_log16,country_c
0,Lesotho,2019,0.0,1.000000,16.000000,Lesotho
1,Rhodesia,2019,0.0,1.000000,16.000000,Zimbabwe
2,Iceland,2019,0.0,1.000000,16.000000,Iceland
3,Solomon Islands,2019,0.0,1.000000,16.000000,Solomon Islands
4,Cuba,2019,0.0,1.000000,16.000000,Cuba
...,...,...,...,...,...,...
193,Nigeria,2019,514.2,0.716068,11.457096,Nigeria
194,Yemen,2019,517.6,0.714191,11.427057,Yemen
195,India,2019,632.6,0.650690,10.411044,India
196,Iraq,2019,1173.4,0.352071,5.633131,Iraq
197,Afghanistan,2019,1811.0,0.000000,0.000000,Afghanistan

In [55]:
terror['norm_terror'] = 1 -(terror['terror'] - terror['terror'].min()) / (terror['terror'].max() - terror['terror'].min())

In [57]:
terror['terror_log16_n'] = terror['norm_terror'] * 16
terror = terror.sort_values('terror_log16_n', ascending = False)
terror.head(15)

,country,year,terror,norm_terror,norm_terror_withpts_log16,country_c,terror_log16_n
0,Lesotho,2019,0.0,1.0,16.0,Lesotho,16.0
29,North Korea,2019,0.0,1.0,16.0,North Korea,16.0
31,Gambia,2019,0.0,1.0,16.0,Gambia,16.0
32,French Polynesia,2019,0.0,1.0,16.0,French Polynesia,16.0
33,French Guiana,2019,0.0,1.0,16.0,French Guiana,16.0
34,Serbia and Montenegro,2019,0.0,1.0,16.0,Serbia and Montenegro,16.0
35,Guinea-Bissau,2019,0.0,1.0,16.0,Guinea-Bissau,16.0
36,Fiji,2019,0.0,1.0,16.0,Fiji,16.0
37,Seychelles,2019,0.0,1.0,16.0,Seychelles,16.0
38,Martinique,2019,0.0,1.0,16.0,Martinique,16.0
39,Singapore,2019,0.0,1.0,16.0,Singapore,16.0
40,Equatorial Guinea,2019,0.0,1.0,16.0,Equatorial Guinea,16.0
41,Falkland Islands,2019,0.0,1.0,16.0,Falkland Islands,16.0
42,East Timor,2019,0.0,1.0,16.0,Timor-Leste,16.0
43,New Hebrides,2019,0.0,1.0,16.0,Vanuatu,16.0

In [59]:
ac = pd.merge(atk, crime, on = 'country_c', how = 'inner')
ac_o = pd.merge(atk, crime, on = 'country_c', how = 'outer')

In [61]:
acf = pd.merge(ac, func, on = 'country_c', how = 'inner')
acf_o = pd.merge(ac_o, func, on = 'country_c', how = 'outer')

In [63]:
acft = pd.merge(acf, terror, on = 'country_c', how = 'inner')
acft_o = pd.merge(acf_o, terror, on = 'country_c', how = 'outer')

In [65]:
acft

,country_c,ineq,norm_atk_ineq,atkineq_log16_n,country_x,crime_rate,safety,norm_crime_rate,norm_crime_rate_log16,country_y,year_x,gov,norm_gov,func_gov_pts,country,year_y,terror,norm_terror,norm_terror_withpts_log16,terror_log16_n
0,Azerbaijan,0.057027,1.000000,16.000000,Azerbaijan,31.6,68.4,0.726208,11.619326,Azerbaijan,2021.5,2.738333,0.284059,4.544952,Azerbaijan,2019,0.6,0.999669,15.994699,15.994699
1,Slovakia,0.099969,0.925573,14.809169,Slovakia,31.1,68.9,0.733529,11.736457,Slovakia,2021.5,6.368333,0.660615,10.569848,Slovakia,2019,0.2,0.999890,15.998233,15.998233
2,Slovenia,0.100301,0.924996,14.799942,Slovenia,24.2,75.8,0.834553,13.352855,Slovenia,2021.5,6.905000,0.716286,11.460581,Slovenia,2019,0.0,1.000000,16.000000,16.000000
3,Czechia,0.104786,0.917223,14.675565,Czech Republic,26.8,73.2,0.796486,12.743777,Czechia,2021.5,6.430000,0.667012,10.672199,Czechia,2019,0.6,0.999669,15.994699,15.994699
4,Iceland,0.106782,0.913764,14.620218,Iceland,25.4,74.6,0.816984,13.071742,Iceland,2021.5,8.988333,0.932400,14.918396,Iceland,2019,0.0,1.000000,16.000000,16.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,Namibia,0.529924,0.180362,2.885796,Namibia,63.9,36.1,0.253294,4.052709,Namibia,2021.5,5.360000,0.556017,8.896266,Namibia,2019,0.0,1.000000,16.000000,16.000000
117,Mozambique,0.553966,0.138691,2.219062,Mozambique,63.7,36.3,0.256223,4.099561,Mozambique,2021.5,1.548333,0.160615,2.569848,Mozambique,2019,94.8,0.947653,15.162452,15.162452
118,Angola,0.557336,0.132851,2.125617,Angola,66.5,33.5,0.215227,3.443631,Angola,2021.5,2.976667,0.308783,4.940526,Angola,2019,1.6,0.999117,15.985864,15.985864
119,South Africa,0.599325,0.060074,0.961184,South Africa,75.4,24.6,0.084919,1.358712,South Africa,2021.5,7.141667,0.740837,11.853389,South Africa,2019,25.0,0.986195,15.779128,15.779128
120,Zambia,0.633985,0.000000,0.000000,Zambia,46.4,53.6,0.509517,8.152269,Zambia,2021.5,3.345000,0.346992,5.551867,Zambia,2019,0.6,0.999669,15.994699,15.994699

In [67]:
acft = acft[['country_c', 'ineq', 'norm_atk_ineq', 'atkineq_log16_n',
       'crime_rate', 'norm_crime_rate', 'norm_crime_rate_log16',
      'gov', 'norm_gov', 'func_gov_pts',
       'terror', 'norm_terror',
       'terror_log16_n']]
acft_o = acft_o[['country_c', 'ineq', 'norm_atk_ineq', 'atkineq_log16_n',
       'crime_rate', 'norm_crime_rate', 'norm_crime_rate_log16',
      'gov', 'norm_gov', 'func_gov_pts',
       'terror', 'norm_terror',
       'terror_log16_n']]

In [69]:
health

,country,year,uhc,norm_uhc,uhc_log16,country_c
0,Canada,2021.0,91.03792,1.000000,16.000000,Canada
1,South Korea,2021.0,89.08912,0.969667,15.514673,South Korea
2,Iceland,2021.0,88.91830,0.967008,15.472132,Iceland
3,Singapore,2021.0,88.51465,0.960725,15.371607,Singapore
4,Germany,2021.0,87.96261,0.952133,15.234128,Germany
...,...,...,...,...,...,...
189,South Sudan,2021.0,34.17734,0.114969,1.839499,South Sudan
190,Central African Republic,2021.0,32.26192,0.085155,1.362485,Central African Republic
191,Papua New Guinea,2021.0,30.39468,0.056092,0.897469,Papua New Guinea
192,Chad,2021.0,29.40162,0.040635,0.650159,Chad
193,Somalia,2021.0,26.79095,0.000000,0.000000,Somalia

In [71]:
acfthu

NameError: name 'acfthu' is not defined

In [73]:
acfth = pd.merge(acft, health,  on = 'country_c', how = 'inner')
acfth_o = pd.merge(acft_o, health,  on = 'country_c', how = 'outer')

In [75]:
acfth = [['country_c', 'ineq', 'norm_atk_ineq', 'atkineq_log16_n', 'crime_rate',
       'norm_crime_rate', 'norm_crime_rate_log16', 'gov', 'norm_gov',
       'func_gov_pts', 'terror', 'norm_terror', 'terror_log16_n', 
        'uhc', 'norm_uhc', 'uhc_log16']]

In [87]:
type(acft)

pandas.core.frame.DataFrame

In [79]:
acfth['acfth_pts'] = acfth['atkineq_log16_n'] + acfth['norm_crime_rate_log16'] + acfth['func_gov_pts'] + acfth['terror_log16_n'] + acfth ['uhc_log16']

TypeError: list indices must be integers or slices, not str

In [81]:
acfth = acfth.sort_values('acfth_pts', ascending = False)
acfth.to_csv('Category_B_final_withpts_0416.csv', index=False, header=True)

AttributeError: 'list' object has no attribute 'sort_values'

In [83]:
health.columns

Index(['country', 'year', 'uhc', 'norm_uhc', 'uhc_log16', 'country_c'], dtype='object')

In [85]:
acfth.to_csv('Category_B_final0416.csv', index=False, header=True)

AttributeError: 'list' object has no attribute 'to_csv'

In [411]:
missing_atk = atk.loc[pd.isna(atk['ineq'])]
missing_crime = crime.loc[pd.isna(crime['crime_rate'])]
missing_func = func.loc[pd.isna(func['gov'])]
missing_terror = terror.loc[pd.isna(terror['terror'])]
missing_health = health.loc[pd.isna(health['uhc'])]

In [413]:
ac_miss = pd.merge(missing_atk, missing_crime, on = 'country_c', how = 'outer')

In [415]:
acf_miss = pd.merge(ac_miss, missing_func, on = 'country_c', how = 'outer')

In [417]:
acft_miss = pd.merge(acf_miss, missing_terror, on = 'country_c', how = 'outer')

In [419]:
missing_crime

Empty DataFrame
Columns: [country, crime_rate, safety, norm_crime_rate, norm_crime_rate_log16, country_c]
Index: []

In [421]:
acfth_miss = pd.merge(acft_miss, missing_health, on = 'country_c', how = 'outer')

MergeError: Passing 'suffixes' which cause duplicate columns {'country_x'} is not allowed.

In [93]:
unem = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_B\unemploy_20192023.csv")

In [95]:
unem

,country,year,unem,norm_unemploy,unemploy_log16_n,country_c
0,Qatar,2021.0,0.12800,1.000000,15.988133,Qatar
1,Cambodia,2021.0,0.23480,0.996928,15.942869,Cambodia
2,Niger,2021.0,0.61700,0.985935,15.780886,Niger
3,Thailand,2021.0,0.97660,0.975592,15.628481,Thailand
4,Burundi,2021.0,1.00840,0.974677,15.615003,Burundi
...,...,...,...,...,...,...
181,Botswana,2021.0,22.24260,0.363923,6.615554,Botswana
182,Palestine,2020.5,25.51125,0.269908,5.230239,Palestine
183,Djibouti,2021.0,26.81280,0.232472,4.678618,Djibouti
184,South Africa,2021.0,27.09460,0.224367,4.559186,South Africa
185,Eswatini,2021.0,34.89520,0.000000,1.253147,Eswatini

In [101]:
acftu = pd.merge(acft, unem, on = 'country_c', how = 'inner')
acftu

,country_c,ineq,norm_atk_ineq,atkineq_log16_n,crime_rate,norm_crime_rate,norm_crime_rate_log16,gov,norm_gov,func_gov_pts,terror,norm_terror,terror_log16_n,country,year,unem,norm_unemploy,unemploy_log16_n
0,Azerbaijan,0.057027,1.000000,16.000000,31.6,0.726208,11.619326,2.738333,0.284059,4.544952,0.6,0.999669,15.994699,Azerbaijan,2021.0,5.9132,0.833602,13.536258
1,Slovakia,0.099969,0.925573,14.809169,31.1,0.733529,11.736457,6.368333,0.660615,10.569848,0.2,0.999890,15.998233,Slovakia,2021.0,6.2714,0.823299,13.384446
2,Slovenia,0.100301,0.924996,14.799942,24.2,0.834553,13.352855,6.905000,0.716286,11.460581,0.0,1.000000,16.000000,Slovenia,2021.0,4.3618,0.878224,14.193770
3,Czechia,0.104786,0.917223,14.675565,26.8,0.796486,12.743777,6.430000,0.667012,10.672199,0.6,0.999669,15.994699,Czechia,2021.0,2.4372,0.933581,15.009451
4,Iceland,0.106782,0.913764,14.620218,25.4,0.816984,13.071742,8.988333,0.932400,14.918396,0.0,1.000000,16.000000,Iceland,2021.0,4.4730,0.875026,14.146641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,Namibia,0.529924,0.180362,2.885796,63.9,0.253294,4.052709,5.360000,0.556017,8.896266,0.0,1.000000,16.000000,Namibia,2021.0,20.1916,0.422916,7.484806
117,Mozambique,0.553966,0.138691,2.219062,63.7,0.256223,4.099561,1.548333,0.160615,2.569848,94.8,0.947653,15.162452,Mozambique,2021.0,3.7298,0.896402,14.461623
118,Angola,0.557336,0.132851,2.125617,66.5,0.215227,3.443631,2.976667,0.308783,4.940526,1.6,0.999117,15.985864,Angola,2021.0,15.6570,0.553343,9.406654
119,South Africa,0.599325,0.060074,0.961184,75.4,0.084919,1.358712,7.141667,0.740837,11.853389,25.0,0.986195,15.779128,South Africa,2021.0,27.0946,0.224367,4.559186
120,Zambia,0.633985,0.000000,0.000000,46.4,0.509517,8.152269,3.345000,0.346992,5.551867,0.6,0.999669,15.994699,Zambia,2021.0,5.7344,0.838745,13.612036

In [103]:
acfthu = pd.merge(acftu, health, on = 'country_c', how = 'inner')
acfthu_o = pd.merge(acfth_o, unem, on = 'country_c', how = 'outer')

In [109]:
acfthu = acfthu[['country_c', 'ineq', 'norm_atk_ineq', 'atkineq_log16_n', 'crime_rate',
       'norm_crime_rate', 'norm_crime_rate_log16', 'gov', 'norm_gov',
       'func_gov_pts', 'terror', 'norm_terror', 'terror_log16_n', 'unem', 'norm_unemploy', 'unemploy_log16_n', 
        'uhc', 'norm_uhc', 'uhc_log16']]

In [111]:
acfthu.to_csv('Category_B_0419.csv', index=False, header=True)

In [429]:
ineq_miss = acfthu_o2.loc[pd.isna(acfthu_o2['ineq'])]

In [431]:
ineq_miss.shape

(42, 7)

In [433]:
crime_miss = acfthu_o2.loc[pd.isna(acfthu_o2['crime_rate'])]
crime_miss.shape

(74, 7)

In [435]:
gov_miss = acfthu_o2.loc[pd.isna(acfthu_o2['gov'])]
gov_miss.shape

(47, 7)

In [437]:
ter_miss = acfthu_o2.loc[pd.isna(acfthu_o2['terror'])]
ter_miss.shape

(20, 7)

In [439]:
uhc_miss = acfthu_o2.loc[pd.isna(acfthu_o2['uhc'])]
uhc_miss.shape

(19, 7)

In [441]:
unem_miss = acfthu_o2.loc[pd.isna(acfthu_o2['unem'])]
unem_miss.shape

(27, 7)

In [443]:
uhc_terr = pd.merge(uhc_miss, ter_miss, on = 'country_c', how = 'outer')

In [445]:
acfthu_o2 = acfthu_o[['country_c', 'ineq','crime_rate',
       'gov', 'terror', 'uhc', 'unem']]

In [447]:
acfthu.loc[acfthu['country_c'] == 'Yemen']

,country_c,ineq,norm_atk_ineq,atkineq_log16_n,crime_rate,norm_crime_rate,norm_crime_rate_log16,gov,norm_gov,func_gov_pts,...,country_x,year_x,uhc,norm_uhc,uhc_log16,country_y,year_y,unem,norm_unemploy,unemploy_log16_n
60,Yemen,0.231884,0.696933,11.150928,68.6,0.18448,2.951684,0.0,0.0,0.0,...,Yemen,2021.0,42.4872,0.244311,3.908978,Yemen,2021.0,17.6506,0.496002,8.561729
61,Yemen,0.231884,0.696933,11.150928,68.6,0.18448,2.951684,0.0,0.0,0.0,...,Yemen,2021.0,42.4872,0.244311,3.908978,Yemen,2021.0,17.6506,0.496002,8.561729
62,Yemen,0.231884,0.696933,11.150928,68.6,0.18448,2.951684,0.0,0.0,0.0,...,Yemen,2021.0,42.4872,0.244311,3.908978,Yemen,2021.0,17.6506,0.496002,8.561729

In [449]:
acfthu['country_c'].tolist()

['Azerbaijan',
 'Slovakia',
 'Slovenia',
 'Czechia',
 'Iceland',
 'Denmark',
 'Belgium',
 'Hungary',
 'United Arab Emirates',
 'Finland',
 'Netherlands',
 'Belarus',
 'Norway',
 'Ukraine',
 'Moldova',
 'Ireland',
 'Serbia',
 'Croatia',
 'Malta',
 'Kazakhstan',
 'Estonia',
 'Austria',
 'Kyrgyz Republic',
 'Cyprus',
 'Sweden',
 'Germany',
 'Armenia',
 'Canada',
 'South Korea',
 'Algeria',
 'United Kingdom',
 'Japan',
 'Luxembourg',
 'Greece',
 'Switzerland',
 'France',
 'Myanmar',
 'Portugal',
 'Poland',
 'New Zealand',
 'Australia',
 'Russia',
 'Egypt',
 'Nigeria',
 'Latvia',
 'Lithuania',
 'Fiji',
 'Spain',
 'Lebanon',
 'North Macedonia',
 'Albania',
 'Vietnam',
 'Venezuela',
 'Montenegro',
 'Thailand',
 'Italy',
 'Romania',
 'Tunisia',
 'Georgia',
 'Argentina',
 'Yemen',
 'Yemen',
 'Yemen',
 'Indonesia',
 'Uruguay',
 'Israel',
 'Jordan',
 'El Salvador',
 'Philippines',
 'Malaysia',
 'Dominican Republic',
 'Bulgaria',
 'Iraq',
 'United States',
 'Morocco',
 'Singapore',
 'Papua New Guinea',
 'Iran',
 'Pakistan',
 'Bolivia',
 'TÃ¼rkiye',
 'Afghanistan',
 'Ecuador',
 'Mexico',
 'China',
 'Mauritius',
 'Nepal',
 'Peru',
 'Guatemala',
 'Paraguay',
 'Jamaica',
 'Honduras',
 'Costa Rica',
 'Nicaragua',
 'Bangladesh',
 'Cambodia',
 'Chile',
 'Ethiopia',
 'Sri Lanka',
 'India',
 'Panama',
 'Sudan',
 'Kenya',
 'Tanzania',
 'Colombia',
 'Brazil',
 'Uganda',
 'Rwanda',
 'Botswana',
 "Cote d'Ivoire",
 'Ghana',
 'Zimbabwe',
 'Zimbabwe',
 'Haiti',
 'Cameroon',
 'Namibia',
 'Mozambique',
 'Angola',
 'South Africa',
 'Zambia']

In [307]:
# Count rows with exactly 1 NaN (i.e., 5 out of 6 columns filled)
count = (acfthu_o2.isna().sum(axis=1) == 1).sum()

print(f"Number of rows missing exactly 1 value: {count}")

Number of rows missing exactly 1 value: 49

In [309]:
rows_missing_one = acfthu_o2[acfthu_o2.isna().sum(axis=1) == 1]

In [311]:
rows_missing_one

,country_c,ineq,crime_rate,gov,terror,uhc,unem
12,Bahamas,0.375543,56.5,NaN,0.0,77.19485,10.71540
13,Bahrain,NaN,23.9,2.651667,4.4,76.03581,1.40600
15,Barbados,0.489836,47.1,NaN,0.0,76.92128,8.80660
19,Benin,0.392599,NaN,5.535000,0.6,37.89256,1.51720
20,Bhutan,0.360829,NaN,6.360000,0.0,60.42171,4.83080
22,Bosnia and Herzegovina,0.265015,NaN,3.465000,0.4,66.47112,13.90680
25,Brunei Darussalam,0.121237,29.5,NaN,0.0,78.34303,5.87500
27,Burkina Faso,0.417612,NaN,2.428333,85.6,39.60456,5.08740
28,Burundi,0.395185,NaN,0.011667,10.0,41.46003,1.00840
33,Central African Republic,0.554031,NaN,0.000000,31.6,32.26192,6.36660
34,Chad,0.401592,NaN,0.000000,9.8,29.40162,1.29420
38,Comoros,0.524441,NaN,2.210000,0.6,48.11962,5.69800
39,Congo Republic,0.551142,NaN,2.500000,0.0,41.00078,21.07460
40,Congo Republic,0.551142,NaN,2.500000,201.6,41.00078,21.07460
45,Cuba,NaN,33.4,3.271667,0.0,82.80738,1.27800
48,DR Congo,0.448150,NaN,0.143333,0.0,41.73901,4.88260
50,Djibouti,0.286921,NaN,1.406667,1.0,43.91182,26.81280
59,Eswatini,0.604970,NaN,2.393333,0.0,55.86385,34.89520
67,Gabon,0.314167,NaN,1.678333,1.0,48.97425,20.75880
68,Gambia,0.381183,NaN,4.290000,0.0,46.15080,5.83140
77,Guinea,0.324387,NaN,0.430000,0.4,39.92434,5.48060
78,Guinea-Bissau,0.391321,NaN,0.000000,0.0,37.24882,3.36960
79,Guyana,NaN,67.3,5.833333,1.4,75.93155,13.80120
99,Kuwait,NaN,32.8,3.870000,0.0,77.81492,2.59420
101,Laos,0.231322,NaN,2.860000,0.2,51.83316,1.84580
104,Lesotho,0.514289,NaN,4.083333,0.0,53.24809,17.29680
105,Liberia,0.364243,NaN,2.770000,0.8,44.70966,3.37700
106,Libya,NaN,60.4,0.000000,90.6,62.11962,19.24580
110,Madagascar,0.448838,NaN,3.630000,0.0,34.94375,3.07360
111,Malawi,0.412327,NaN,4.290000,1.6,48.27469,5.26200
113,Maldives,0.295597,55.0,NaN,1.6,61.41676,4.70760
114,Mali,0.222878,NaN,0.511667,131.8,41.28001,2.86600
118,Mauritania,0.349993,NaN,3.510000,0.2,40.12226,10.72160
124,Mongolia,0.191927,52.4,5.651667,NaN,64.95104,7.19100
136,Niger,0.369471,NaN,1.200000,30.8,34.98468,0.61700
139,North Korea,NaN,51.7,2.500000,0.0,67.97488,2.99400
142,Oman,0.236854,19.0,3.870000,NaN,69.89807,1.97320
145,Palestine,0.314480,42.1,0.116667,80.4,NaN,25.51125
154,Qatar,NaN,16.0,4.230000,0.0,76.42062,0.12800
161,Saudi Arabia,NaN,26.9,3.451667,69.6,74.36740,6.03520
162,Senegal,0.401121,NaN,5.711667,0.8,50.08955,3.10680
166,Sierra Leone,0.359249,NaN,2.860000,0.6,41.00435,3.31460
171,Somalia,0.474051,65.2,NaN,382.0,26.79095,19.17720
184,Syria,NaN,69.1,0.000000,235.6,64.12852,14.14440
186,Tajikistan,0.199264,NaN,1.973333,1.4,67.24715,7.05780
189,Timor-Leste,0.160756,NaN,6.013333,0.0,52.30378,2.26500
190,Togo,0.446840,NaN,1.965000,0.0,44.00792,2.13300
192,Trinidad and Tobago,NaN,70.8,7.081667,0.6,75.00490,4.15280
204,Uzbekistan,NaN,30.5,1.860000,0.0,74.84127,4.92880

In [313]:
# Get a list of country_c values where the row is missing exactly 1 value
country_list = acfthu_o2.loc[acfthu_o2.isna().sum(axis=1) == 1, 'country_c'].tolist()

In [315]:
country_list

['Bahamas',
 'Bahrain',
 'Barbados',
 'Benin',
 'Bhutan',
 'Bosnia and Herzegovina',
 'Brunei Darussalam',
 'Burkina Faso',
 'Burundi',
 'Central African Republic',
 'Chad',
 'Comoros',
 'Congo Republic',
 'Congo Republic',
 'Cuba',
 'DR Congo',
 'Djibouti',
 'Eswatini',
 'Gabon',
 'Gambia',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Kuwait',
 'Laos',
 'Lesotho',
 'Liberia',
 'Libya',
 'Madagascar',
 'Malawi',
 'Maldives',
 'Mali',
 'Mauritania',
 'Mongolia',
 'Niger',
 'North Korea',
 'Oman',
 'Palestine',
 'Qatar',
 'Saudi Arabia',
 'Senegal',
 'Sierra Leone',
 'Somalia',
 'Syria',
 'Tajikistan',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Uzbekistan']

In [343]:
rows_missing_5_or_more = acfthu_o2[acfthu_o2.isna().sum(axis=1) >= 5]

In [355]:
count_missing_5_or_more = (acfthu_o2.isna().sum(axis=1) >= 5).sum()

print(f"Number of rows missing at least 5 values: {count_missing_5_or_more}")

Number of rows missing at least 5 values: 15

### acfthu_o2

In [ ]:
acfthu_o23 = acfthu_o2.loc[pd.isna(acfthu_o2['uhc','unem'])]

In [325]:
count_missing_all = (acfthu_o2.isna().sum(axis=1) == 6).sum()

print(f"Number of rows missing all: {count_missing_5_or_more}")

Number of rows missing all: 15

In [457]:
acfthu['acfthu_pts'] = acfthu['atkineq_log16_n'] + acfthu['norm_crime_rate_log16'] + acfthu['func_gov_pts'] + acfthu['terror_log16_n'] + acfthu['uhc_log16'] + acfthu['unemploy_log16_n']

In [461]:
acfthu = acfthu.sort_values('acfthu_pts', ascending = False)

In [467]:
acfthu = acfthu.reset_index()
acfthu.loc[acfthu['country_c'] == 'United States']

,index,country_c,ineq,norm_atk_ineq,atkineq_log16_n,crime_rate,norm_crime_rate,norm_crime_rate_log16,gov,norm_gov,...,year_x,uhc,norm_uhc,uhc_log16,country_y,year_y,unem,norm_unemploy,unemploy_log16_n,acfthu_pts
41,73,United States,0.256936,0.653512,10.456194,49.3,0.467057,7.472914,6.608333,0.685512,...,2021.0,85.72882,0.917364,14.677827,United States,2021.0,4.8696,0.863619,13.978555,72.947604

In [123]:
acfthu['cat_b_pts'] = acfthu['atkineq_log16_n'] + acfthu['norm_crime_rate_log16'] + acfthu['func_gov_pts'] + acfthu['terror_log16_n'] +acfthu['unemploy_log16_n'] + acfthu['uhc_log16']

C:\Users\eabro\AppData\Local\Temp\ipykernel_79056\3373286301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acfthu['cat_b_pts'] = acfthu['atkineq_log16_n'] + acfthu['norm_crime_rate_log16'] + acfthu['func_gov_pts'] + acfthu['terror_log16_n'] +acfthu['unemploy_log16_n'] + acfthu['uhc_log16']

In [135]:
acfthu.to_csv('Category_B_0420.csv', index=False, header=True)

In [137]:
crime

,country,crime_rate,safety,norm_crime_rate,norm_crime_rate_log16,country_c
0,Venezuela,81.2,18.8,0.000000,0.000000,Venezuela
1,Papua New Guinea,79.7,20.3,0.021962,0.351391,Papua New Guinea
2,Afghanistan,78.3,21.7,0.042460,0.679356,Afghanistan
3,Haiti,77.9,22.1,0.048316,0.773060,Haiti
4,South Africa,75.4,24.6,0.084919,1.358712,South Africa
...,...,...,...,...,...,...
136,Oman,19.0,81.0,0.910688,14.571010,Oman
137,Taiwan,16.7,83.3,0.944363,15.109810,Taiwan
138,Qatar,16.0,84.0,0.954612,15.273792,Qatar
139,United Arab Emirates,15.6,84.4,0.960469,15.367496,United Arab Emirates
140,Andorra,12.9,87.1,1.000000,16.000000,Andorra

In [133]:
acfthu = acfthu.sort_values('cat_b_pts', ascending = False)
acfthu['rank'] = acfthu['cat_b_pts'].rank(method='min', ascending=False)
acfthu

,country_c,ineq,norm_atk_ineq,atkineq_log16_n,crime_rate,norm_crime_rate,norm_crime_rate_log16,gov,norm_gov,func_gov_pts,...,norm_terror,terror_log16_n,unem,norm_unemploy,unemploy_log16_n,uhc,norm_uhc,uhc_log16,cat_b_pts,rank
4,Iceland,0.106782,0.913764,14.620218,25.4,0.816984,13.071742,8.988333,0.932400,14.918396,...,1.000000,16.000000,4.4730,0.875026,14.146641,88.91830,0.967008,15.472132,88.229129,1.0
10,Netherlands,0.126033,0.880397,14.086350,26.3,0.803807,12.860908,9.050000,0.938797,15.020747,...,0.994036,15.904583,3.6988,0.897294,14.474762,85.21300,0.909335,14.549368,86.896717,2.0
12,Norway,0.134010,0.866571,13.865141,32.6,0.711567,11.385066,9.640000,1.000000,16.000000,...,0.999337,15.989398,3.8584,0.892703,14.407120,87.03179,0.937645,15.002317,86.649043,3.0
9,Finland,0.119172,0.892290,14.276635,26.3,0.803807,12.860908,9.345000,0.969398,15.510373,...,0.999227,15.987631,7.1868,0.796970,12.996482,85.67915,0.916591,14.665457,86.297487,4.0
5,Denmark,0.110925,0.906583,14.505320,26.3,0.803807,12.860908,9.170000,0.951245,15.219917,...,0.999669,15.994699,5.0548,0.858292,13.900064,81.96408,0.858766,13.740260,86.221168,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Iraq,0.254750,0.657301,10.516824,44.7,0.534407,8.550512,0.000000,0.000000,0.000000,...,0.352071,5.633131,15.4416,0.559539,9.497944,58.50789,0.493672,7.898754,42.097166,116.0
117,Angola,0.557336,0.132851,2.125617,66.5,0.215227,3.443631,2.976667,0.308783,4.940526,...,0.999117,15.985864,15.6570,0.553343,9.406654,36.72917,0.154688,2.475004,38.377296,117.0
62,Yemen,0.231884,0.696933,11.150928,68.6,0.184480,2.951684,0.000000,0.000000,0.000000,...,0.714191,11.427057,17.6506,0.496002,8.561729,42.48720,0.244311,3.908978,38.000376,118.0
113,Haiti,0.520696,0.196356,3.141693,77.9,0.048316,0.773060,0.678333,0.070367,1.125864,...,0.998785,15.980563,14.8576,0.576336,9.745455,54.13732,0.425645,6.810312,37.576947,119.0
81,Afghanistan,0.292251,0.592303,9.476856,78.3,0.042460,0.679356,0.248333,0.025761,0.412172,...,0.000000,0.000000,12.6708,0.639235,10.672261,40.88461,0.219367,3.509871,24.750515,120.0

In [485]:
category_b = acfthu[['country_c', 'ineq','atkineq_log16_n',
       'crime_rate', 'norm_crime_rate_log16', 'gov',
       'func_gov_pts', 'terror', 'terror_log16_n',
        'uhc', 'uhc_log16','unem', 'unemploy_log16_n', 'acfthu_pts']]
category_b = category_b.drop_duplicates()

In [487]:
category_b_top20 = category_b.head(20)

In [489]:
category_b_bot20 = category_b.sort_values('acfthu_pts', ascending = True)

In [491]:
category_b_bot20 = category_b_bot20.head(20)

In [495]:
category_b_bot20

,country_c,ineq,atkineq_log16_n,crime_rate,norm_crime_rate_log16,gov,func_gov_pts,terror,terror_log16_n,uhc,uhc_log16,unem,unemploy_log16_n,acfthu_pts
119,Afghanistan,0.292251,9.476856,78.3,0.679356,0.248333,0.412172,1811.0,0.000000,40.88461,3.509871,12.6708,10.672261,24.750515
118,Haiti,0.520696,3.141693,77.9,0.773060,0.678333,1.125864,2.2,15.980563,54.13732,6.810312,14.8576,9.745455,37.576947
117,Yemen,0.231884,11.150928,68.6,2.951684,0.000000,0.000000,517.6,11.427057,42.48720,3.908978,17.6506,8.561729,38.000376
116,Angola,0.557336,2.125617,66.5,3.443631,2.976667,4.940526,1.6,15.985864,36.72917,2.475004,15.6570,9.406654,38.377296
115,Iraq,0.254750,10.516824,44.7,8.550512,0.000000,0.000000,1173.4,5.633131,58.50789,7.898754,15.4416,9.497944,42.097166
113,Yemen,0.231884,11.150928,68.6,2.951684,0.000000,0.000000,0.0,16.000000,42.48720,3.908978,17.6506,8.561729,42.573319
112,Mozambique,0.553966,2.219062,63.7,4.099561,1.548333,2.569848,94.8,15.162452,43.99270,4.283906,3.7298,14.461623,42.796452
111,Cameroon,0.528595,2.922635,63.5,4.146413,2.200000,3.651452,136.8,14.791386,43.87635,4.254931,3.7592,14.449163,44.215979
110,South Africa,0.599325,0.961184,75.4,1.358712,7.141667,11.853389,25.0,15.779128,70.95110,10.997599,27.0946,4.559186,45.509197
109,Zimbabwe,0.513789,3.333229,60.9,4.755490,2.500000,4.149378,1.6,15.985864,55.04284,7.035822,8.8760,12.280568,47.540351
108,Zimbabwe,0.513789,3.333229,60.9,4.755490,2.500000,4.149378,0.0,16.000000,55.04284,7.035822,8.8760,12.280568,47.554487
107,Sudan,0.393373,6.672583,45.4,8.386530,1.085000,1.800830,44.0,15.611264,43.53126,4.168990,10.9654,11.395041,48.035239
106,Namibia,0.529924,2.885796,63.9,4.052709,5.360000,8.896266,0.0,16.000000,62.63717,8.927106,20.1916,7.484806,48.246682
105,Cote d'Ivoire,0.456061,4.934136,57.1,5.645681,2.860000,4.746888,6.0,15.946991,42.77569,3.980823,2.4774,14.992414,50.246932
104,Zambia,0.633985,0.000000,46.4,8.152269,3.345000,5.551867,0.6,15.994699,55.83556,7.233240,5.7344,13.612036,50.544112
103,Nigeria,0.187159,12.391219,66.2,3.513909,3.810000,6.323651,514.2,11.457096,38.42341,2.896936,4.6424,14.074846,50.657658
102,Papua New Guinea,0.271712,10.046437,79.7,0.351391,6.070000,10.074689,1.6,15.985864,30.39468,0.897469,2.7318,14.884594,52.240444
101,Ethiopia,0.364550,7.471890,50.8,7.121523,3.213333,5.333333,30.6,15.729652,35.14274,2.079921,3.5788,14.525620,52.261939
100,Botswana,0.454817,4.968638,52.2,6.793558,6.788333,11.266943,0.0,16.000000,55.17985,7.069943,22.2426,6.615554,52.714636
99,Uganda,0.435286,5.510260,55.0,6.137628,3.450000,5.726141,8.6,15.924020,48.56710,5.423110,3.2564,14.662259,53.383418

In [497]:
category_b_bot20.to_csv('Category_B_bottom_20.csv', index=False, header=True)
category_b_top20.to_csv('Category_B_bottom_20.csv', index=False, header=True)

In [141]:
acfthu_newnorms = acfthu

In [145]:
acfthu_newnorms['norm_atk_ineq'] = 1 -(acfthu_newnorms['ineq'] - acfthu_newnorms['ineq'].min()) / (acfthu_newnorms['ineq'].max() - acfthu_newnorms['ineq'].min())

In [159]:
acfthu_newnorms['norm_crime_rate'] = 1 -(acfthu_newnorms['crime_rate'] - acfthu_newnorms['crime_rate'].min()) / (acfthu_newnorms['crime_rate'].max() - acfthu_newnorms['crime_rate'].min())

In [161]:
acfthu_newnorms['norm_gov'] = (acfthu_newnorms['gov'] - acfthu_newnorms['gov'].min()) / (acfthu_newnorms['gov'].max() - acfthu_newnorms['gov'].min())

In [171]:
acfthu_newnorms['norm_terror'] = 1 - (acfthu_newnorms['terror'] - acfthu_newnorms['terror'].min()) / (acfthu_newnorms['terror'].max() - acfthu_newnorms['terror'].min())

In [179]:
acfthu_newnorms['norm_unemploy'] = 1 - (acfthu_newnorms['unem'] - acfthu_newnorms['unem'].min()) / (acfthu_newnorms['unem'].max() - acfthu_newnorms['unem'].min())

In [183]:
acfthu_newnorms['norm_uhc'] = (acfthu_newnorms['uhc'] - acfthu_newnorms['uhc'].min()) / (acfthu_newnorms['uhc'].max() - acfthu_newnorms['uhc'].min())

In [187]:
b = acfthu_newnorms

In [189]:
b['atkineq_log16_n'] = b['norm_atk_ineq'] * 16
b['norm_crimerate_log16_n'] = b['norm_crime_rate'] * 16
b['norm_gov_log16_n'] = b['norm_gov'] * 16
b['terror_log16_n'] = b['norm_terror'] * 16
b['unemploy_log16_n'] = b['norm_unemploy'] * 16
b['uhc_log16_n'] = b['norm_uhc'] * 16

In [197]:
b = b[['country_c', 'ineq', 'norm_atk_ineq', 'atkineq_log16_n', 'crime_rate',
       'norm_crime_rate','norm_crimerate_log16_n', 'gov', 'norm_gov',
        'norm_gov_log16_n', 'terror', 'norm_terror', 'terror_log16_n', 'unem',
       'norm_unemploy', 'unemploy_log16_n', 'uhc', 'norm_uhc', 'uhc_log16',
       'cat_b_pts', 'uhc_log16_n', 'rank']]

In [201]:
#
b['cat_b_pts'] = b['atkineq_log16_n'] + b['norm_crimerate_log16_n'] + b['norm_gov_log16_n'] + b['terror_log16_n'] + b['unemploy_log16_n'] + b['uhc_log16']

C:\Users\eabro\AppData\Local\Temp\ipykernel_79056\3353888636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['cat_b_pts'] = b['atkineq_log16_n'] + b['norm_crimerate_log16_n'] + b['norm_gov_log16_n'] + b['terror_log16_n'] + b['unemploy_log16_n'] + b['uhc_log16']

In [209]:
b = b.sort_values('cat_b_pts', ascending = False)
b['rank'] = b['cat_b_pts'].rank(method='min', ascending=False)

In [213]:
b.to_csv('Category_B_newnorms_0420.csv', index=False, header=True)