In [3]:
import pandas as pd
import numpy as np
import country_converter as coco

In [5]:
hdi = pd.read_csv(r"C:\Users\eabro\Downloads\augmented-human-development-index\augmented-human-development-index.csv")

In [7]:
hdi.columns = ['country', 'code', 'year', 'hdi', 'a']

In [9]:
hdi = hdi[['country', 'year', 'hdi']]

In [11]:
hdi.value_counts('year')

year
2020    174
2015    174
2010    174
2005    174
2000    174
1995    174
1990    174
1985    173
1980    173
1970    158
1975    158
1965    158
1960    158
1955    158
1950    158
1938    133
1933    133
1929    133
1925    133
1913    133
1880    127
1900    127
1890    127
1870    127
Name: count, dtype: int64

In [13]:
hdi = hdi.loc[hdi['year'] >= 2020]

In [15]:
hdi = hdi.sort_values('hdi', ascending = False)

In [17]:
hdi.to_csv('hdi.csv', index=False, header=True)

In [19]:
hdi = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\hdi.csv")

In [21]:
hdi

         country  year       hdi
0    Switzerland  2020  0.885545
1          Japan  2020  0.856736
2      Australia  2020  0.847903
3        Iceland  2020  0.844972
4         Norway  2020  0.841248
..           ...   ...       ...
157       Guinea  2020  0.153434
158         Chad  2020  0.142656
159        Yemen  2020  0.141605
160      Burundi  2020  0.125719
161      Eritrea  2020  0.117805

[162 rows x 3 columns]

In [23]:
hdi['country_c'] = coco.convert(names= hdi['country'], to='name_short', not_found=None)

In [25]:
hdi = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\hdi.csv")

In [27]:
hdi = hdi.groupby('country').mean('hdi')

In [29]:
hdi = hdi.sort_values('hdi', ascending = False)

In [31]:
hdi['norm_hdi'] = (hdi['hdi'] - hdi['hdi'].min()) / (hdi['hdi'].max() - hdi['hdi'].min())

In [33]:
hdi['hdi_log4_n'] = hdi['norm_hdi'] * 4

In [35]:
hdi.to_csv('hdi_2020.csv', index=False, header=True)

In [37]:
hdi

               year       hdi  norm_hdi  hdi_log4_n
country
Switzerland  2020.0  0.885545  1.000000    4.000000
Japan        2020.0  0.856736  0.962475    3.849902
Australia    2020.0  0.847903  0.950970    3.803880
Iceland      2020.0  0.844972  0.947153    3.788611
Norway       2020.0  0.841248  0.942302    3.769208
...             ...       ...       ...         ...
Guinea       2020.0  0.153434  0.046408    0.185631
Chad         2020.0  0.142656  0.032369    0.129476
Yemen        2020.0  0.141605  0.031000    0.123999
Burundi      2020.0  0.125719  0.010308    0.041232
Eritrea      2020.0  0.117805  0.000000    0.000000

[162 rows x 4 columns]

In [73]:
gdp = pd.read_csv(r"C:\Users\eabro\Downloads\gdp-per-capita-worldbank\gdp-per-capita-worldbank.csv")

In [75]:
gdp.columns = ['country', 'code', 'year', 'gdp']

In [79]:
gdp['country_c'] = coco.convert(names= gdp['country'], to='name_short', not_found=None)

East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex

In [41]:
plastic = pd.read_csv(r"C:\Users\eabro\Downloads\plastic-waste-emitted-to-the-ocean-per-capita (3).csv")

In [45]:
plastic.columns = ['country', 'year', 'ocean_plastic']

In [65]:
plastic['country_c'] = coco.convert(names= plastic['country'], to='name_short', not_found=None)

Oceania not found in regex

In [53]:
plastic['norm_oceanplastic'] = 1 - (plastic['ocean_plastic'] - plastic['ocean_plastic'].min()) / (plastic['ocean_plastic'].max() -plastic['ocean_plastic'].min())

In [55]:
plastic = plastic.sort_values('ocean_plastic', ascending = True)

In [59]:
plastic.head(15)

              country  year  ocean_plastic  norm_oceanplastic
79            Lesotho  2019            0.0                1.0
44            Finland  2019            0.0                1.0
62            Iceland  2019            0.0                1.0
75           Kiribati  2019            0.0                1.0
85           Maldives  2019            0.0                1.0
86              Malta  2019            0.0                1.0
87   Marshall Islands  2019            0.0                1.0
90          Mauritius  2019            0.0                1.0
25            Comoros  2019            0.0                1.0
92             Monaco  2019            0.0                1.0
103            Norway  2019            0.0                1.0
116             Qatar  2019            0.0                1.0
117           Reunion  2019            0.0                1.0
123             Samoa  2019            0.0                1.0
127        Seychelles  2019            0.0                1.0

In [61]:
plastic['oceanplastic_log4_n'] = plastic['norm_oceanplastic'] * 4

In [83]:
plastic.to_csv('ocean_plastic_2019.csv', index=False, header=True)

In [103]:
hap = pd.read_csv(r"C:\Users\eabro\Downloads\happiness-cantril-ladder (3)\happiness-cantril-ladder.csv")

In [105]:
hap.columns = ['country', 'code', 'year', 'happiness']

In [209]:
hap.to_csv('hap.csv', index=False, header=True)

In [193]:
hap = hap[hap['year'] >= 2020]

In [195]:
hap = hap.groupby('country').mean('happiness')

In [197]:
hap = hap.sort_values('happiness', ascending = False).reset_index()

In [199]:
hap['norm_hap'] = (hap['happiness'] - hap['happiness'].min()) / (hap['happiness'].max() -hap['happiness'].min())

In [201]:
hap['happiness_log4_n'] = hap['norm_hap'] * 4

In [205]:
hap['country_c'] = coco.convert(names= hap['country'], to='name_short', not_found=None)

In [207]:
hap

,country,year,happiness,norm_hap,happiness_log4_n,country_c
0,Finland,2022.0,7.788800,1.000000,4.000000,Finland
1,Denmark,2022.0,7.589200,0.965673,3.862690,Denmark
2,Iceland,2022.0,7.536200,0.956558,3.826231,Iceland
3,Netherlands,2022.0,7.381400,0.929935,3.719740,Netherlands
4,Sweden,2022.0,7.366200,0.927321,3.709284,Sweden
...,...,...,...,...,...,...
149,Rwanda,2020.5,3.341500,0.235149,0.940598,Rwanda
150,Democratic Republic of Congo,2023.0,3.323667,0.232082,0.928330,DR Congo
151,Zimbabwe,2022.0,3.216200,0.213600,0.854401,Zimbabwe
152,Lebanon,2022.0,3.165200,0.204829,0.819317,Lebanon
153,Afghanistan,2022.0,1.974200,0.000000,0.000000,Afghanistan

In [211]:
hap.to_csv('happiness_20202024.csv', index=False, header=True)

In [173]:
import os
os.getcwd()

'C:\\Users\\eabro\\Documents\\NSS\\Python\\Projects\\Utopia\\EmilyBroh_Capstone\\emilybroh_capstone\\scripts'

In [135]:
free = pd.read_csv(r"C:\Users\eabro\Downloads\freedom-of-expression-index\freedom-of-expression-index.csv")

In [147]:
free = free.loc[free['Year'] >= 2020]

In [151]:
free.columns = ['country', 'code', 'year', 'freedom']

In [155]:
free = free.groupby('country').mean('freedom')

In [159]:
free = free.sort_values('freedom', ascending = False)
free

                year  freedom
country
Denmark       2022.0   0.9850
Switzerland   2022.0   0.9764
Ireland       2022.0   0.9740
Estonia       2022.0   0.9700
Belgium       2022.0   0.9686
...              ...      ...
China         2022.0   0.0524
Turkmenistan  2022.0   0.0392
Eritrea       2022.0   0.0362
Laos          2022.0   0.0340
North Korea   2022.0   0.0120

[179 rows x 2 columns]

In [163]:
free['norm_freedom'] = (free['freedom'] - free['freedom'].min()) / (free['freedom'].max() -free['freedom'].min())

In [167]:
free['freedom_log4_n'] = free['norm_freedom'] * 4

In [171]:
free.to_csv('Freedom_20202024.csv', index=False, header=True)

In [ ]:
# hdi, hap, plastic, free

In [181]:
hdi = hdi.reset_index()

In [187]:
hdi['country_c'] = coco.convert(names= hdi['country'], to='name_short', not_found=None)

In [213]:
hh = pd.merge(hdi, hap, on = 'country_c', how = 'inner')

In [217]:
hhp = pd.merge(hh, plastic,  on = 'country_c', how = 'inner')

In [227]:
free = free.reset_index()

In [329]:
free['country_c'] = coco.convert(names= free['country'], to='name_short', not_found=None)
free

Zanzibar not found in regex

          country    year  freedom  norm_freedom  freedom_log4_n     country_c
0         Denmark  2022.0   0.9850      1.000000        4.000000       Denmark
1     Switzerland  2022.0   0.9764      0.991161        3.964645   Switzerland
2         Ireland  2022.0   0.9740      0.988695        3.954779       Ireland
3         Estonia  2022.0   0.9700      0.984584        3.938335       Estonia
4         Belgium  2022.0   0.9686      0.983145        3.932580       Belgium
..            ...     ...      ...           ...             ...           ...
174         China  2022.0   0.0524      0.041521        0.166084         China
175  Turkmenistan  2022.0   0.0392      0.027955        0.111819  Turkmenistan
176       Eritrea  2022.0   0.0362      0.024872        0.099486       Eritrea
177          Laos  2022.0   0.0340      0.022610        0.090442          Laos
178   North Korea  2022.0   0.0120      0.000000        0.000000   North Korea

[179 rows x 6 columns]

In [331]:
free.to_csv('free_20202024.csv', index=False, header=True)

In [231]:
hhf = pd.merge(hh, free,  on = 'country_c', how = 'inner')
hhf

,country_x,year_x,hdi,norm_hdi,hdi_log4_n,country_c,country_y,year_y,happiness,norm_hap,happiness_log4_n,country,year,freedom,norm_freedom,freedom_log4_n
0,Switzerland,2020.0,0.885545,1.000000,4.000000,Switzerland,Switzerland,2022.0,7.26360,0.909676,3.638703,Switzerland,2022.0,0.9764,0.991161,3.964645
1,Japan,2020.0,0.856736,0.962475,3.849902,Japan,Japan,2022.0,6.06300,0.703195,2.812782,Japan,2022.0,0.8534,0.864748,3.458993
2,Australia,2020.0,0.847903,0.950970,3.803880,Australia,Australia,2022.0,7.09420,0.880542,3.522168,Australia,2022.0,0.9256,0.938952,3.755807
3,Iceland,2020.0,0.844972,0.947153,3.788611,Iceland,Iceland,2022.0,7.53620,0.956558,3.826231,Iceland,2022.0,0.9202,0.933402,3.733607
4,Norway,2020.0,0.841248,0.942302,3.769208,Norway,Norway,2022.0,7.32720,0.920614,3.682455,Norway,2022.0,0.9436,0.957451,3.829805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Afghanistan,2020.0,0.180436,0.081577,0.326309,Afghanistan,Afghanistan,2022.0,1.97420,0.000000,0.000000,Afghanistan,2022.0,0.2132,0.206783,0.827133
139,Guinea,2020.0,0.153434,0.046408,0.185631,Guinea,Guinea,2022.0,4.97980,0.516906,2.067623,Guinea,2022.0,0.5566,0.559712,2.238849
140,Chad,2020.0,0.142656,0.032369,0.129476,Chad,Chad,2022.0,4.37160,0.412307,1.649228,Chad,2022.0,0.4874,0.488592,1.954368
141,Yemen,2020.0,0.141605,0.031000,0.123999,Yemen,Yemen,2022.0,3.74425,0.304415,1.217659,Yemen,2022.0,0.1998,0.193011,0.772045
142,Burundi,2020.0,0.125719,0.010308,0.041232,Burundi,Burundi,2020.0,3.77500,0.309703,1.238813,Burundi,2022.0,0.1764,0.168962,0.675848

In [261]:
renew = pd.read_excel(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\renewable.xlsx")

In [263]:
renew

           Entity Code  Year  Renewables - % electricity
0     Afghanistan  AFG  2000                   64.583336
1     Afghanistan  AFG  2001                   72.463770
2     Afghanistan  AFG  2002                   78.873245
3     Afghanistan  AFG  2003                   69.230770
4     Afghanistan  AFG  2004                   70.886070
...           ...  ...   ...                         ...
6031     Zimbabwe  ZWE  2018                   55.720340
6032     Zimbabwe  ZWE  2019                   51.707893
6033     Zimbabwe  ZWE  2020                   58.569298
6034     Zimbabwe  ZWE  2021                   70.330970
6035     Zimbabwe  ZWE  2022                   67.301230

[6036 rows x 4 columns]

In [265]:
renew.columns = ['country', 'code', 'year', 'renew']

In [267]:
renew = renew[(renew['year'] >= 2018) & (renew['year'] <= 2022)]

In [269]:
renew = renew.groupby('country').mean('renew')

In [275]:
renew = renew.sort_values('renew', ascending = False).reset_index()
renew['

                      country    year  renew
0                      Bhutan  2020.0  100.0
1                     Iceland  2020.0  100.0
2                    Paraguay  2020.0  100.0
3                       Nepal  2020.0  100.0
4    Central African Republic  2020.0  100.0
..                        ...     ...    ...
210    British Virgin Islands  2020.0    0.0
211                Montserrat  2020.0    0.0
212                  Kiribati  2020.0    0.0
213                    Gambia  2020.0    0.0
214                East Timor  2020.0    0.0

[215 rows x 3 columns]

In [279]:
renew.to_csv('renew_20182022.csv', index=False, header=True)

In [281]:
renew = renew[~renew['country_c'].isin(['South America', 'Europe'])]

In [283]:
renew['country_c'] = coco.convert(names= renew['country'], to='name_short', not_found=None)

C:\Users\eabro\AppData\Local\Temp\ipykernel_800\2847049951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  renew['country_c'] = coco.convert(names= renew['country'], to='name_short', not_found=None)

In [287]:
renew['norm_renew'] = (renew['renew'] - renew['renew'].min()) / (renew['renew'].max() - renew['renew'].min())

C:\Users\eabro\AppData\Local\Temp\ipykernel_800\3312042438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  renew['norm_renew'] = (renew['renew'] - renew['renew'].min()) / (renew['renew'].max() - renew['renew'].min())

In [293]:
renew['renew_log4_n'] = renew['norm_renew'] * 4

C:\Users\eabro\AppData\Local\Temp\ipykernel_800\2807257241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  renew['renew_log4_n'] = renew['norm_renew'] * 4

In [295]:
renew

,country,year,renew,country_c,norm_renew,renew_log4_n
0,Bhutan,2020.0,100.0,Bhutan,1.0,4.0
1,Iceland,2020.0,100.0,Iceland,1.0,4.0
2,Paraguay,2020.0,100.0,Paraguay,1.0,4.0
3,Nepal,2020.0,100.0,Nepal,1.0,4.0
4,Central African Republic,2020.0,100.0,Central African Republic,1.0,4.0
...,...,...,...,...,...,...
210,British Virgin Islands,2020.0,0.0,British Virgin Islands,0.0,0.0
211,Montserrat,2020.0,0.0,Montserrat,0.0,0.0
212,Kiribati,2020.0,0.0,Kiribati,0.0,0.0
213,Gambia,2020.0,0.0,Gambia,0.0,0.0
214,East Timor,2020.0,0.0,Timor-Leste,0.0,0.0

In [297]:
renew.to_csv('renew_20182022.csv', index=False, header=True)

In [307]:
hhf = hhf[['country_c', 'hdi', 'hdi_log4_n',
       'happiness','happiness_log4_n',
       'freedom', 'freedom_log4_n']]

In [309]:
hhfr = pd.merge(hhf, renew, on = 'country_c', how = 'inner')

In [313]:
hhfr = hhfr[['country_c', 'hdi', 'hdi_log4_n', 'happiness', 'happiness_log4_n',
       'freedom', 'freedom_log4_n', 'renew', 'renew_log4_n']]

In [317]:
hhfr['hhfr_pts'] = hhfr['hdi_log4_n'] + hhfr['happiness_log4_n'] + hhfr['freedom_log4_n'] +  hhfr['renew_log4_n']

In [321]:
hhfr = hhfr.sort_values('hhfr_pts', ascending = False)

In [325]:
hhfr.to_csv('Category_D_0417.csv', index=False, header=True)

In [501]:
hhfr

,country_c,hdi,hdi_log4_n,happiness,happiness_log4_n,freedom,freedom_log4_n,renew,renew_log4_n,hhfr_pts
3,Iceland,0.844972,3.788611,7.53620,3.826231,0.9202,3.733607,100.000000,4.000000,15.348448
4,Norway,0.841248,3.769208,7.32720,3.682455,0.9436,3.829805,98.489598,3.939584,15.221052
10,Denmark,0.800761,3.558268,7.58920,3.862690,0.9850,4.000000,77.999250,3.119970,14.540928
8,New Zealand,0.811642,3.614957,7.11620,3.537303,0.9450,3.835560,83.126475,3.325059,14.312879
0,Switzerland,0.885545,4.000000,7.26360,3.638703,0.9764,3.964645,61.217775,2.448711,14.052059
...,...,...,...,...,...,...,...,...,...,...
140,Chad,0.142656,0.129476,4.37160,1.649228,0.4874,1.954368,5.890693,0.235628,3.968699
113,Bangladesh,0.268113,0.783120,4.43980,1.696144,0.3512,1.394450,1.456708,0.058268,3.931982
107,Azerbaijan,0.284564,0.868831,5.02800,2.100781,0.1500,0.567318,6.322264,0.252891,3.789820
95,Egypt,0.320534,1.056235,4.10700,1.467203,0.1650,0.628983,10.922605,0.436904,3.589325
141,Yemen,0.141605,0.123999,3.74425,1.217659,0.1998,0.772045,17.052186,0.682087,2.795791

In [335]:
cat_d = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\All Categories_Points\Category_D_0417.csv")

In [339]:
cat_d.loc[cat_d['country_c'] == 'Cyprus']

,country_c,hdi,hdi_log4_n,happiness,happiness_log4_n,freedom,freedom_log4_n,renew,renew_log4_n,hhfr_pts
50,Cyprus,0.714593,3.109322,6.1168,2.849792,0.8352,3.384173,12.78376,0.51135,9.854637
53,Cyprus,0.714593,3.109322,5.5015,2.426513,0.8352,3.384173,12.78376,0.51135,9.431358

In [343]:
hap.loc[hap['country_c'] == 'Cyprus']

            country    year  happiness  norm_hap  happiness_log4_n country_c
51           Cyprus  2022.0     6.1168  0.712448          2.849792    Cyprus
82  Northern Cyprus  2020.5     5.5015  0.606628          2.426513    Cyprus

In [345]:
cat_c

NameError: name 'cat_c' is not defined

In [347]:
perc = pd.read_csv(r"C:\Users\eabro\Downloads\average-rating-of-corruption-perception (2)\average-rating-of-corruption-perception.csv")

In [359]:
perc.columns = ['country','code', 'year', 'corruption']

In [361]:
perc['country_c'] = coco.convert(names= perc['country'], to='name_short', not_found=None)

In [367]:
perc['norm_corruption'] = perc['corruption'] + perc['corruption'] + perc['corruption'] +  perc['corruption']

In [373]:
perc = perc.sort_values('corruption', ascending = False)

In [375]:
perc

         country code  year  corruption    country_c  norm_corruption
60      Mongolia  MNG  2013         4.8     Mongolia             19.2
50       Liberia  LBR  2013         4.8      Liberia             19.2
106     Zimbabwe  ZWE  2013         4.7     Zimbabwe             18.8
79        Serbia  SRB  2013         4.7       Serbia             18.8
58        Mexico  MEX  2013         4.7       Mexico             18.8
..           ...  ...   ...         ...          ...              ...
29       Finland  FIN  2013         2.9      Finland             11.6
90   Switzerland  CHE  2013         2.7  Switzerland             10.8
89         Sudan  SDN  2013         2.6        Sudan             10.4
23       Denmark  DNK  2013         2.2      Denmark              8.8
77        Rwanda  RWA  2013         2.0       Rwanda              8.0

[107 rows x 6 columns]

In [598]:
free = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_D_E\free_20202024.csv")
hap = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_D_E\happiness_20202024.csv")
hdi = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_D_E\hdi_withpts_onlycountries.csv")
p = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_D_E\ocean_plastic_2019.csv")
renew = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_D_E\renew_20182022.csv")
res = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_D_E\Research_20162020.csv")

In [600]:
d = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\All Categories_Points\Category_D_0417.csv")

In [602]:
d = pd.merge(d, res, on = 'country_c', how = 'inner')

In [604]:
d.columns

Index(['country_c', 'hdi', 'hdi_log4_n', 'happiness', 'happiness_log4_n',
       'freedom', 'freedom_log4_n', 'renew', 'renew_log4_n', 'hhfr_pts',
       'country', 'year', 'research', 'norm_research', 'research_log8_n'],
      dtype='object')

In [647]:
d

,country_c,hdi,happiness,freedom,renew,research,norm_hdi_420,norm_freedom_420,norm_renew_420,norm_hap_420,norm_res_420,free_log4_420,renew_log4_420,hap_log4_420,res_log4_420,cat_d_pts
0,Iceland,0.844972,7.53620,0.9202,100.000000,668.916,0.946602,0.931861,1.000000,0.956558,0.001206,3.727445,4.000000,3.826231,0.004824,11.558499
1,Norway,0.841248,7.32720,0.9436,98.489598,12103.958,0.941701,0.956467,0.984896,0.920614,0.022262,3.825868,3.939584,3.682455,0.089049,11.536955
8,Costa Rica,0.587915,6.89780,0.9314,99.511202,526.710,0.608292,0.943638,0.995112,0.846765,0.000944,3.774553,3.980448,3.387060,0.003777,11.145838
2,Denmark,0.800761,7.58920,0.9850,77.999250,14588.752,0.888417,1.000000,0.779992,0.965673,0.026838,4.000000,3.119970,3.862690,0.107351,11.090011
30,United States,0.749612,6.85420,0.9164,19.830755,437516.896,0.821100,0.927865,0.198308,0.839267,0.805606,3.711462,0.793230,3.357067,3.222422,11.084181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Bangladesh,0.268113,4.43980,0.3512,1.456708,3721.178,0.187404,0.333544,0.014567,0.424036,0.006826,1.334175,0.058268,1.696144,0.027306,3.115893
138,Azerbaijan,0.284564,5.02800,0.1500,6.322264,793.356,0.209055,0.121977,0.063223,0.525195,0.001435,0.487907,0.252891,2.100781,0.005741,2.847320
135,Belarus,0.355597,5.67750,0.0610,2.957151,1189.342,0.302540,0.028391,0.029572,0.636897,0.002164,0.113565,0.118286,2.547587,0.008657,2.788095
140,Yemen,0.141605,3.74425,0.1998,17.052186,172.784,0.020907,0.174343,0.170522,0.304415,0.000292,0.697371,0.682087,1.217659,0.001170,2.598288
139,Egypt,0.320534,4.10700,0.1650,10.922605,13715.810,0.256394,0.137750,0.109226,0.366801,0.025230,0.550999,0.436904,1.467203,0.100921,2.556027

d = d[['country_c', 'hdi', 'norm_hdi_420', 'happiness', 'norm_hap_420',
       'freedom',  'norm_freedom_420', 'renew','norm_renew_420',
       'research', 'norm_res_420']]

In [609]:
d['norm_hdi_420'] = (d['hdi'] - d['hdi'] .min()) / (d['hdi'] .max() - d['hdi'].min())

In [611]:
d['norm_freedom_420'] = (d['freedom'] - d['freedom'] .min()) / (d['freedom'] .max() - d['freedom'].min())

In [613]:
d['norm_renew_420'] = (d['renew'] - d['renew'] .min()) / (d['renew'].max() - d['renew'].min())

In [615]:
d['norm_hap_420'] = (d['happiness'] - d['happiness'] .min()) / (d['happiness'] .max() - d['happiness'].min())

In [ ]:
d['norm_res_420'] =  (d['research'] - d['research'] .min()) / (d['research'] .max() - d['research'].min())

In [617]:
d['norm_res_420'] =  (d['research'] - d['research'] .min()) / (d['research'] .max() - d['research'].min())
d['norm_renew_420'] = (d['renew'] - d['renew'] .min()) / (d['renew'].max() - d['renew'].min())
d['norm_freedom_420'] = (d['freedom'] - d['freedom'] .min()) / (d['freedom'] .max() - d['freedom'].min())
d['norm_hdi_420'] = (d['hdi'] - d['hdi'] .min()) / (d['hdi'] .max() - d['hdi'].min())

In [625]:
d = d[['country_c', 'hdi', 'happiness',
       'freedom', 'renew', 'research', 'norm_hdi_420', 'norm_freedom_420', 'norm_renew_420', 'norm_hap_420',
       'norm_res_420']]

In [657]:
d['free_log4_420'] = d['norm_freedom_420'] * 4
d['renew_log4_420'] = d['norm_renew_420'] * 4
d['hap_log4_420'] = d['norm_hap_420'] * 4
d['res_log4_420'] = d['norm_res_420'] * 4
d['hdi_log4_420'] = d['norm_hdi_420'] * 4

In [641]:
d = d.sort_values('research', ascending = False)
d['cat_d_pts'] =  d['free_log4_420'] + d['renew_log4_420'] + d['hap_log4_420'] + d['res_log4_420'] + d['

In [663]:
d = d.sort_values('cat_d_pts', ascending = False)
d['cat_d_pts'] = d['cat_d_pts'] + d['hdi_log4_420']

In [667]:
d = d.sort_values('cat_d_pts', ascending = False)

In [671]:
d['rank'] = d['cat_d_pts'].rank(method='min', ascending=False).astype(int)

In [679]:
d.drop_duplicates()

,country_c,hdi,happiness,freedom,renew,research,norm_hdi_420,norm_freedom_420,norm_renew_420,norm_hap_420,norm_res_420,free_log4_420,renew_log4_420,hap_log4_420,res_log4_420,cat_d_pts,hdi_log4_420,rank
0,Iceland,0.844972,7.53620,0.9202,100.000000,668.916,0.946602,0.931861,1.000000,0.956558,0.001206,3.727445,4.000000,3.826231,0.004824,15.344908,3.786409,1
1,Norway,0.841248,7.32720,0.9436,98.489598,12103.958,0.941701,0.956467,0.984896,0.920614,0.022262,3.825868,3.939584,3.682455,0.089049,15.303759,3.766805,2
2,Denmark,0.800761,7.58920,0.9850,77.999250,14588.752,0.888417,1.000000,0.779992,0.965673,0.026838,4.000000,3.119970,3.862690,0.107351,14.643678,3.553667,3
30,United States,0.749612,6.85420,0.9164,19.830755,437516.896,0.821100,0.927865,0.198308,0.839267,0.805606,3.711462,0.793230,3.357067,3.222422,14.368582,3.284401,4
3,New Zealand,0.811642,7.11620,0.9450,83.126475,8346.632,0.902737,0.957939,0.831265,0.884326,0.015344,3.831756,3.325059,3.537303,0.061374,14.366439,3.610947,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Chad,0.142656,4.37160,0.4874,5.890693,13.950,0.022291,0.476761,0.058907,0.412307,0.000000,1.907045,0.235628,1.649228,0.000000,3.881064,0.089163,137
137,Bangladesh,0.268113,4.43980,0.3512,1.456708,3721.178,0.187404,0.333544,0.014567,0.424036,0.006826,1.334175,0.058268,1.696144,0.027306,3.865507,0.749615,138
138,Azerbaijan,0.284564,5.02800,0.1500,6.322264,793.356,0.209055,0.121977,0.063223,0.525195,0.001435,0.487907,0.252891,2.100781,0.005741,3.683538,0.836218,139
139,Egypt,0.320534,4.10700,0.1650,10.922605,13715.810,0.256394,0.137750,0.109226,0.366801,0.025230,0.550999,0.436904,1.467203,0.100921,3.581602,1.025574,140
140,Yemen,0.141605,3.74425,0.1998,17.052186,172.784,0.020907,0.174343,0.170522,0.304415,0.000292,0.697371,0.682087,1.217659,0.001170,2.681917,0.083629,141

In [675]:
d.to_csv('Category_D_newnorms_0420.csv', index=False, header=True)

In [685]:
d['cat_d_pts'] = d['cat_d_pts'] - d['res_log4_420']

In [723]:
art = pd.read_excel(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_D_E_5\scientific-publications-per-million.xlsx")

In [725]:
art.columns = ['country', 'code', 'year', 'articles']

In [727]:
art = art.loc[art['year'] >= 2016]

In [729]:
art = art.groupby('country').mean('articles').reset_index()

In [731]:
art = art.loc[art['country'] != 'World']

In [737]:
art['norm_articles'] = (art['articles'] - art['articles'].min()) / (art['articles'].max() -art['articles'].min())

In [743]:
art['articles_log4'] = art['norm_articles'] * 4

In [747]:
d = pd.merge(art, d, left_on = 'country', right_on = 'country_c', how = 'inner')

In [751]:
d['cat_d_pts'] = d['articles_log4'] + d['cat_d_pts']

In [757]:
d = d.sort_values('cat_d_pts', ascending = False)
d['rank'] = d['cat_d_pts'].rank(method='min', ascending=False).astype(int)

In [759]:
d

,country,year,articles,norm_articles,articles_log4,country_c,hdi,happiness,freedom,renew,...,norm_renew_420,norm_hap_420,norm_res_420,free_log4_420,renew_log4_420,hap_log4_420,res_log4_420,cat_d_pts,hdi_log4_420,rank
94,Norway,2018.0,2278.031820,0.865294,3.461176,Norway,0.841248,7.32720,0.9436,98.489598,...,0.984896,0.920614,0.022262,3.825868,3.939584,3.682455,0.089049,18.675887,3.766805,1
32,Denmark,2018.0,2529.636200,0.960896,3.843584,Denmark,0.800761,7.58920,0.9850,77.999250,...,0.779992,0.965673,0.026838,4.000000,3.119970,3.862690,0.107351,18.379912,3.553667,2
53,Iceland,2018.0,1901.521980,0.722232,2.888927,Iceland,0.844972,7.53620,0.9202,100.000000,...,1.000000,0.956558,0.001206,3.727445,4.000000,3.826231,0.004824,18.229011,3.786409,3
118,Switzerland,2018.0,2632.549380,1.000000,4.000000,Switzerland,0.885545,7.26360,0.9764,61.217775,...,0.612178,0.909676,0.041231,3.963828,2.448711,3.638703,0.164923,18.051241,4.000000,4
90,New Zealand,2018.0,1718.840580,0.652818,2.611273,New Zealand,0.811642,7.11620,0.9450,83.126475,...,0.831265,0.884326,0.015344,3.831756,3.325059,3.537303,0.061374,16.916338,3.610947,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,Chad,2018.0,0.893049,0.000050,0.000200,Chad,0.142656,4.37160,0.4874,5.890693,...,0.058907,0.412307,0.000000,1.907045,0.235628,1.649228,0.000000,3.881264,0.089163,133
9,Bangladesh,2018.0,22.651959,0.008318,0.033271,Bangladesh,0.268113,4.43980,0.3512,1.456708,...,0.014567,0.424036,0.006826,1.334175,0.058268,1.696144,0.027306,3.871472,0.749615,134
7,Azerbaijan,2018.0,78.077186,0.029378,0.117510,Azerbaijan,0.284564,5.02800,0.1500,6.322264,...,0.063223,0.525195,0.001435,0.487907,0.252891,2.100781,0.005741,3.795308,0.836218,135
35,Egypt,2018.0,131.700306,0.049753,0.199011,Egypt,0.320534,4.10700,0.1650,10.922605,...,0.109226,0.366801,0.025230,0.550999,0.436904,1.467203,0.100921,3.679692,1.025574,136
134,Yemen,2018.0,5.554291,0.001821,0.007284,Yemen,0.141605,3.74425,0.1998,17.052186,...,0.170522,0.304415,0.000292,0.697371,0.682087,1.217659,0.001170,2.688031,0.083629,137

In [761]:
d.to_csv('Category_D_newnorms_0423.csv', index=False, header=True)