import pandas as pd
import numpy as np
import seaborn as sna
import matplotlib.pyplot as plt

# I'm currently not sure if I'll be using a logarithmic point system, or a descending point system of 5-1 (A-E), so I'm adding columns with both measurements.

In [96]:
undernourish = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Maslow_A\prevalence-of-undernourishment.csv")

In [98]:
undernourish.columns = ['country', 'code', 'year', 'undernourish']

In [100]:
undernourish['year'].max()

2023

In [102]:
undernourish = undernourish.loc[undernourish['year'] >= 2013]

In [104]:
undernourish = undernourish.groupby('country').mean('undernourish')
undernourish = undernourish.sort_values('undernourish', ascending = False).reset_index()

In [108]:
undernourish['norm_undernourish'] = 1 - (undernourish['undernourish'] - undernourish['undernourish'].min()) / (undernourish['undernourish'].max() - undernourish['undernourish'].min())

In [110]:
undernourish.columns

Index(['country', 'year', 'undernourish', 'norm_undernourish'], dtype='object')

In [112]:
undernourish.columns = ['country', 'year', 'pct_undernourish', 'norm_undernourish']

In [114]:
undernourish

                   country    year  pct_undernourish  norm_undernourish
0                  Somalia  2017.5             56.31           0.000000
1              North Korea  2015.5             43.85           0.231555
2                    Haiti  2017.5             42.45           0.257573
3                    Yemen  2017.5             37.40           0.351422
4                  Liberia  2017.5             36.37           0.370563
..                     ...     ...               ...                ...
206                Belgium  2017.5              2.50           1.000000
207  Southern Europe (FAO)  2018.0              2.50           1.000000
208                  Spain  2017.5              2.50           1.000000
209                 Cyprus  2017.5              2.50           1.000000
210                Czechia  2017.5              2.50           1.000000

[211 rows x 4 columns]

In [118]:
undernourish.to_csv('norm_undernourish0409_high.csv', index=False, header=True)

In [120]:
safe_water = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Maslow_A\share-of-the-population-using-safely-managed-drinking-water-sources.csv")

In [132]:
safe_water.columns = ['country', 'year', 'safe_water_use']

In [134]:
safe_water['year'].max()

2022

In [140]:
safe_water = safe_water.loc[safe_water['year'] >= 2012]

In [144]:
safe_water = safe_water.groupby('country').mean('safe_water_use').reset_index()

In [148]:
safe_water = safe_water.sort_values('safe_water_use', ascending = False)

In [152]:
safe_water['norm_safewater'] =  (safe_water['safe_water_use'] - safe_water['safe_water_use'].min()) / (safe_water['safe_water_use'].max() - safe_water['safe_water_use'].min())

In [223]:
safe_water['norm_with_pts'] = safe_water['norm_safewater'] * 5

In [225]:
safe_water.to_csv('norm_safewater_high0409.csv', index=False, header=True)

In [1492]:
sanitation = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Maslow_A\SYB67_315_202411_Water and Sanitation Services.csv")

In [169]:
without_good_water = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Maslow_A\share-without-improved-water (5)\share-without-improved-water.csv")

In [173]:
without_good_water.columns = ['country', 'code', 'year', 'pct_without_goodwater']

In [177]:
without_good_water['year'].max()

2022

In [181]:
without_good_water = without_good_water.loc[without_good_water['year'] >= 2012]

In [183]:
without_good_water = without_good_water.groupby('country').mean('pct_without_goodwater')

In [187]:
without_good_water = without_good_water.sort_values('pct_without_goodwater', ascending = False)

In [189]:
without_good_water

                                year  pct_without_goodwater
country
Papua New Guinea              2017.0              52.917086
Madagascar                    2017.0              46.579328
Democratic Republic of Congo  2017.0              44.341000
Oceania (SDG)                 2017.0              40.898249
Chad                          2017.0              38.673792
...                              ...                    ...
Gibraltar                     2017.0               0.000000
Slovakia                      2017.0               0.000000
Singapore                     2017.0               0.000000
Monaco                        2017.0               0.000000
Greenland                     2017.0               0.000000

[253 rows x 2 columns]

In [215]:
without_good_water['norm_pct_wo_goodwater'] = 1 - (without_good_water['pct_without_goodwater'] - without_good_water['pct_without_goodwater'].min()) / (without_good_water['pct_without_goodwater'].max() - without_good_water['pct_without_goodwater'].min())

In [217]:
without_good_water['norm_with_pts'] = without_good_water['norm_pct_wo_goodwater'] * 5

In [219]:
without_good_water = without_good_water.to_csv('norm_wo_goodwatersources0409_wpts.csv', index=False, header=True)

,year,pct_without_goodwater,norm_pct_wo_goodwater,norm_with_pts
country,,,,
Papua New Guinea,2017.0,52.917086,0.000000,0.000000
Madagascar,2017.0,46.579328,0.119768,0.598839
Democratic Republic of Congo,2017.0,44.341000,0.162066,0.810332
Oceania (SDG),2017.0,40.898249,0.227126,1.135629
Chad,2017.0,38.673792,0.269162,1.345812
...,...,...,...,...
Gibraltar,2017.0,0.000000,1.000000,5.000000
Slovakia,2017.0,0.000000,1.000000,5.000000
Singapore,2017.0,0.000000,1.000000,5.000000
Monaco,2017.0,0.000000,1.000000,5.000000
Greenland,2017.0,0.000000,1.000000,5.000000

In [227]:
food_insecure = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Maslow_A\share-of-population-with-moderate-or-severe-food-insecurity\share-of-population-with-moderate-or-severe-food-insecurity.csv")

In [237]:
food_insecure.columns = ['country', 'code', 'year', 'food_insecure']

In [243]:
food_insecure = food_insecure.groupby('country').mean('food_insecure')

In [249]:
food_insecure = food_insecure.sort_values('food_insecure', ascending = True)
food_insecure

                                 year  food_insecure
country
Italy                     2021.500000       2.100000
Kazakhstan                2019.500000       2.416667
Switzerland               2018.500000       2.937500
Luxembourg                2018.500000       3.312500
Japan                     2018.500000       3.600000
...                               ...            ...
Liberia                   2018.571429      80.685714
Central African Republic  2020.500000      81.300000
Haiti                     2020.500000      82.650000
Sierra Leone              2018.500000      84.137500
South Sudan               2019.500000      86.116667

[189 rows x 2 columns]

In [251]:
food_insecure['norm_food_insecure']= 1 - (food_insecure['food_insecure'] - food_insecure['food_insecure'].min()) / (food_insecure['food_insecure'].max() - food_insecure['food_insecure'].min())

In [255]:
food_insecure['norm_with_pts'] = food_insecure['norm_food_insecure'] * 5

In [259]:
food_insecure

,year,food_insecure,norm_food_insecure,norm_with_pts
country,,,,
Italy,2021.500000,2.100000,1.000000,5.000000
Kazakhstan,2019.500000,2.416667,0.996231,4.981155
Switzerland,2018.500000,2.937500,0.990032,4.950159
Luxembourg,2018.500000,3.312500,0.985568,4.927842
Japan,2018.500000,3.600000,0.982146,4.910732
...,...,...,...,...
Liberia,2018.571429,80.685714,0.064641,0.323207
Central African Republic,2020.500000,81.300000,0.057330,0.286649
Haiti,2020.500000,82.650000,0.041262,0.206308
Sierra Leone,2018.500000,84.137500,0.023557,0.117784
South Sudan,2019.500000,86.116667,0.000000,0.000000

In [261]:
food_insecure = food_insecure.to_csv('food_insecure_norm_withpts.csv', index=False, header=True)

In [1488]:
life_expect2 = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\lifeexpect_avg_median.csv")

In [1490]:
life_expect2.columns = ['country', 'year', 'avg_life', 'median_life', 'avg_med_life']
life_expect2['year'].value_counts()

year
2018                                    259
 excluding China                          1
 excluding least developed countries      1
Name: count, dtype: int64

In [403]:
# life_expect = life_expect.drop('Less developed regions', axis = 0, inplace = True)

life_expect= life_expect[life_expect['country'] != 'Less developed regions']
life_expect= life_expect[life_expect['country'] != 'Low-income countries']
life_expect= life_expect[life_expect['country'] != 'Least developed countries']
life_expect= life_expect[life_expect['country'] != 'Land-locked Developing Countries (LLDC)']
life_expect= life_expect[life_expect['country'] != 'High-income countries']

In [409]:
life_expect['norm_life_expect'] =  (life_expect['avg_life'] - life_expect['avg_life'].min()) / (life_expect['avg_life'].max() - life_expect['avg_life'].min())

In [415]:
life_expect['norm_with_pts'] = life_expect['norm_life_expect'] * 5
life_expect

,country,year,avg_life,median_life,avg_med_life,norm_life_expect,norm_with_pts
155,Monaco,2018,85.69,85.75,85.72,1.000000,5.000000
205,San Marino,2018,84.62,84.78,84.70,0.974061,4.870303
99,Hong Kong,2018,84.53,84.66,84.60,0.971879,4.859394
111,Japan,2018,84.17,84.19,84.18,0.963152,4.815758
6,Andorra,2018,83.67,84.24,83.96,0.951030,4.755152
...,...,...,...,...,...,...,...
126,Lesotho,2018,53.85,54.21,54.03,0.228121,1.140606
171,Nigeria,2018,52.82,52.67,52.75,0.203152,1.015758
43,Chad,2018,52.57,52.45,52.51,0.197091,0.985455
221,South Sudan,2018,50.48,57.05,53.76,0.146424,0.732121
42,Central African Republic,2018,44.44,49.49,46.96,0.000000,0.000000

In [417]:
life_expect = life_expect.to_csv('life_expect_norm_with_pts.csv', index=False, header=True)

In [291]:
pollution = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\pm25-air-pollution\pm25-air-pollution.csv")

In [295]:
pollution.columns = ['country', 'code', 'year', 'pm_score']

In [305]:
pollution['norm_pm'] = (pollution['pm_score'] - pollution['pm_score'].min()) / (pollution['pm_score'].max() - pollution['pm_score'].min())

In [335]:
pollution = pollution.reset_index()

In [367]:
pollution = pollution.drop('Oceania (exc. Australia and New Zealand) (UN)', axis = 0, inplace = True)

KeyError: "['Oceania (exc. Australia and New Zealand) (UN)'] not found in axis"

In [365]:
pollution['country'].value_counts().head(50)

country
Afghanistan                                      1
Palau                                            1
Nigeria                                          1
Niue                                             1
North Korea                                      1
North Macedonia                                  1
Northern Africa and Western Asia (UN)            1
Northern America and Europe (UN)                 1
Norway                                           1
Oceania (exc. Australia and New Zealand) (UN)    1
Oman                                             1
Pakistan                                         1
Palestine                                        1
Nicaragua                                        1
Panama                                           1
Papua New Guinea                                 1
Paraguay                                         1
Peru                                             1
Philippines                                      1
Poland                                           1
Portugal                                         1
Qatar                                            1
Romania                                          1
Russia                                           1
Niger                                            1
New Zealand                                      1
Saint Kitts and Nevis                            1
Mexico                                           1
Luxembourg                                       1
Madagascar                                       1
Malawi                                           1
Malaysia                                         1
Maldives                                         1
Mali                                             1
Malta                                            1
Marshall Islands                                 1
Mauritania                                       1
Mauritius                                        1
Micronesia (country)                             1
Netherlands                                      1
Moldova                                          1
Monaco                                           1
Mongolia                                         1
Montenegro                                       1
Morocco                                          1
Mozambique                                       1
Myanmar                                          1
Namibia                                          1
Nauru                                            1
Nepal                                            1
Name: count, dtype: int64

In [419]:
import os

print(os.getcwd())

C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone

In [429]:
undernourish2 = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\norm_undernourish0409_high.csv")

In [435]:
undernourish2['norm_undernourish'] =  (undernourish2['norm_undernourish'] - undernourish2['norm_undernourish'].min()) / (undernourish2['norm_undernourish'].max() - undernourish2['norm_undernourish'].min())

In [439]:
undernourish2['norm_with_pts'] = undernourish2['norm_undernourish'] * 5

In [443]:
undernourish2.to_csv('undernourish_norm_with_pts0410.csv', index=False, header=True)

In [445]:
food_insecure = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Maslow_A\share-of-population-with-moderate-or-severe-food-insecurity\share-of-population-with-moderate-or-severe-food-insecurity.csv")

In [449]:
food_insecure.columns = ['country', 'code', 'year',
       'food_insecure_pct']

In [455]:
food_insecure.to_csv('food_insecure_countryfilter.csv', index=False, header=True)

In [457]:
food_insecure_filtered = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\food_insecure_countryfilter.csv")

In [467]:
food_insecure2 = food_insecure_filtered.groupby('country').mean('food_insecure_pct')

In [473]:
food_insecure2 = food_insecure2.sort_values('food_insecure_pct', ascending = True)

In [485]:
food_insecure2.to_csv('food_insecure_norm_with_pts0410.csv', index=False, header=True)

In [479]:
food_insecure2['norm_foodinsecure_pct'] = 1- (food_insecure2['food_insecure_pct'] - food_insecure2['food_insecure_pct'].min()) / (food_insecure2['food_insecure_pct'].max() - food_insecure2['food_insecure_pct'].min())

In [483]:
food_insecure2['norm_with_pts'] = food_insecure2['norm_foodinsecure_pct'] * 5

In [508]:
le = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\life_expect_norm_with_pts.csv")

In [523]:
le['norm_life_expect'] = (le['norm_life_expect'] - le['norm_life_expect'].min()) / (le['norm_life_expect'].max() - le['norm_life_expect'].min())

In [527]:
le['norm_with_pts'] = le['norm_life_expect'] * 5

In [529]:
le

,country,year,avg_life,median_life,avg_med_life,norm_life_expect,norm_with_pts
0,Monaco,2018,85.69,85.75,85.72,1.000000,5.000000
1,San Marino,2018,84.62,84.78,84.70,0.974061,4.870303
2,Hong Kong,2018,84.53,84.66,84.60,0.971879,4.859394
3,Japan,2018,84.17,84.19,84.18,0.963152,4.815758
4,Andorra,2018,83.67,84.24,83.96,0.951030,4.755152
...,...,...,...,...,...,...,...
238,Lesotho,2018,53.85,54.21,54.03,0.228121,1.140606
239,Nigeria,2018,52.82,52.67,52.75,0.203152,1.015758
240,Chad,2018,52.57,52.45,52.51,0.197091,0.985455
241,South Sudan,2018,50.48,57.05,53.76,0.146424,0.732121
242,Central African Republic,2018,44.44,49.49,46.96,0.000000,0.000000

In [531]:
le.to_csv('life_expect_norm_with_pts.csv', index=False, header=True)

In [533]:
child_mortality = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data\child-mortality-rate-ihme\child-mortality-rate-ihme.csv")

In [543]:
child_mortality.columns = ['country', 'code', 'year', 'under_5yo_deaths']

In [549]:
child_mortality = child_mortality.loc[child_mortality['year'] >= 2009]

In [553]:
child_mortality = child_mortality.groupby('country').mean('under_5yo_deaths')

In [561]:
child_mortality = child_mortality.reset_index()

In [563]:
child_mortality.to_csv('child_mortality.csv', index=False, header=True)

In [565]:
child_mortality = child_mortality.sort_values('under_5yo_deaths', ascending = True)

In [569]:
child_mortality['norm_deaths_pct'] = 1 - (child_mortality['under_5yo_deaths'] - child_mortality['under_5yo_deaths'].min()) / (child_mortality['under_5yo_deaths'].max() - child_mortality['under_5yo_deaths'].min())

In [575]:
child_mortality['norm_with_pts']= child_mortality['norm_deaths_pct'] * 5

In [577]:
child_mortality

,country,year,under_5yo_deaths,norm_deaths_pct,norm_with_pts
163,Singapore,2014.0,0.216364,1.000000,5.000000
4,Andorra,2014.0,0.226364,0.999297,4.996485
81,Iceland,2014.0,0.250909,0.997572,4.987859
63,Finland,2014.0,0.257273,0.997124,4.985622
165,Slovenia,2014.0,0.263636,0.996677,4.983386
...,...,...,...,...,...
162,Sierra Leone,2014.0,12.952727,0.104735,0.523676
129,Niger,2014.0,13.067273,0.096683,0.483417
35,Chad,2014.0,13.180000,0.088760,0.443798
109,Mali,2014.0,13.792727,0.045690,0.228449
34,Central African Republic,2014.0,14.442727,0.000000,0.000000

In [579]:
child_mortality.to_csv('child_mortality_norm_with_pts_onlycountries.csv', index=False, header=True)

In [581]:
maternal = pd.read_csv(r"C:\Users\eabro\Downloads\maternal-mortality\maternal-mortality.csv")

In [595]:
maternal = maternal.drop('959831-annotations', axis = 1)

KeyError: "['959831-annotations'] not found in axis"

In [599]:
maternal.columns = ['country', 'code', 'year', 'maternal_mortality']

In [597]:
maternal.columns

Index(['Entity', 'Code', 'Year', 'Maternal mortality ratio'], dtype='object')

In [609]:
maternal['year'].max()

2020

In [611]:
maternal = maternal.loc[maternal['year'] >= 2010]

In [613]:
maternal

          country code  year  maternal_mortality
25    Afghanistan  AFG  2010           898.66920
26    Afghanistan  AFG  2011           883.71390
27    Afghanistan  AFG  2012           833.47720
28    Afghanistan  AFG  2013           820.68536
29    Afghanistan  AFG  2014           785.35406
...           ...  ...   ...                 ...
9259     Zimbabwe  ZWE  2016           399.75750
9260     Zimbabwe  ZWE  2017           366.38100
9261     Zimbabwe  ZWE  2018           358.50350
9262     Zimbabwe  ZWE  2019           393.17630
9263     Zimbabwe  ZWE  2020           356.75890

[2176 rows x 4 columns]

In [615]:
maternal.to_csv('maternal_mortality.csv', index=False, header=True)

In [617]:
maternal = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\maternal_mortality.csv")

In [625]:
maternal = maternal.groupby('country').mean('maternal_mortality').reset_index()

In [631]:
maternal['norm_maternal_mortality'] = (maternal['maternal_mortality'] - maternal['maternal_mortality'].min()) / (maternal['maternal_mortality'].max() - maternal['maternal_mortality'].min())

In [635]:
maternal.sort_values('norm_maternal_mortality', ascending = True)

,country,year,maternal_mortality,norm_maternal_mortality
14,Belarus,2015.000000,1.591843,0.000000
74,Hong Kong,2013.166667,1.764561,0.000146
135,Poland,2015.000000,2.145171,0.000469
126,Norway,2015.000000,2.648812,0.000896
82,Israel,2015.000000,2.839776,0.001057
...,...,...,...,...
95,Lesotho,2015.000000,771.737205,0.652605
31,Central African Republic,2015.000000,926.123951,0.783429
123,Nigeria,2015.000000,1108.942782,0.938346
32,Chad,2015.000000,1157.823127,0.979766
159,South Sudan,2015.000000,1181.701500,1.000000

In [637]:
maternal['norm_with_pts'] = maternal['norm_maternal_mortality'] * 5

In [828]:
maternal

,country,year,maternal_mortality,norm_maternal_mortality,norm_with_pts
0,Afghanistan,2015.0,759.756665,0.642453,3.212264
1,Albania,2015.0,7.074423,0.004646,0.023229
2,Algeria,2015.0,90.722890,0.075528,0.377639
3,Angola,2015.0,278.919322,0.235001,1.175007
4,Antigua and Barbuda,2015.0,24.756941,0.019630,0.098148
...,...,...,...,...,...
184,Venezuela,2015.0,150.793406,0.126430,0.632151
185,Vietnam,2015.0,53.022893,0.043582,0.217908
186,Yemen,2015.0,166.549579,0.139782,0.698909
187,Zambia,2015.0,178.852044,0.150207,0.751033
188,Zimbabwe,2015.0,447.897476,0.378190,1.890950

In [641]:
maternal.to_csv('maternal_mortality.csv', index=False, header=True)

In [706]:
sanitation = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Maslow_A\share-of-the-population-with-access-to-sanitation-facilities\share-of-the-population-with-access-to-sanitation-facilities.csv")

In [708]:
sanitation.columns = ['country', 'code', 'year', 'safe_pct', 'basic_notshared_pct', 'basic_shared', 'unimproved', 'open_def']

In [710]:
sanitation.sort_values('open_def', ascending = False)

,country,code,year,safe_pct,basic_notshared_pct,basic_shared,unimproved,open_def
837,Cambodia,KHM,2000,NaN,NaN,1.426437,0.936308,87.45093
815,Cambodia,KHM,2001,5.778906,5.614605,1.646289,2.980489,83.97971
3633,Niger,NER,2000,2.822691,2.696707,3.890516,7.604507,82.98558
1560,Eritrea,ERI,2000,NaN,NaN,7.619402,1.366358,82.72894
3634,Niger,NER,2001,3.123735,2.902369,4.167955,7.670421,82.13552
...,...,...,...,...,...,...,...,...
5081,Tokelau,TKL,2010,NaN,NaN,3.880016,9.929038,NaN
5082,Tokelau,TKL,2011,NaN,NaN,3.818615,8.403078,NaN
5092,Tokelau,TKL,2021,NaN,NaN,3.197352,0.000000,NaN
5093,Tokelau,TKL,2022,NaN,NaN,3.197352,0.000000,NaN
5491,Venezuela,VEN,2022,27.073694,71.321890,0.000000,1.604414,NaN

In [712]:
sanitation = sanitation.loc[sanitation['year'] >= 2012]

In [714]:
sanitation2 = sanitation.groupby('country').mean('safe_pct')

In [718]:
sanitation2 = sanitation2.drop(['basic_shared', 'unimproved', 'open_def'], axis=1)

In [722]:
sanitation2['safe_and_basic_pct'] = sanitation2['safe_pct'] + sanitation2['basic_notshared_pct']

In [726]:
sanitation2.dropna()

,year,safe_pct,basic_notshared_pct,safe_and_basic_pct
country,,,,
Africa (WHO),2017.0,24.097382,9.560813,33.658196
Albania,2017.0,45.931442,52.292997,98.224439
Algeria,2017.0,62.393396,24.040672,86.434068
American Samoa,2017.0,38.135221,17.603313,55.738535
Americas (WHO),2017.0,62.985820,28.380431,91.366251
...,...,...,...,...
Vietnam,2017.0,41.327097,41.498977,82.826074
Western Pacific (WHO),2017.0,59.052319,28.948459,88.000778
World,2017.0,51.074453,24.098783,75.173237
Yemen,2017.0,18.407024,34.250102,52.657126
Zimbabwe,2017.0,31.916417,5.093530,37.009947

sanitation2['norm_safe_pct'] = 1 - (sanitation['safe_pct'] - sanitation['safe_pct'].min()) / (sanitation['safe_pct'].max() - sanitation['safe_pct'].min())

In [728]:
slums = pd.read_csv(r"C:\Users\eabro\Downloads\share-of-urban-population-living-in-slums\share-of-urban-population-living-in-slums.csv")

In [732]:
slums.columns = ['country', 'code', 'year', 'pct_slums']

In [736]:
slums = slums.sort_values('pct_slums', ascending = True)

In [742]:
slums = slums.loc[slums['year'] >= 2012]

In [752]:
slums = slums.groupby('country').mean('pct_slums').reset_index()

In [756]:
slums.to_csv('slums.csv', index=False, header=True)

In [758]:
slums = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\slums.csv")

In [766]:
slums['norm_pct_slums'] = 1 - (slums['pct_slums'] - slums['pct_slums'].min()) / (slums['pct_slums'].max() - slums['pct_slums'].min())

slums = slums.sort_values('norm_pct_slums', ascending = False)

In [770]:
slums['norm_with_pts'] = slums['norm_pct_slums'] * 5

In [774]:
slums['norm_log_2_pts'] = slums['norm_pct_slums'] * 32

In [778]:
slums.to_csv('slums_norm_withbothpts_onlycountries.csv', index=False, header=True)

In [780]:
electric = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Maslow_A\share-of-the-population-with-access-to-electricity\share-of-the-population-with-access-to-electricity.csv")

In [786]:
electric.columns = ['country', 'code', 'year', 'access_electricity']

In [794]:
electric = electric.loc[electric['year'] >=2012]

In [804]:
electric = electric.groupby('country').mean('access_electricity').reset_index()

In [806]:
electric

         country    year  access_electricity
0    Afghanistan  2017.0           87.754545
1        Albania  2017.0           99.963636
2        Algeria  2017.0           99.472727
3        Andorra  2017.0          100.000000
4         Angola  2017.0           42.636364
..           ...     ...                 ...
224      Vietnam  2017.0           99.390909
225        World  2017.0           88.519147
226        Yemen  2017.0           69.927273
227       Zambia  2017.0           37.845455
228     Zimbabwe  2017.0           43.727273

[229 rows x 3 columns]

In [808]:
electric.to_csv('electric.csv', index=False, header=True)

In [810]:
electric = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\electric.csv")

In [812]:
electric

         country  year  access_electricity
0    Afghanistan  2017           87.754545
1        Albania  2017           99.963636
2        Algeria  2017           99.472727
3        Andorra  2017          100.000000
4         Angola  2017           42.636364
..           ...   ...                 ...
211      Vietnam  2017           99.390909
212        World  2017           88.519147
213        Yemen  2017           69.927273
214       Zambia  2017           37.845455
215     Zimbabwe  2017           43.727273

[216 rows x 3 columns]

In [834]:
electric.sort_values('norm_electric', ascending = False)

                      country  year  access_electricity  norm_electric
94                Isle of Man  2017          100.000000      94.288909
62                    Estonia  2017          100.000000      94.288909
112                 Lithuania  2017          100.000000      94.288909
111             Liechtenstein  2017          100.000000      94.288909
106                    Latvia  2017          100.000000      94.288909
..                        ...   ...                 ...            ...
36   Central African Republic  2017           13.672727       7.961636
116                    Malawi  2017           11.972727       6.261636
37                       Chad  2017            9.500000       3.788909
30                    Burundi  2017            8.636364       2.925273
182               South Sudan  2017            5.654545      -0.056545

[216 rows x 4 columns]

In [838]:
electric['norm_access_electricity'] = (
    electric['access_electricity'] - electric['access_electricity'].min()
) / (
    electric['access_electricity'].max() - electric['access_electricity'].min()
)

In [842]:
electric = electric.sort_values('norm_access_electricity', ascending = False)

In [846]:
electric = electric.drop('norm_electric', axis = 1)

In [850]:
electric['norm_with_pts'] = electric['norm_access_electricity'] * 5

In [856]:
electric['norm_pts_log5'] = electric['norm_access_electricity']  * 32

In [858]:
electric

,country,year,access_electricity,norm_access_electricity,norm_with_pts,norm_pts_log5
94,Isle of Man,2017,100.000000,1.000000,5.000000,32.000000
62,Estonia,2017,100.000000,1.000000,5.000000,32.000000
112,Lithuania,2017,100.000000,1.000000,5.000000,32.000000
111,Liechtenstein,2017,100.000000,1.000000,5.000000,32.000000
106,Latvia,2017,100.000000,1.000000,5.000000,32.000000
...,...,...,...,...,...,...
36,Central African Republic,2017,13.672727,0.084987,0.424937,2.719599
116,Malawi,2017,11.972727,0.066969,0.334843,2.142995
37,Chad,2017,9.500000,0.040759,0.203796,1.304298
30,Burundi,2017,8.636364,0.031605,0.158027,1.011370
182,South Sudan,2017,5.654545,0.000000,0.000000,0.000000

In [860]:
electric.to_csv('electric_with_pts_onlycountries.csv', index=False, header=True)

In [862]:
life_expect3 = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\life_expect_norm_with_pts_countryonly.csv")

In [866]:
life_expect3['norm_pts_log5'] = life_expect3['norm_life_expect'] * 32

In [868]:
life_expect3.to_csv('life_expect_withallpts_onlycountries.csv', index=False, header=True)

In [870]:
child_mortality3 = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\child_mortality_norm_with_pts_onlycountries.csv")

In [878]:
child_mortality3['norm_pts_log5'] = child_mortality3['norm_deaths_pct'] * 32

In [882]:
child_mortality3 = child_mortality3.drop('norm_pts_log', axis = 1)

In [884]:
child_mortality3.to_csv('child_mortality_norm_with_pts_onlycountries.csv', index=False, header=True)

In [886]:
food = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\food_insecure_norm_with_allpts0410_countryonly.csv")

In [ ]:
food['norm_with_pts_log5'] = food['norm_foodinsecure_pct'] * 32

In [896]:
food = food.reset_index()
food

,index,year,food_insecure_pct,norm_foodinsecure_pct,norm_with_pts,norm_with_pts_log5
0,0,2021.500000,2.100000,1.000000,5.000000,32.000000
1,1,2019.500000,2.416667,0.996231,4.981155,31.879389
2,2,2018.500000,2.937500,0.990032,4.950159,31.681016
3,3,2018.500000,3.312500,0.985568,4.927842,31.538187
4,4,2018.500000,3.600000,0.982146,4.910732,31.428685
...,...,...,...,...,...,...
149,149,2018.571429,80.685714,0.064641,0.323207,2.068524
150,150,2020.500000,81.300000,0.057330,0.286649,1.834557
151,151,2020.500000,82.650000,0.041262,0.206308,1.320373
152,152,2018.500000,84.137500,0.023557,0.117784,0.753819
153,153,2019.500000,86.116667,0.000000,0.000000,0.000000

In [ ]:
food.to_csv('food_insecure_norm_with_allpts0410_countryonly', index=False, header=True)

In [902]:
food.columns = ['country', 'code', 'year', 'modtosev_food_insecure_pct']

In [904]:
food.year.max()

2022

In [906]:
food.year.min()

2015

In [910]:
food = food.groupby('country').mean('modtosev_food_insecure_pct').reset_index()

In [920]:
food.to_csv('food_insecure.csv', index=False, header=True)

In [924]:
food = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\food_insecure.csv")

In [928]:
food['norm_pct_foodinsecure'] = 1 - (food['modtosev_food_insecure_pct'] - food['modtosev_food_insecure_pct'].min()) / (food['modtosev_food_insecure_pct'].max() - food['modtosev_food_insecure_pct'].min())

In [932]:
food = food.sort_values('norm_pct_foodinsecure', ascending = False)

In [936]:
food['norm_withpts'] = food['norm_pct_foodinsecure'] * 5

In [938]:
food['norm_withpts_log5'] = food['norm_pct_foodinsecure'] * 32

In [947]:
food.to_csv('food_insecure_withallpts_onlycountries.csv', index=False, header=True)

In [949]:
safewater = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Maslow_A\share-of-the-population-using-safely-managed-drinking-water-sources.csv")

In [953]:
safewater.columns = ['country', 'year', 'safewater_pct']

In [955]:
safewater['year'].max()

2022

In [959]:
safewater = safewater.loc[safewater['year'] >= 2012]

In [965]:
safewater = safewater.groupby('country').mean('safewater_pct').reset_index()

In [973]:
safewater.dropna()

               country    year  safewater_pct
0          Afghanistan  2017.0      25.655772
1         Africa (WHO)  2017.0      30.107719
2              Albania  2017.0      70.062270
3              Algeria  2017.0      74.565134
4       American Samoa  2017.0      89.510038
..                 ...     ...            ...
244         Uzbekistan  2017.0      74.521224
247            Vietnam  2017.0      55.103156
248  Wallis and Futuna  2017.0      68.934930
250              World  2017.0      70.242625
253           Zimbabwe  2017.0      27.020110

[168 rows x 3 columns]

In [977]:
safewater.to_csv('safewater.csv', index=False, header=True)

In [979]:
maternal = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\maternal_mortality.csv")

In [983]:
maternal['norm_withpts_log5'] = maternal['norm_maternal_mortality'] * 32

In [991]:
maternal = maternal.sort_values('norm_maternal_mortality', ascending = True)

In [993]:
maternal.to_csv('maternal_mortality_withallpts_onlycountries.csv', index=False, header=True)

In [1009]:
healthdata = pd.read_csv(r"C:\Users\eabro\Downloads\IHME-GBD_2021_DATA-42c21bf5-1\IHME-GBD_2021_DATA-42c21bf5-1.csv")

In [1017]:
healthdata = healthdata.drop('upper', axis = 1)
healthdata = healthdata.drop('lower', axis = 1)

In [1023]:
healthdata.to_csv('healthdata.csv', index=False, header=True)

In [1025]:
disease = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\healthdata.csv")

In [1029]:
disease = disease.drop('measure', axis = 1)

In [1031]:
disease = disease.drop('year', axis = 1)

In [1037]:
disease = disease.drop('sex', axis = 1)

In [1039]:
disease = disease.drop('age', axis = 1)

In [1043]:
disease = disease.drop('metric', axis = 1)

In [1047]:
disease_noinjury = disease.loc[disease['cause'] != 'Injuries']

In [1055]:
disease_noinjury = disease_noinjury.groupby('location').sum('val')

In [1065]:
disease_noinjury = disease_noinjury.sort_values('val', ascending = False)

In [1067]:
disease_noinjury.head(25)

                                 val
location
Japan                       1.297341
Monaco                      1.286153
Denmark                     1.277786
Taiwan (Province of China)  1.265275
Ireland                     1.259521
San Marino                  1.258023
New Zealand                 1.257274
Australia                   1.256813
Iceland                     1.256234
Andorra                     1.255803
France                      1.250604
Norway                      1.250253
Italy                       1.250205
Luxembourg                  1.245354
Republic of Korea           1.245170
Spain                       1.245053
United Kingdom              1.235580
Sweden                      1.233707
Israel                      1.228669
Switzerland                 1.228593
Belgium                     1.228513
Malta                       1.227832
Singapore                   1.227738
Netherlands                 1.226045
Germany                     1.224571

# Unfortunately, this data seems to be backwards.  All of the countries I'd expect to have the highest disease rates seem to have the lowest, and vise versa. I'm either misunderstanding the measurement system, or just looking at bad data.  I downloaded this from Healthdata.org and specified that I wanted the percent of deaths occuring due to disease and illness.  I'm going to look into this when I get a chance to see if there's something I'm missing, but in the mean time, I'll focus on other more reliable datasets for group A.

In [1070]:
drinkingwater = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Maslow_A\share-of-the-population-using-safely-managed-drinking-water-sources.csv")

In [1076]:
drinkingwater.columns = ['country', 'year', 'pct_safe_drinkingwater']

In [1080]:
water = drinkingwater.loc[drinkingwater['year'] >= 2012]

In [1088]:
water = water.groupby('country').mean('pct_safe_drinkingwater').reset_index()

In [1090]:
water.columns

Index(['country', 'year', 'pct_safe_drinkingwater'], dtype='object')

In [1092]:
water.to_csv('pct_safe_drinkingwater.csv', index=False, header=True)

In [1094]:
access_sanitation = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Maslow_A\share-of-the-population-with-access-to-sanitation-facilities\share-of-the-population-with-access-to-sanitation-facilities.csv")

In [1096]:
access_sanitation

,Entity,Code,Year,Share of the population using safely managed sanitation services,"Share of the population using only basic sanitation services, improved sanitation facilities which are not shared","Share of the population using limited sanitation services, improved sanitation facilities which are shared",Share of the population using unimproved sanitation facilities,Share of the population practicing open defecation
0,Afghanistan,AFG,2000,NaN,NaN,5.495242,47.565353,25.968485
1,Afghanistan,AFG,2001,NaN,NaN,5.505718,47.566265,25.945670
2,Afghanistan,AFG,2002,NaN,NaN,5.873644,46.471490,25.113527
3,Afghanistan,AFG,2003,NaN,NaN,6.242448,45.374860,24.282358
4,Afghanistan,AFG,2004,NaN,NaN,6.619250,44.275270,23.439240
...,...,...,...,...,...,...,...,...
5648,Zimbabwe,ZWE,2018,33.544266,2.812894,28.852188,15.325731,19.464920
5649,Zimbabwe,ZWE,2019,32.961483,2.812854,29.536590,15.966128,18.722944
5650,Zimbabwe,ZWE,2020,32.381233,2.811130,30.234730,16.541292,18.031616
5651,Zimbabwe,ZWE,2021,31.802437,2.807513,30.947052,17.109490,17.333508
5652,Zimbabwe,ZWE,2022,31.806429,2.811428,30.982523,17.089666,17.309952

In [1098]:
pollution = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\pm25-air-pollution\pm25-air-pollution.csv")

In [1102]:
pollution.columns = ['country', 'code', 'year', 'pm_value']

In [1114]:
pollution = pollution.groupby('country').mean('pm_value').reset_index()

In [1116]:
pollution.to_csv('pollution.csv', index=False, header=True)

In [1118]:
pollution = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\pollution.csv")

In [1128]:
pollution['norm_pm_value'] = 1 - (pollution['pm_value'] - pollution['pm_value'].min()) / (pollution['pm_value'].max() - pollution['pm_value'].min())

In [1136]:
pollution = pollution.sort_values('norm_pm_value', ascending = False)

In [1142]:
pollution['norm_with_pts'] = pollution['norm_pm_value'] * 5

In [1144]:
pollution['norm_with_pts_log5'] = pollution['norm_pm_value'] * 32

In [1148]:
pollution.to_csv('pollution_withallpts_onlycountries.csv', index=False, header=True)

In [1140]:
cook = pd.read_csv(r"C:\Users\eabro\Downloads\access-to-clean-fuels-and-technologies-for-cooking (1)\access-to-clean-fuels-and-technologies-for-cooking.csv")

In [1152]:
cook.columns = ['country', 'code', 'year', 'clean_fuel_cooking']

In [1164]:
cook = cook.loc[cook['year'] >=2011]

In [1166]:
cook = cook.groupby('country').mean('clean_fuel_cooking').reset_index()

In [1170]:
cook.to_csv('cook.csv', index=False, header=True)

In [1176]:
cook2 = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\cook.csv")

In [1190]:
cook2['norm_clean_cooking'] = (cook2['clean_fuel_cooking'] - cook2['clean_fuel_cooking'].min()) / (cook2['clean_fuel_cooking'].max() - cook2['clean_fuel_cooking'].min())

In [1192]:
cook2 = cook2.sort_values('clean_fuel_cooking', ascending = False)

In [1196]:
cook2['norm_with_points'] = cook2['norm_clean_cooking'] * 5

In [1198]:
cook2['norm_with_points_log5'] = cook2['norm_clean_cooking'] * 32

In [1202]:
cook2.to_csv('cook_withallpts_onlycountries.csv', index=False, header=True)

In [1244]:
sanitize = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\who_improvedsanitation.csv")

In [1246]:
sanitize.columns = ['abv', 'country', 'year', 'sanitation_value', 'source', '1', '2', '3', '4']

In [1248]:
sanitize = sanitize.drop('abv', axis = 1)
sanitize = sanitize.drop('source', axis = 1)
sanitize = sanitize.drop('1', axis = 1)
sanitize = sanitize.drop('2', axis = 1)
sanitize = sanitize.drop('3', axis = 1)
sanitize = sanitize.drop('4', axis = 1)

In [1262]:
sanitize = sanitize.groupby('country').mean('sanitation_value').reset_index()

In [1264]:
sanitize['norm_sanitize'] =  sanitize['

                  country    year  sanitation_value
0                 Albania  2018.5         99.534355
1                 Algeria  2018.0         96.150655
2          American Samoa  2018.0         98.517670
3                 Andorra  2018.0         99.999999
4     Antigua and Barbuda  2018.0         97.395232
..                    ...     ...               ...
222   Virgin Islands U.S.  2018.0         99.101615
223                 Yemen  2018.0         57.959654
224                Zambia  2018.0         54.358722
225              Zimbabwe  2018.0         65.244798
226                 FALSE  2014.0         98.286714

[227 rows x 3 columns]

In [1266]:
sanitize['norm_sanitize'] = (sanitize['sanitation_value'] - sanitize['sanitation_value'].min()) / (sanitize['sanitation_value'].max() - sanitize['sanitation_value'].min())

In [1270]:
sanitize = sanitize.sort_values('sanitation_value', ascending = False)

In [1272]:
sanitize['norm_sanitize_withpts5'] = sanitize['norm_sanitize'] * 5

In [1274]:
sanitize['norm_sanitize_withpts_log5'] = sanitize['norm_sanitize'] * 32

In [1276]:
sanitize.to_csv('sanitize_withallpts_onlycountries.csv', index=False, header=True)

In [1278]:
water = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\who_water.csv")

In [1282]:
water.columns = ['1', 'country', 'year', 'water_pct']

In [1284]:
water = water.drop('1', axis = 1)

In [1288]:
water = water.groupby('country').mean('water_pct')

In [1294]:
water['norm_water'] = (water['water_pct'] - water['water_pct'].min()) / (water['water_pct'].max() - water['water_pct'].min())

In [1298]:
water = water.sort_values('water_pct', ascending = False)

In [1302]:
water['norm_water_withpts'] = water['norm_water'] * 5

In [1304]:
water['norm_water_withpts_log5'] = water['norm_water'] * 32

In [1312]:
water = water.reset_index()

In [1586]:
water

,index,country,year,water_pct,norm_water,norm_water_withpts,norm_water_withpts_log5
0,0,Gibraltar,2018.0,100.000000,1.000000,5.000000,32.000000
1,1,Monaco,2018.0,100.000000,1.000000,5.000000,32.000000
2,2,Singapore,2018.0,100.000000,1.000000,5.000000,32.000000
3,3,Liechtenstein,2018.0,100.000000,1.000000,5.000000,32.000000
4,4,San Marino,2018.0,100.000000,1.000000,5.000000,32.000000
...,...,...,...,...,...,...,...
220,220,Sierra Leone,2018.0,31.103751,0.030482,0.152408,0.975409
221,221,Chad,2018.0,30.529295,0.022398,0.111988,0.716726
222,222,Central African Republic,2018.0,30.021749,0.015255,0.076277,0.488174
223,223,Ethiopia,2018.0,29.815726,0.012356,0.061781,0.395399
224,224,Democratic Republic of the Congo,2018.0,28.937663,0.000000,0.000000,0.000000

In [1314]:
water.to_csv('water_withallpts_onlycountries.csv', index=False, header=True)

In [1318]:
road = pd.read_csv(r"C:\Users\eabro\Downloads\death-rate-road-traffic-injuries\death-rate-road-traffic-injuries.csv")

In [1322]:
road.columns = ['country', 'code', 'year', 'death_traffic']

In [1328]:
road = road.loc[road['year'] >= 2010]

In [1332]:
road = road.groupby('country').mean('death_traffic').reset_index()

In [1334]:
road.to_csv('road.csv', index=False, header=True)

In [1336]:
road = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\road.csv")

In [1338]:
road

                 country         year  death_traffic
0            Afghanistan  2014.666667      14.900000
1                Algeria  2014.666667      21.466667
2                 Angola  2014.666667      25.166667
3    Antigua and Barbuda  2014.666667       1.800000
4              Argentina  2014.666667      13.600000
..                   ...          ...            ...
177            Venezuela  2014.666667      35.033333
178              Vietnam  2014.666667      27.200000
179                Yemen  2014.666667      26.166667
180               Zambia  2014.666667      21.666667
181             Zimbabwe  2014.666667      39.166667

[182 rows x 3 columns]

In [1344]:
road['norm_traffic'] = 1 - (road['death_traffic'] - road['death_traffic'].min()) / (road['death_traffic'].max() - road['death_traffic'].min())

In [1349]:
road = road.sort_values('norm_traffic', ascending = False)

In [1353]:
road['traffic_pts'] = road['norm_traffic'] * 32

In [1357]:
road.to_csv('road_withpts_onlycountries.csv', index=False, header=True)

In [1359]:
road

,country,year,death_traffic,norm_traffic,traffic_pts
106,Micronesia (country),2014.666667,1.333333,1.000000,32.000000
3,Antigua and Barbuda,2014.666667,1.800000,0.988458,31.630668
100,Maldives,2014.666667,2.400000,0.973619,31.155812
122,Norway,2014.666667,3.033333,0.957955,30.654575
157,Sweden,2014.666667,3.100000,0.956307,30.601814
...,...,...,...,...,...
177,Venezuela,2014.666667,35.033333,0.166529,5.328937
93,Liberia,2014.666667,35.733333,0.149217,4.774938
52,Eritrea,2014.666667,36.266667,0.136026,4.352844
181,Zimbabwe,2014.666667,39.166667,0.064303,2.057708
46,Dominican Republic,2014.666667,41.766667,0.000000,0.000000

In [1361]:
pov = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Health_&Essentials\share-of-population-in-extreme-poverty\share-of-population-in-extreme-poverty.csv")

In [1365]:
pov.columns = ['country', 'code', 'year', 'pct_pov', 'a']

In [1371]:
import country_converter as coco

In [1367]:
pov = pov[['country', 'code', 'year', 'pct_pov']]

In [1373]:
pov['country_c'] = coco.convert(names= pov['country'], to='name_short', not_found=None)

East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
East Asia and Pacific (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Europe and Central Asia (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Latin America and the Caribbean (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Middle East and North Africa (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
Other high income countries (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
South Asia (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Sub-Saharan Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
Western and Central Africa (PIP) not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex
World ( not found in regex

In [1375]:
pov.value_counts('year')

year
2018    108
2015    102
2012    100
2016     99
2010     99
       ...
1966      1
1965      1
1964      1
1967      1
1963      1
Name: count, Length: 62, dtype: int64

"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\sanitize_withallpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\slums_norm_withbothpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\water_withallpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\child_mortality_norm_withallpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\electric_with_allpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\food_insecure_withallpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\life_expect_withallpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\maternal_mortality_withallpts_onlycountries.csv"
"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\pollution_withallpts_onlycountries.csv"

In [1380]:
pol2 = pd.read_csv(r"C:\Users\eabro\Downloads\pm25-air-pollution\pm25-air-pollution.csv")

In [1386]:
pol2.columns = ['country', 'code', 'year', 'pm25']

In [1394]:
pol2 = pol2.loc[pol2['year'] >= 2015]

In [1402]:
pol2 = pol2.groupby('country').mean('pm25').reset_index()

In [1404]:
pol2.to_csv('pol2.csv', index=False, header=True)

In [1406]:
pol2 = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\pol2.csv")

In [1410]:
pol2['norm_pol2'] = 1 - (pol2['pm25'] - pol2['pm25'].min()) / (pol2['pm25'].max() - pol2['pm25'].min())

In [1414]:
pol2['pol_log32_n'] = pol2['norm_pol2'] * 32

In [1418]:
pol2 = pol2.sort_values('pol_log32_n', ascending = False)

In [1422]:
pol2.to_csv('pol2_withpts_onlycountries0415.csv', index=False, header=True)

In [1424]:
pol2

         country  year       pm25  norm_pol2  pol_log32_n
11       Bahamas  2017   5.498568   1.000000    32.000000
61       Finland  2017   5.525910   0.999542    31.985359
77       Iceland  2017   5.909562   0.993123    31.779924
169       Sweden  2017   6.046158   0.990837    31.706780
57       Estonia  2017   6.378954   0.985268    31.528577
..           ...   ...        ...        ...          ...
172   Tajikistan  2017  59.523014   0.095980     3.071351
53         Egypt  2017  62.186678   0.051407     1.645030
142        Qatar  2017  62.403326   0.047782     1.529020
0    Afghanistan  2017  65.144432   0.001913     0.061231
91        Kuwait  2017  65.258782   0.000000     0.000000

[195 rows x 5 columns]

In [1476]:
diet = pd.read_csv(r"C:\Users\eabro\Downloads\share-healthy-diet-unaffordable (1)\share-healthy-diet-unaffordable.csv")

In [1480]:
diet.value_counts('year')

year
2017    161
2021    160
2018    157
2019    157
2020    157
2022    157
Name: count, dtype: int64

In [1478]:
diet.columns = ['country', 'code', 'year', 'diet_pct']

In [1434]:
diet = diet.groupby('country').mean('diet_pct')

In [1436]:
pol2['norm_pol2'] = 1 - (pol2['pm25'] - pol2['pm25'].min()) / (pol2['pm25'].max() - pol2['pm25'].min())

              year   diet_pct
country
Albania     2019.5  16.000000
Algeria     2019.5  17.983333
Angola      2019.5  68.100000
Argentina   2017.0   8.600000
Armenia     2019.5  52.483333
...            ...        ...
Uzbekistan  2019.5  17.016667
Vietnam     2019.5   9.683333
World       2019.5  37.400000
Zambia      2019.5  79.716667
Zimbabwe    2017.0  74.900000

[162 rows x 2 columns]

In [1550]:
pol2['country_c'] = coco.convert(names= pol2['country'], to='name_short', not_found=None)

In [1438]:
diet.to_csv('diet.csv', index=False, header=True)

In [ ]:
df['A'].fillna(df['A'].mean(), inplace=True)

In [1440]:
calorie = pd.read_csv(r"C:\Users\eabro\Downloads\share-calorie-diet-unaffordable (1)\share-calorie-diet-unaffordable.csv")

In [1444]:
calorie.columns = ['country', 'code', 'year', 'calorie']

In [1456]:
calorie = calorie.groupby('country').mean('calorie').reset_index()

In [1460]:
calorie.to_csv('calorie.csv', index=False, header=True)

In [1462]:
calorie = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\calorie.csv")

In [1466]:
calorie['norm_calorie'] = 1 - (calorie['calorie'] - calorie['calorie'].min()) / (calorie['calorie'].max() - calorie['calorie'].min())

In [1470]:
calorie['calorie_log32_n'] = calorie['norm_calorie'] * 32

In [1474]:
calorie.to_csv('calorie_withpts_onlycountries.csv', index=False, header=True)

In [1556]:
sani = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\share-of-the-population-with-access-to-sanitation-facilities.csv")

In [1574]:
sani.columns

Index(['year', 'safe', 'basic_notshared', 'limited_shared', 'unimproved',
       'open_def', 'atleast_basicsan'],
      dtype='object')

In [1558]:
sani.value_counts('year')

year
2016    231
2015    231
2014    231
2011    230
2013    230
2012    230
2009    229
2010    229
2017    228
2008    227
2007    227
2006    226
2005    224
2004    224
2003    224
2002    224
2001    221
2018    219
2019    217
2020    214
2000    214
2021    211
2022    206
Name: count, dtype: int64

In [1560]:
sani = sani.loc[sani['year'] >= 2017]

In [1562]:
sani['atleast_basicsan'] = sani['safe'] + sani['basic_notshared'] + sani['limited_shared']

In [1564]:
sani = sani.groupby('country').mean('atleast_basicsan')

In [1566]:
sani = sani.fillna(0)

In [1568]:
sani['atleast_basicsan'] = sani['safe'] + sani['basic_notshared'] + sani['limited_shared']

In [1576]:
sani = sani.sort_values('atleast_basicsan', ascending = False).reset_index()

In [1578]:
sani['country_c'] = coco.convert(names= sani['country'], to='name_short', not_found=None)

Channel Islands not found in regex

In [1580]:
sani['norm_basicsan'] = (sani['atleast_basicsan'] - sani['atleast_basicsan'].min()) / (sani['atleast_basicsan'].max() - sani['atleast_basicsan'].min())

In [1582]:
sani['basicsan_log32_n'] = sani['norm_basicsan'] * 32

In [1584]:
sani.to_csv('basicsanitation_log32_n.csv', index=False, header=True)

In [1592]:
basicw = pd.read_csv(r"C:\Users\eabro\Downloads\population-using-at-least-basic-drinking-water.filtered\population-using-at-least-basic-drinking-water.csv")

In [1594]:
basicw

,Entity,Code,Year,Share of the population using at least basic drinking water services,time
0,Afghanistan,AFG,2016,65.172165,2016
1,Albania,ALB,2016,93.754875,2016
2,Algeria,DZA,2016,93.622770,2016
3,Andorra,AND,2016,99.999990,2016
4,Angola,AGO,2016,55.084274,2016
...,...,...,...,...,...
192,Venezuela,VEN,2016,94.394180,2016
193,Vietnam,VNM,2016,93.404080,2016
194,Yemen,YEM,2016,56.785618,2016
195,Zambia,ZMB,2016,63.891230,2016
196,Zimbabwe,ZWE,2016,64.468960,2016

In [1606]:
w = pd.read_csv(r"C:\Users\eabro\Downloads\population-using-at-least-basic-drinking-water (1)\population-using-at-least-basic-drinking-water.csv")

In [1608]:
w.columns = ['country', 'code', 'year', 'basicw']

In [1610]:
w = w.loc[w['year'] >= 2016]

In [1614]:
w.groupby('country').mean('year')

                         year     basicw
country
Afghanistan            2019.0  73.776618
Africa (WHO)           2019.0  63.811125
Albania                2019.0  94.613673
Algeria                2019.0  94.208876
American Samoa         2018.5  99.202472
...                       ...        ...
Western Pacific (WHO)  2019.0  95.318551
World                  2019.0  89.993745
Yemen                  2019.0  59.578758
Zambia                 2019.0  66.516028
Zimbabwe               2019.0  63.187546

[253 rows x 2 columns]

In [1616]:
w = w.sort_values('basicw', ascending = False)

In [1618]:
w

                               country code  year      basicw
3562                       Netherlands  NLD  2018  100.000000
635   Bonaire, Sint Eustatius and Saba  NaN  2021  100.000000
3005                             Macao  MAC  2018  100.000000
3006                             Macao  MAC  2019  100.000000
3007                             Macao  MAC  2020  100.000000
...                                ...  ...   ...         ...
1306      Democratic Republic of Congo  COD  2018   35.847084
1307      Democratic Republic of Congo  COD  2019   35.678060
1308      Democratic Republic of Congo  COD  2020   35.500237
1309      Democratic Republic of Congo  COD  2021   35.313095
1310      Democratic Republic of Congo  COD  2022   35.116566

[1686 rows x 4 columns]

In [1622]:
w.to_csv('w.csv', index=False, header=True)

In [1634]:
w = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\w.csv")

In [1644]:
w = w.groupby('country').mean('basicw').reset_index()

In [1646]:
w

               country    year     basicw
0          Afghanistan  2019.0  73.776618
1              Albania  2019.0  94.613673
2              Algeria  2019.0  94.208876
3       American Samoa  2018.5  99.202472
4              Andorra  2019.0  99.999997
..                 ...     ...        ...
226            Vietnam  2019.0  95.804668
227  Wallis and Futuna  2019.0  99.297940
228              Yemen  2019.0  59.578758
229             Zambia  2019.0  66.516028
230           Zimbabwe  2019.0  63.187546

[231 rows x 3 columns]

In [1648]:
w['country_c'] = coco.convert(names= w['country'], to='name_short', not_found=None)

Channel Islands not found in regex

In [1650]:
w['norm_water'] = (w['basicw'] - w['basicw'].min()) / (w['basicw'].max() - w['basicw'].min())

In [1654]:
w = w.sort_values('norm_water', ascending = False)

In [1658]:
w['water_log32_n'] = w['norm_water'] * 32

In [1662]:
w.to_csv('Basicwater_20162022.csv', index=False, header=True)

In [1]:
import pandas as pd
import numpy as np

In [5]:
san = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_A\Basic_san20172022.csv")
water = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_A\Basicwater_20162022.csv")
cal = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_A\Calorie_20192023.csv")
life = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_A\LifeExpect_2018.csv")
pol = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_A\Pollution_20152019.csv")

In [7]:
san

,country,year,safe,basic_notshared,limited_shared,unimproved,open_def,atleast_basicsan,country_c,norm_basicsan,basicsan_log32_n
0,Hungary,2019.5,87.634899,10.349972,2.015132,3.481667e-07,0.000000,100.000002,Hungary,1.0,32.0
1,Norway,2019.5,77.876965,20.174689,1.948348,9.600000e-07,0.000000,100.000002,Norway,1.0,32.0
2,Isle of Man,2019.5,84.821430,15.178572,0.000000,0.000000e+00,0.000000,100.000002,Isle of Man,1.0,32.0
3,France,2019.5,89.482839,9.165169,1.351993,4.210000e-07,0.000000,100.000002,France,1.0,32.0
4,Bahrain,2019.5,91.471621,8.528380,0.000000,0.000000e+00,0.000000,100.000001,Bahrain,1.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...
223,Saint Barthelemy,2019.5,0.000000,0.000000,0.000000,2.579416e-03,0.000000,0.000000,St. Barths,0.0,0.0
224,Palau,2019.5,0.000000,0.000000,0.000000,1.593050e+00,0.000000,0.000000,Palau,0.0,0.0
225,Wallis and Futuna,2019.5,0.000000,0.000000,0.000000,4.260000e-14,5.761823,0.000000,Wallis and Futuna Islands,0.0,0.0
226,Gibraltar,2019.5,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,Gibraltar,0.0,0.0
227,French Polynesia,2019.5,0.000000,0.000000,0.000000,2.967701e+00,0.000000,0.000000,French Polynesia,0.0,0.0

In [ ]:
terror['norm_terror'] = 1 -(terror['terror'] - terror['terror'].min()) / (terror['terror'].max() - terror['terror'].min())