In [61]:
import pandas as pd
import numpy as np
import country_converter as coco

In [63]:
internet = pd.read_csv(r"C:\Users\eabro\Downloads\broadband-penetration-by-country\broadband-penetration-by-country.csv")

In [65]:
internet.columns = ['country', 'code', 'year', 'internet']

In [66]:
internet = internet.loc[internet['year'] >= 2017]

In [69]:
internet = internet.groupby('country').mean('internet')

In [70]:
internet['norm_internet'] = (internet['internet'] -internet['internet'].min()) / (internet['internet'].max() - internet['internet'].min())

In [73]:
internet = internet.sort_values('norm_internet', ascending = False)

In [75]:
# Category C is 8 points

In [76]:
internet = internet.reset_index()

In [77]:
internet.to_csv('internet.csv', index=False, header=True)

In [78]:
internet = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\internet.csv")

In [83]:
internet['norm_internet'] = (internet['internet'] -internet['internet'].min()) / (internet['internet'].max() - internet['internet'].min())

In [84]:
internet['country_c'] = coco.convert(names= internet['country'], to='name_short', not_found=None)

European Union (27) not found in regex
North America (WB) not found in regex
High-income countries not found in regex
Europe and Central Asia (WB) not found in regex
East Asia and Pacific (WB) not found in regex
Upper-middle-income countries not found in regex
World not found in regex
Latin America and Caribbean (WB) not found in regex
Middle-income countries not found in regex
Middle East and North Africa (WB) not found in regex
Lower-middle-income countries not found in regex
South Asia (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Low-income countries not found in regex

In [85]:
internet['norm_internet_log8'] = internet['norm_internet'] * 8
internet

,country,year,internet,norm_internet,country_c,norm_internet_log8
0,Gibraltar,2019.5,56.504250,1.000000,Gibraltar,8.000000
1,Cayman Islands,2019.8,54.547920,0.965377,Cayman Islands,7.723015
2,Monaco,2020.0,53.904257,0.953985,Monaco,7.631882
3,Andorra,2020.0,49.049700,0.868069,Andorra,6.944554
4,Switzerland,2020.0,46.962643,0.831132,Switzerland,6.649059
...,...,...,...,...,...,...
217,Central African Republic,2019.4,0.012263,0.000203,Central African Republic,0.001628
218,Guinea,2019.5,0.008214,0.000132,Guinea,0.001055
219,Sierra Leone,2020.0,0.002257,0.000026,Sierra Leone,0.000211
220,South Sudan,2020.0,0.001873,0.000020,South Sudan,0.000157
221,Chad,2019.5,0.000766,0.000000,Chad,0.000000

In [86]:
internet.to_csv('internet_withpts_onlycountries.csv', index=False, header=True)

In [88]:
lgbt = pd.read_csv(r"C:\Users\eabro\Downloads\lgbt-legal-equality-index (1)\lgbt-legal-equality-index.csv")

In [93]:
lgbt

          Entity      Code  Year  Legal equality index
0    Afghanistan       AFG  2025              0.510000
1         Africa       NaN  2025             17.979115
2        Albania       ALB  2025             62.270000
3        Algeria       DZA  2025              3.720000
4        Andorra       AND  2025             84.210000
..           ...       ...   ...                   ...
196      Vietnam       VNM  2025             52.270000
197        World  OWID_WRL  2025             46.796200
198        Yemen       YEM  2025              3.160000
199       Zambia       ZMB  2025              5.500000
200     Zimbabwe       ZWE  2025             15.260000

[201 rows x 4 columns]

In [95]:
lgbt.columns = ['country', 'code', 'year', 'lgbt_eq', ]

In [98]:
lgbt = lgbt.loc[lgbt['year'] == 2025]

In [100]:
lgbt.value_counts('lgbt_censor')

KeyError: 'lgbt_censor'

In [102]:
lgbt = pd.read_csv(r"C:\Users\eabro\Downloads\lgbt-legal-equality-index (1)\lgbt-legal-equality-index.csv")

In [104]:
lgbt = pd.read_csv(r"C:\Users\eabro\OneDrive\Documents\lgbt_index.csv")

In [106]:
lgbt.columns = ['country', 'code', 'year', 'legal', 'norm_lgbt', 'lgbt_log8']

ValueError: Length mismatch: Expected axis has 4 elements, new values have 6 elements

In [108]:
lgbt['norm_lgbt'] = (lgbt['legal'] -lgbt['legal'].min()) / (lgbt['legal'].max() - lgbt['legal'].min())

KeyError: 'legal'

In [110]:
lgbt['lgbt_log8'] = lgbt['norm_lgbt'] * 8

KeyError: 'norm_lgbt'

In [112]:
lgbt['country_c'] = coco.convert(names= lgbt['country'], to='name_short', not_found=None)

KeyError: 'country'

In [114]:
lgbt = lgbt.sort_values('lgbt_log8', ascending = False)

KeyError: 'lgbt_log8'

In [116]:
lgbt.to_csv('lgbt_withpts_onlycountries.csv', index=False, header=True)

In [118]:
edu = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\data_grouped\Education\average-years-of-schooling\avg_yrs_school.csv")

In [120]:
edu.columns = ['country', 'code', 'year', 'school']

# GO BACK AND FIX EDU ROWS!!!

In [123]:
edu['country_c'] = coco.convert(names= edu['country'], to='name_short', not_found=None)

Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Africa not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Arab States (UNDP) not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
Asia not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
East Asia and the Pacific (UNDP) not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
Europe and Central Asia (UNDP) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High human development (UNDP) not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Latin America and the Caribbean (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low human development (UNDP) not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
Medium human development (UNDP) not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
North America not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
Oceania not found in regex
South America not found in regex
South America not found in regex
South America not found in regex
South America not found in regex
South America not found in regex
South America not found in regex
South America not found in regex
South America not found in regex
South America not found in regex
South America not found in regex
South America not found in regex

In [125]:
edu = edu.loc[edu['year'] >= 2012]

In [127]:
edu = edu.groupby('country').mean('school')

In [129]:
edu = edu.sort_values('school', ascending = False)

In [131]:
edu['norm_edu'] = (edu['school'] -edu['school'].min()) / (edu['school'].max() - edu['school'].min())

In [133]:
edu['edu_log8'] = edu['norm_edu'] * 8

In [139]:
edu = edu.reset_index()
edu

     index       country    year     school  norm_edu  edu_log8
0        0       Germany  2017.0  14.123226  1.000000  8.000000
1        1        Canada  2017.0  13.757108  0.971221  7.769767
2        2   Switzerland  2017.0  13.733071  0.969331  7.754651
3        3       Estonia  2017.0  13.535405  0.953794  7.630348
4        4       Iceland  2017.0  13.510310  0.951821  7.614568
..     ...           ...     ...        ...       ...       ...
210    210          Chad  2017.0   2.127290  0.057044  0.456352
211    211       Somalia  2022.0   1.900300  0.039201  0.313609
212    212          Mali  2017.0   1.784171  0.030073  0.240582
213    213  Burkina Faso  2017.0   1.773859  0.029262  0.234097
214    214         Niger  2017.0   1.401597  0.000000  0.000000

[215 rows x 6 columns]

In [141]:
edu.to_csv('edu_withpts_onlycountries.csv', index=False, header=True)

In [129]:
gov_edu = pd.read_csv(r"C:\Users\eabro\Downloads\total-government-expenditure-on-education-gdp.filtered\total-government-expenditure-on-education-gdp.csv")

In [133]:
gov_edu =  gov_edu.loc[gov_edu['Year'] >= 2013]

In [135]:
gov_edu.to_csv('gov_edu.csv', index=False, header=True)

In [141]:
gov_edu.columns

Index(['Entity', 'Code', 'Year',
       'Public spending on education as a share of GDP', 'time'],
      dtype='object')

In [143]:
gov_edu.columns = ['country', 'code', 'year', 'gov_edu', 'time']

In [250]:
gov_edu['country_c'] = coco.convert(names= gov_edu['country'], to='name_short', not_found=None)

In [252]:
gov_edu = gov_edu.drop('year', axis = 1)

KeyError: "['year'] not found in axis"

In [254]:
gov_edu['norm_gov_edu'] = (gov_edu['gov_edu'] - gov_edu['gov_edu'].min()) / (gov_edu['gov_edu'].max() - gov_edu['gov_edu'].min())

In [256]:
gov_edu = gov_edu.sort_values('norm_gov_edu', ascending = False)

In [258]:
gov_edu['gov_edu_pts'] = gov_edu['norm_gov_edu'] * 8

In [260]:
gov_edu.to_csv('gov_edu_withpts_onlycountries.csv', index=False, header=True)

In [262]:
gov_edu

,country,code,gov_edu,time,norm_gov_edu,gov_edu_pts,country_c
89,Kiribati,KIR,13.219000,2013,1.000000,8.000000,Kiribati
111,Micronesia (country),FSM,12.344000,2013,0.931020,7.448158,"Micronesia, Fed. Sts."
42,Cuba,CUB,10.671696,2013,0.799184,6.393475,Cuba
118,Namibia,NAM,8.595417,2013,0.635502,5.084015,Namibia
46,Denmark,DNK,8.494430,2013,0.627541,5.020325,Denmark
...,...,...,...,...,...,...,...
164,Sri Lanka,LKA,1.564590,2013,0.081230,0.649838,Sri Lanka
28,Cambodia,KHM,1.482026,2013,0.074721,0.597767,Cambodia
113,Monaco,MCO,1.334400,2013,0.063083,0.504663,Monaco
162,South Sudan,SSD,1.024500,2013,0.038652,0.309216,South Sudan
125,Nigeria,NGA,0.534207,2013,0.000000,0.000000,Nigeria

In [165]:
fam = pd.read_csv(r"C:\Users\eabro\Downloads\how-important-family-is-to-people-in-life (1)\how-important-family-is-to-people-in-life.csv")

std_dev_rows = df.std(axis=1)
print(std_dev_rows)

In [264]:
xx = pd.read_csv(r"C:\Users\eabro\Downloads\share-population-female\share-population-female.csv")

In [266]:
xx.columns = ['country', 'code', 'year', 'pct_xx']

In [280]:
xx = xx.reset_index()

In [292]:
xx = xx[xx['year'] >= 2013]

In [294]:
xx= xx.groupby('country').mean('pct_xx')

In [300]:
xx = xx.reset_index()

In [302]:
xx.to_csv('xx.csv', index=False, header=True)

In [304]:
xx2 = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\xx.csv")

In [306]:
xx2

            country  index  year     pct_xx
0       Afghanistan     58  2018  49.490266
1           Albania    122  2018  50.519388
2           Algeria    186  2018  48.891254
3    American Samoa    250  2018  49.321773
4           Andorra    314  2018  49.143322
..              ...    ...   ...        ...
212       Venezuela  14458  2018  50.409965
213         Vietnam  14522  2018  51.108817
214           Yemen  14650  2018  49.309801
215          Zambia  14714  2018  50.550200
216        Zimbabwe  14778  2018  52.593370

[217 rows x 4 columns]

In [310]:
xx2['country_c'] = coco.convert(names= xx2['country'], to='name_short', not_found=None)

Channel Islands not found in regex

In [178]:
gov_xx = pd.read_csv(r"C:\Users\eabro\Downloads\share-of-women-in-parliament\share-of-women-in-parliament.csv")

In [184]:
gov_xx.columns = ['country', 'code', 'year', 'gov_xx_pct']

In [196]:
gov_xx.year.max()

2024

In [198]:
gov_xx = gov_xx.loc[gov_xx['year'] >=2013]
gov_xx = gov_xx.loc[gov_xx['year'] <= 2023]

In [200]:
xx = xx.loc[xx['year'] >= 2013]

In [326]:
gov_xx = gov_xx.reset_index()
gov_xx.columns

Index(['country', 'index', 'year', 'gov_xx_pct'], dtype='object')

In [332]:
gov_xx.to_csv('gov_xx.csv', index=False, header=True)

In [324]:
gov_xx = gov_xx.groupby('country').mean('gov_xx_pct')

KeyError: 'country'

In [334]:
gov_xx2 = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\gov_xx.csv")

In [338]:
gov_xx2['country_c'] = coco.convert(names= gov_xx2['country'], to='name_short', not_found=None)

Zanzibar not found in regex

In [340]:
gov_xx2

         country  index    year  gov_xx_pct    country_c
0    Afghanistan      0  2016.5   27.487500  Afghanistan
1        Albania      2  2018.0   27.571818      Albania
2        Algeria      3  2018.0   23.043636      Algeria
3         Angola      4  2018.0   33.927273       Angola
4      Argentina      5  2018.0   39.752727    Argentina
..           ...    ...     ...         ...          ...
171      Vietnam    177  2018.0   27.038182      Vietnam
172        Yemen    179  2018.0    0.120000        Yemen
173       Zambia    180  2018.0   15.318182       Zambia
174     Zanzibar    181  2018.0   34.218182     Zanzibar
175     Zimbabwe    182  2018.0   31.662727     Zimbabwe

[176 rows x 5 columns]

In [342]:
govxx_pop = pd.merge(gov_xx2, xx2, on = 'country_c', how = 'inner')

In [344]:
govxx_pop['std_dev']

,country_x,index_x,year_x,gov_xx_pct,country_c,country_y,index_y,year_y,pct_xx
0,Afghanistan,0,2016.5,27.487500,Afghanistan,Afghanistan,58,2018,49.490266
1,Albania,2,2018.0,27.571818,Albania,Albania,122,2018,50.519388
2,Algeria,3,2018.0,23.043636,Algeria,Algeria,186,2018,48.891254
3,Angola,4,2018.0,33.927273,Angola,Angola,378,2018,50.581174
4,Argentina,5,2018.0,39.752727,Argentina,Argentina,506,2018,50.426560
...,...,...,...,...,...,...,...,...,...
169,Venezuela,176,2018.0,21.586364,Venezuela,Venezuela,14458,2018,50.409965
170,Vietnam,177,2018.0,27.038182,Vietnam,Vietnam,14522,2018,51.108817
171,Yemen,179,2018.0,0.120000,Yemen,Yemen,14650,2018,49.309801
172,Zambia,180,2018.0,15.318182,Zambia,Zambia,14714,2018,50.550200
173,Zimbabwe,182,2018.0,31.662727,Zimbabwe,Zimbabwe,14778,2018,52.593370

df[['column_name1', 'column_name2']].std()

In [347]:
govxx_pop['pct_gap'] = govxx_pop['gov_xx_pct'] - govxx_pop['pct_xx']

In [349]:
govxx_pop

,country_x,index_x,year_x,gov_xx_pct,country_c,country_y,index_y,year_y,pct_xx,pct_gap
0,Afghanistan,0,2016.5,27.487500,Afghanistan,Afghanistan,58,2018,49.490266,-22.002766
1,Albania,2,2018.0,27.571818,Albania,Albania,122,2018,50.519388,-22.947570
2,Algeria,3,2018.0,23.043636,Algeria,Algeria,186,2018,48.891254,-25.847618
3,Angola,4,2018.0,33.927273,Angola,Angola,378,2018,50.581174,-16.653902
4,Argentina,5,2018.0,39.752727,Argentina,Argentina,506,2018,50.426560,-10.673833
...,...,...,...,...,...,...,...,...,...,...
169,Venezuela,176,2018.0,21.586364,Venezuela,Venezuela,14458,2018,50.409965,-28.823602
170,Vietnam,177,2018.0,27.038182,Vietnam,Vietnam,14522,2018,51.108817,-24.070635
171,Yemen,179,2018.0,0.120000,Yemen,Yemen,14650,2018,49.309801,-49.189801
172,Zambia,180,2018.0,15.318182,Zambia,Zambia,14714,2018,50.550200,-35.232019
173,Zimbabwe,182,2018.0,31.662727,Zimbabwe,Zimbabwe,14778,2018,52.593370,-20.930643

In [364]:
std_dev_govxxpop = govxx_pop['pct_gap'].std()
std_dev_govxxpop * 1, std_dev_govxxpop * 2, std_dev_govxxpop * 3

(11.259285628773299, 22.518571257546597, 33.777856886319896)

In [392]:
govxx_pop['one_std_dev'] = govxx_pop['pct_gap'].std()
govxx_pop['two_std_dev'] = govxx_pop['pct_gap'].std() * 2
govxx_pop['three_std_dev'] = govxx_pop['pct_gap'].std() * 3
govxx_pop['four_std_dev'] = govxx_pop['pct_gap'].std() * 4
govxx_pop['five_std_dev'] = govxx_pop['pct_gap'].std() * 5

In [378]:
govxx_pop = govxx_pop.drop(['country_x', 'index_x', 'country_y', 'index_y', 'year_y'], axis = 1)

In [384]:
govxx_pop

,year_x,gov_xx_pct,country_c,pct_xx,pct_gap,std_dev,one_std_dev,two_std_dev,three_std_dev,four_std_dev,five_std_dev
0,2016.5,27.487500,Afghanistan,49.490266,-22.002766,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428
1,2018.0,27.571818,Albania,50.519388,-22.947570,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428
2,2018.0,23.043636,Algeria,48.891254,-25.847618,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428
3,2018.0,33.927273,Angola,50.581174,-16.653902,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428
4,2018.0,39.752727,Argentina,50.426560,-10.673833,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428
...,...,...,...,...,...,...,...,...,...,...,...
169,2018.0,21.586364,Venezuela,50.409965,-28.823602,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428
170,2018.0,27.038182,Vietnam,51.108817,-24.070635,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428
171,2018.0,0.120000,Yemen,49.309801,-49.189801,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428
172,2018.0,15.318182,Zambia,50.550200,-35.232019,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428
173,2018.0,31.662727,Zimbabwe,52.593370,-20.930643,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428

In [396]:
one_std_dev = govxx_pop['pct_gap'].std()
two_std_dev = govxx_pop['pct_gap'].std() * 2
three_std_dev = govxx_pop['pct_gap'].std() * 3
four_std_dev = govxx_pop['pct_gap'].std() * 4
five_std_dev = govxx_pop['pct_gap'].std() * 5

In [398]:
for index, row in govxx_pop.iterrows():
    gap = abs(row['pct_gap'])  # This makes negative gaps positive

    if gap >= five_std_dev:
        govxx_pop.loc[index, 'dev'] = 'greater_than_5'
    elif gap >= four_std_dev:
        govxx_pop.loc[index, 'dev'] = 'greater_than_4'
    elif gap >= three_std_dev:
        govxx_pop.loc[index, 'dev'] = 'greater_than_3'
    elif gap >= two_std_dev:
        govxx_pop.loc[index, 'dev'] = 'greater_than_2'
    elif gap >= one_std_dev:
        govxx_pop.loc[index, 'dev'] = 'greater_than_1'
    else:
        govxx_pop.loc[index, 'dev'] = 'within_1_std_dev'

In [400]:
govxx_pop

,year_x,gov_xx_pct,country_c,pct_xx,pct_gap,std_dev,one_std_dev,two_std_dev,three_std_dev,four_std_dev,five_std_dev,dev
0,2016.5,27.487500,Afghanistan,49.490266,-22.002766,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428,greater_than_1
1,2018.0,27.571818,Albania,50.519388,-22.947570,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428,greater_than_2
2,2018.0,23.043636,Algeria,48.891254,-25.847618,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428,greater_than_2
3,2018.0,33.927273,Angola,50.581174,-16.653902,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428,greater_than_1
4,2018.0,39.752727,Argentina,50.426560,-10.673833,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428,within_1_std_dev
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2018.0,21.586364,Venezuela,50.409965,-28.823602,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428,greater_than_2
170,2018.0,27.038182,Vietnam,51.108817,-24.070635,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428,greater_than_2
171,2018.0,0.120000,Yemen,49.309801,-49.189801,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428,greater_than_4
172,2018.0,15.318182,Zambia,50.550200,-35.232019,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428,greater_than_3
173,2018.0,31.662727,Zimbabwe,52.593370,-20.930643,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428,greater_than_1

In [406]:
#     Since the basis of my scale is logarithmic, any country within 1 standard deviation will receive a flat 8 points for the category of 
#    "share of women in government".
#     Greater than 1 but less than 2 standard deviations will provide 4 points.
#     Greater than 2 but less than 3 standard deviations will provide 2 points.
#     Three standard deviations or more will provide no points.

#Initial attempt. Leaving this here to remind me to specify rows next time

for index, row in govxx_pop.iterrows():
    dev = govxx_pop['dev']
    
    if dev == 'within_1_std_dev':
        govxx_pop.loc[index, 'dev_pts'] ='8'
    elif dev == 'greater_than_1':
        govxx_pop.loc[index, 'dev_pts'] = '4'
    elif dev == 'greater_than_2':
        govxx_pop.loc[index, 'dev_pts'] = '2'
    else:
        govxx_pop.loc[index, 'dev_pts'] = '0'

In [418]:
for index, row in govxx_pop.iterrows():
    dev = row['dev']  # Access value for this row only
    
    if dev == 'within_1_std_dev':
        govxx_pop.loc[index, 'dev_pts'] = 8
    elif dev == 'greater_than_1':
        govxx_pop.loc[index, 'dev_pts'] = 4
    elif dev == 'greater_than_2':
        govxx_pop.loc[index, 'dev_pts'] = 2
    else:
        govxx_pop.loc[index, 'dev_pts'] = 0

In [422]:
govxx_pop = govxx_pop.sort_values('dev_pts', ascending = False)

In [434]:
govxx_pop.loc[govxx_pop['country_c'] == 'United States']

,year_x,gov_xx_pct,country_c,pct_xx,pct_gap,std_dev,one_std_dev,two_std_dev,three_std_dev,four_std_dev,five_std_dev,dev,dev_pts
165,2018.0,23.154545,United States,49.799241,-26.644695,11.259286,11.259286,22.518571,33.777857,45.037143,56.296428,greater_than_2,2.0

In [436]:
lgbt = pd.read_csv(r"C:\Users\eabro\Downloads\marriage-same-sex-partners-equaldex (1)\marriage-same-sex-partners-equaldex.csv")

In [438]:
equal_rights_index = pd.read_csv(r"C:\Users\eabro\Downloads\equal-rights-protection-index\equal-rights-protection-index.csv")

In [442]:
lgbt.columns = ['country', 'code', 'year', 'same_sex']

In [446]:
lgbt = lgbt.loc[lgbt['year'] == 2025]

In [452]:
lgbt

          country code  year same_sex
54    Afghanistan  AFG  2025   Banned
77        Albania  ALB  2025   Banned
137       Algeria  DZA  2025   Banned
158       Andorra  AND  2025    Legal
165        Angola  AGO  2025   Banned
...           ...  ...   ...      ...
4327    Venezuela  VEN  2025   Banned
4353      Vietnam  VNM  2025   Banned
4385        Yemen  YEM  2025   Banned
4401       Zambia  ZMB  2025   Banned
4463     Zimbabwe  ZWE  2025   Banned

[194 rows x 4 columns]

In [454]:
lgbt.to_csv('lgbt.csv', index=False, header=True)

In [205]:
equal_rights = pd.read_csv(r"C:\Users\eabro\Downloads\equal-rights-protection-index\equal-rights-protection-index.csv")

In [207]:
equal_rights.columns = ['country', 'code', 'year', 'equal_rights']

In [209]:
er = equal_rights.loc[equal_rights['year'] >= 2019]

In [211]:
er.to_csv('er.csv', index=False, header=True)

In [213]:
er = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\er.csv")

In [215]:
er = er.groupby('country').mean('equal_rights')

In [217]:
er = er.sort_values('equal_rights', ascending = False)

# Equal Rights may actually be better suited for category D/E, but I started cleaning the data here, so I'll finish it here and then make the decision later.

In [220]:
er  = er.reset_index()

In [222]:
er['country_c'] = coco.convert(names= er['country'], to='name_short', not_found=None)

Zanzibar not found in regex

In [224]:
er['norm_equal_rights'] = (er['equal_rights'] - er['equal_rights'].min()) / (er['equal_rights'].max() - er['equal_rights'].min())

In [226]:
er['equal_rights_log8'] = er['norm_equal_rights'] * 8

In [230]:
er.to_csv('equal_rights_20192023.csv', index=False, header=True)

In [228]:
er

,country,year,equal_rights,country_c,norm_equal_rights,equal_rights_log8
0,Luxembourg,2021.5,0.978833,Luxembourg,1.000000,8.000000
1,Denmark,2021.5,0.978000,Denmark,0.999095,7.992763
2,Japan,2021.5,0.976333,Japan,0.997286,7.978288
3,Finland,2021.5,0.969667,Finland,0.990049,7.920391
4,Austria,2021.5,0.966333,Austria,0.986430,7.891442
...,...,...,...,...,...,...
174,Angola,2021.5,0.089000,Angola,0.034015,0.272119
175,North Korea,2021.5,0.082667,North Korea,0.027139,0.217116
176,South Sudan,2021.5,0.075333,South Sudan,0.019179,0.153429
177,Haiti,2021.5,0.069500,Haiti,0.012846,0.102768
178,Yemen,2021.5,0.057667,Yemen,0.000000,0.000000

In [187]:
gender = pd.read_csv(r"C:\Users\eabro\Downloads\gender-development-index\gender-development-index.csv")

In [189]:
gender.columns = ['country', 'code', 'year', 'gender_dev']

In [191]:
gender['country_c'] = coco.convert(names= gender['country'], to='name_short', not_found=None)

In [195]:
gender = gender.loc[gender['year'] >= 2018]

In [201]:
gender = gender.sort_values('gender_dev', ascending = False)
gender.head(15)

                 country code  year  gender_dev           country_c
3729          Seychelles  SYC  2019       1.072          Seychelles
3730          Seychelles  SYC  2020       1.070          Seychelles
3731          Seychelles  SYC  2021       1.069          Seychelles
3728          Seychelles  SYC  2018       1.065          Seychelles
3732          Seychelles  SYC  2022       1.064          Seychelles
2802            Mongolia  MNG  2020       1.045            Mongolia
2801            Mongolia  MNG  2019       1.041            Mongolia
2803            Mongolia  MNG  2021       1.040            Mongolia
2942               Nauru  NRU  2022       1.037               Nauru
2941               Nauru  NRU  2021       1.036               Nauru
2940               Nauru  NRU  2020       1.036               Nauru
2800            Mongolia  MNG  2018       1.035            Mongolia
1236  Dominican Republic  DOM  2021       1.034  Dominican Republic
2776             Moldova  MDA  2022       1.033             Moldova
2804            Mongolia  MNG  2022       1.032            Mongolia

In [234]:
dep = pd.read_csv(r"C:\Users\eabro\Downloads\Depression Rate (1).csv")

In [242]:
dep.columns = ['rank', 'country', 'dep_rate']

In [244]:
dep['country_c'] = coco.convert(names= dep['country'], to='name_short', not_found=None)

In [246]:
dep['norm_deprate'] = 1 - (dep['dep_rate'] - dep['dep_rate'].min()) / (dep['dep_rate'].max() - dep['dep_rate'].min())

In [250]:
dep = dep.sort_values('dep_rate', ascending = True)

In [254]:
dep['deprate_log8_n'] = dep['norm_deprate'] * 8

In [258]:
dep.to_csv('depression_2024.csv', index=False, header=True)

In [260]:
sui = pd.read_csv(r"C:\Users\eabro\Downloads\Suicide Rate (per 100k) 2019 (1).csv")

In [264]:
sui.columns = ['rank', 'country', 'sui_rate']

In [266]:
sui['norm_sui'] = 1 - (sui['sui_rate'] - sui['sui_rate'].min()) / (sui['sui_rate'].max() - sui['sui_rate'].min())

In [270]:
sui['sui_log8_n'] = sui['norm_sui'] * 8

In [276]:
sui.to_csv('Suicide_2019.csv', index=False, header=True)

In [274]:
sui['country_c'] = coco.convert(names= sui['country'], to='name_short', not_found=None)

In [282]:
research = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\scientific-and-technical-journal-articles.csv")

In [286]:
research.columns = ['country', 'code', 'year', 'research']

In [290]:
research = research.loc[research['year'] >=2016]

In [296]:
research = research.groupby('country').mean('research').reset_index()
research['country_c'] = coco.convert(names= research['country'], to='name_short', not_found=None)

In [298]:
research['norm_research'] = (research['research'] - research['research'].min()) / (research['research'].max() - research['research'].min())

In [302]:
research['research_log8_n'] = research['norm_research'] * 8

In [304]:
research = research.sort_values('research_log8_n', ascending = False)

In [308]:
research.to_csv('Research_20162020.csv', index=False, header=True)