In [3]:
import pandas as pd
import numpy as np
import country_converter as coco

In [5]:
hdi = pd.read_csv(r"C:\Users\eabro\Downloads\augmented-human-development-index\augmented-human-development-index.csv")

In [7]:
hdi.columns = ['country', 'code', 'year', 'hdi', 'a']

In [9]:
hdi = hdi[['country', 'year', 'hdi']]

In [11]:
hdi.value_counts('year')

year
2020    174
2015    174
2010    174
2005    174
2000    174
1995    174
1990    174
1985    173
1980    173
1970    158
1975    158
1965    158
1960    158
1955    158
1950    158
1938    133
1933    133
1929    133
1925    133
1913    133
1880    127
1900    127
1890    127
1870    127
Name: count, dtype: int64

In [13]:
hdi = hdi.loc[hdi['year'] >= 2020]

In [15]:
hdi = hdi.sort_values('hdi', ascending = False)

In [17]:
hdi.to_csv('hdi.csv', index=False, header=True)

In [19]:
hdi = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\hdi.csv")

In [21]:
hdi

         country  year       hdi
0    Switzerland  2020  0.885545
1          Japan  2020  0.856736
2      Australia  2020  0.847903
3        Iceland  2020  0.844972
4         Norway  2020  0.841248
..           ...   ...       ...
157       Guinea  2020  0.153434
158         Chad  2020  0.142656
159        Yemen  2020  0.141605
160      Burundi  2020  0.125719
161      Eritrea  2020  0.117805

[162 rows x 3 columns]

In [23]:
hdi['country_c'] = coco.convert(names= hdi['country'], to='name_short', not_found=None)

In [25]:
hdi = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\hdi.csv")

In [27]:
hdi = hdi.groupby('country').mean('hdi')

In [29]:
hdi = hdi.sort_values('hdi', ascending = False)

In [31]:
hdi['norm_hdi'] = (hdi['hdi'] - hdi['hdi'].min()) / (hdi['hdi'].max() - hdi['hdi'].min())

In [33]:
hdi['hdi_log4_n'] = hdi['norm_hdi'] * 4

In [35]:
hdi.to_csv('hdi_2020.csv', index=False, header=True)

In [37]:
hdi

               year       hdi  norm_hdi  hdi_log4_n
country
Switzerland  2020.0  0.885545  1.000000    4.000000
Japan        2020.0  0.856736  0.962475    3.849902
Australia    2020.0  0.847903  0.950970    3.803880
Iceland      2020.0  0.844972  0.947153    3.788611
Norway       2020.0  0.841248  0.942302    3.769208
...             ...       ...       ...         ...
Guinea       2020.0  0.153434  0.046408    0.185631
Chad         2020.0  0.142656  0.032369    0.129476
Yemen        2020.0  0.141605  0.031000    0.123999
Burundi      2020.0  0.125719  0.010308    0.041232
Eritrea      2020.0  0.117805  0.000000    0.000000

[162 rows x 4 columns]

In [73]:
gdp = pd.read_csv(r"C:\Users\eabro\Downloads\gdp-per-capita-worldbank\gdp-per-capita-worldbank.csv")

In [75]:
gdp.columns = ['country', 'code', 'year', 'gdp']

In [79]:
gdp['country_c'] = coco.convert(names= gdp['country'], to='name_short', not_found=None)

East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
East Asia and Pacific (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
Europe and Central Asia (WB) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
European Union (27) not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
High-income countries not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Latin America and Caribbean (WB) not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Low-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Lower-middle-income countries not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle East and North Africa (WB) not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
Middle-income countries not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
North America (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
South Asia (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Sub-Saharan Africa (WB) not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
Upper-middle-income countries not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex
World not found in regex

In [41]:
plastic = pd.read_csv(r"C:\Users\eabro\Downloads\plastic-waste-emitted-to-the-ocean-per-capita (3).csv")

In [45]:
plastic.columns = ['country', 'year', 'ocean_plastic']

In [65]:
plastic['country_c'] = coco.convert(names= plastic['country'], to='name_short', not_found=None)

Oceania not found in regex

In [53]:
plastic['norm_oceanplastic'] = 1 - (plastic['ocean_plastic'] - plastic['ocean_plastic'].min()) / (plastic['ocean_plastic'].max() -plastic['ocean_plastic'].min())

In [55]:
plastic = plastic.sort_values('ocean_plastic', ascending = True)

In [59]:
plastic.head(15)

              country  year  ocean_plastic  norm_oceanplastic
79            Lesotho  2019            0.0                1.0
44            Finland  2019            0.0                1.0
62            Iceland  2019            0.0                1.0
75           Kiribati  2019            0.0                1.0
85           Maldives  2019            0.0                1.0
86              Malta  2019            0.0                1.0
87   Marshall Islands  2019            0.0                1.0
90          Mauritius  2019            0.0                1.0
25            Comoros  2019            0.0                1.0
92             Monaco  2019            0.0                1.0
103            Norway  2019            0.0                1.0
116             Qatar  2019            0.0                1.0
117           Reunion  2019            0.0                1.0
123             Samoa  2019            0.0                1.0
127        Seychelles  2019            0.0                1.0

In [61]:
plastic['oceanplastic_log4_n'] = plastic['norm_oceanplastic'] * 4

In [83]:
plastic.to_csv('ocean_plastic_2019.csv', index=False, header=True)

In [103]:
hap = pd.read_csv(r"C:\Users\eabro\Downloads\happiness-cantril-ladder (3)\happiness-cantril-ladder.csv")

In [105]:
hap.columns = ['country', 'code', 'year', 'happiness']

In [209]:
hap.to_csv('hap.csv', index=False, header=True)

In [193]:
hap = hap[hap['year'] >= 2020]

In [195]:
hap = hap.groupby('country').mean('happiness')

In [197]:
hap = hap.sort_values('happiness', ascending = False).reset_index()

In [199]:
hap['norm_hap'] = (hap['happiness'] - hap['happiness'].min()) / (hap['happiness'].max() -hap['happiness'].min())

In [201]:
hap['happiness_log4_n'] = hap['norm_hap'] * 4

In [205]:
hap['country_c'] = coco.convert(names= hap['country'], to='name_short', not_found=None)

In [207]:
hap

,country,year,happiness,norm_hap,happiness_log4_n,country_c
0,Finland,2022.0,7.788800,1.000000,4.000000,Finland
1,Denmark,2022.0,7.589200,0.965673,3.862690,Denmark
2,Iceland,2022.0,7.536200,0.956558,3.826231,Iceland
3,Netherlands,2022.0,7.381400,0.929935,3.719740,Netherlands
4,Sweden,2022.0,7.366200,0.927321,3.709284,Sweden
...,...,...,...,...,...,...
149,Rwanda,2020.5,3.341500,0.235149,0.940598,Rwanda
150,Democratic Republic of Congo,2023.0,3.323667,0.232082,0.928330,DR Congo
151,Zimbabwe,2022.0,3.216200,0.213600,0.854401,Zimbabwe
152,Lebanon,2022.0,3.165200,0.204829,0.819317,Lebanon
153,Afghanistan,2022.0,1.974200,0.000000,0.000000,Afghanistan

In [211]:
hap.to_csv('happiness_20202024.csv', index=False, header=True)

In [173]:
import os
os.getcwd()

'C:\\Users\\eabro\\Documents\\NSS\\Python\\Projects\\Utopia\\EmilyBroh_Capstone\\emilybroh_capstone\\scripts'

In [135]:
free = pd.read_csv(r"C:\Users\eabro\Downloads\freedom-of-expression-index\freedom-of-expression-index.csv")

In [147]:
free = free.loc[free['Year'] >= 2020]

In [151]:
free.columns = ['country', 'code', 'year', 'freedom']

In [155]:
free = free.groupby('country').mean('freedom')

In [159]:
free = free.sort_values('freedom', ascending = False)
free

                year  freedom
country
Denmark       2022.0   0.9850
Switzerland   2022.0   0.9764
Ireland       2022.0   0.9740
Estonia       2022.0   0.9700
Belgium       2022.0   0.9686
...              ...      ...
China         2022.0   0.0524
Turkmenistan  2022.0   0.0392
Eritrea       2022.0   0.0362
Laos          2022.0   0.0340
North Korea   2022.0   0.0120

[179 rows x 2 columns]

In [163]:
free['norm_freedom'] = (free['freedom'] - free['freedom'].min()) / (free['freedom'].max() -free['freedom'].min())

In [167]:
free['freedom_log4_n'] = free['norm_freedom'] * 4

In [171]:
free.to_csv('Freedom_20202024.csv', index=False, header=True)

In [ ]:
# hdi, hap, plastic, free

In [181]:
hdi = hdi.reset_index()

In [187]:
hdi['country_c'] = coco.convert(names= hdi['country'], to='name_short', not_found=None)

In [213]:
hh = pd.merge(hdi, hap, on = 'country_c', how = 'inner')

In [217]:
hhp = pd.merge(hh, plastic,  on = 'country_c', how = 'inner')

In [227]:
free = free.reset_index()

In [229]:
free['country_c'] = coco.convert(names= free['country'], to='name_short', not_found=None)

Zanzibar not found in regex

In [231]:
hhf = pd.merge(hh, free,  on = 'country_c', how = 'inner')
hhf

,country_x,year_x,hdi,norm_hdi,hdi_log4_n,country_c,country_y,year_y,happiness,norm_hap,happiness_log4_n,country,year,freedom,norm_freedom,freedom_log4_n
0,Switzerland,2020.0,0.885545,1.000000,4.000000,Switzerland,Switzerland,2022.0,7.26360,0.909676,3.638703,Switzerland,2022.0,0.9764,0.991161,3.964645
1,Japan,2020.0,0.856736,0.962475,3.849902,Japan,Japan,2022.0,6.06300,0.703195,2.812782,Japan,2022.0,0.8534,0.864748,3.458993
2,Australia,2020.0,0.847903,0.950970,3.803880,Australia,Australia,2022.0,7.09420,0.880542,3.522168,Australia,2022.0,0.9256,0.938952,3.755807
3,Iceland,2020.0,0.844972,0.947153,3.788611,Iceland,Iceland,2022.0,7.53620,0.956558,3.826231,Iceland,2022.0,0.9202,0.933402,3.733607
4,Norway,2020.0,0.841248,0.942302,3.769208,Norway,Norway,2022.0,7.32720,0.920614,3.682455,Norway,2022.0,0.9436,0.957451,3.829805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Afghanistan,2020.0,0.180436,0.081577,0.326309,Afghanistan,Afghanistan,2022.0,1.97420,0.000000,0.000000,Afghanistan,2022.0,0.2132,0.206783,0.827133
139,Guinea,2020.0,0.153434,0.046408,0.185631,Guinea,Guinea,2022.0,4.97980,0.516906,2.067623,Guinea,2022.0,0.5566,0.559712,2.238849
140,Chad,2020.0,0.142656,0.032369,0.129476,Chad,Chad,2022.0,4.37160,0.412307,1.649228,Chad,2022.0,0.4874,0.488592,1.954368
141,Yemen,2020.0,0.141605,0.031000,0.123999,Yemen,Yemen,2022.0,3.74425,0.304415,1.217659,Yemen,2022.0,0.1998,0.193011,0.772045
142,Burundi,2020.0,0.125719,0.010308,0.041232,Burundi,Burundi,2020.0,3.77500,0.309703,1.238813,Burundi,2022.0,0.1764,0.168962,0.675848

In [261]:
renew = pd.read_excel(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\renewable.xlsx")

In [263]:
renew

           Entity Code  Year  Renewables - % electricity
0     Afghanistan  AFG  2000                   64.583336
1     Afghanistan  AFG  2001                   72.463770
2     Afghanistan  AFG  2002                   78.873245
3     Afghanistan  AFG  2003                   69.230770
4     Afghanistan  AFG  2004                   70.886070
...           ...  ...   ...                         ...
6031     Zimbabwe  ZWE  2018                   55.720340
6032     Zimbabwe  ZWE  2019                   51.707893
6033     Zimbabwe  ZWE  2020                   58.569298
6034     Zimbabwe  ZWE  2021                   70.330970
6035     Zimbabwe  ZWE  2022                   67.301230

[6036 rows x 4 columns]

In [265]:
renew.columns = ['country', 'code', 'year', 'renew']

In [267]:
renew = renew[(renew['year'] >= 2018) & (renew['year'] <= 2022)]

In [269]:
renew = renew.groupby('country').mean('renew')

In [275]:
renew = renew.sort_values('renew', ascending = False).reset_index()
renew['

                      country    year  renew
0                      Bhutan  2020.0  100.0
1                     Iceland  2020.0  100.0
2                    Paraguay  2020.0  100.0
3                       Nepal  2020.0  100.0
4    Central African Republic  2020.0  100.0
..                        ...     ...    ...
210    British Virgin Islands  2020.0    0.0
211                Montserrat  2020.0    0.0
212                  Kiribati  2020.0    0.0
213                    Gambia  2020.0    0.0
214                East Timor  2020.0    0.0

[215 rows x 3 columns]

In [279]:
renew.to_csv('renew_20182022.csv', index=False, header=True)

In [281]:
renew = renew[~renew['country_c'].isin(['South America', 'Europe'])]

In [283]:
renew['country_c'] = coco.convert(names= renew['country'], to='name_short', not_found=None)

C:\Users\eabro\AppData\Local\Temp\ipykernel_800\2847049951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  renew['country_c'] = coco.convert(names= renew['country'], to='name_short', not_found=None)

In [287]:
renew['norm_renew'] = (renew['renew'] - renew['renew'].min()) / (renew['renew'].max() - renew['renew'].min())

C:\Users\eabro\AppData\Local\Temp\ipykernel_800\3312042438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  renew['norm_renew'] = (renew['renew'] - renew['renew'].min()) / (renew['renew'].max() - renew['renew'].min())

In [293]:
renew['renew_log4_n'] = renew['norm_renew'] * 4

C:\Users\eabro\AppData\Local\Temp\ipykernel_800\2807257241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  renew['renew_log4_n'] = renew['norm_renew'] * 4

In [295]:
renew

,country,year,renew,country_c,norm_renew,renew_log4_n
0,Bhutan,2020.0,100.0,Bhutan,1.0,4.0
1,Iceland,2020.0,100.0,Iceland,1.0,4.0
2,Paraguay,2020.0,100.0,Paraguay,1.0,4.0
3,Nepal,2020.0,100.0,Nepal,1.0,4.0
4,Central African Republic,2020.0,100.0,Central African Republic,1.0,4.0
...,...,...,...,...,...,...
210,British Virgin Islands,2020.0,0.0,British Virgin Islands,0.0,0.0
211,Montserrat,2020.0,0.0,Montserrat,0.0,0.0
212,Kiribati,2020.0,0.0,Kiribati,0.0,0.0
213,Gambia,2020.0,0.0,Gambia,0.0,0.0
214,East Timor,2020.0,0.0,Timor-Leste,0.0,0.0

In [297]:
renew.to_csv('renew_20182022.csv', index=False, header=True)

In [307]:
hhf = hhf[['country_c', 'hdi', 'hdi_log4_n',
       'happiness','happiness_log4_n',
       'freedom', 'freedom_log4_n']]

In [309]:
hhfr = pd.merge(hhf, renew, on = 'country_c', how = 'inner')

In [313]:
hhfr = hhfr[['country_c', 'hdi', 'hdi_log4_n', 'happiness', 'happiness_log4_n',
       'freedom', 'freedom_log4_n', 'renew', 'renew_log4_n']]

In [317]:
hhfr['hhfr_pts'] = hhfr['hdi_log4_n'] + hhfr['happiness_log4_n'] + hhfr['freedom_log4_n'] +  hhfr['renew_log4_n']

In [321]:
hhfr = hhfr.sort_values('hhfr_pts', ascending = False)

In [325]:
hhfr.to_csv('Category_D_0417.csv', index=False, header=True)

In [327]:
hhfr

,country_c,hdi,hdi_log4_n,happiness,happiness_log4_n,freedom,freedom_log4_n,renew,renew_log4_n,hhfr_pts
3,Iceland,0.844972,3.788611,7.53620,3.826231,0.9202,3.733607,100.000000,4.000000,15.348448
4,Norway,0.841248,3.769208,7.32720,3.682455,0.9436,3.829805,98.489598,3.939584,15.221052
10,Denmark,0.800761,3.558268,7.58920,3.862690,0.9850,4.000000,77.999250,3.119970,14.540928
8,New Zealand,0.811642,3.614957,7.11620,3.537303,0.9450,3.835560,83.126475,3.325059,14.312879
0,Switzerland,0.885545,4.000000,7.26360,3.638703,0.9764,3.964645,61.217775,2.448711,14.052059
...,...,...,...,...,...,...,...,...,...,...
140,Chad,0.142656,0.129476,4.37160,1.649228,0.4874,1.954368,5.890693,0.235628,3.968699
113,Bangladesh,0.268113,0.783120,4.43980,1.696144,0.3512,1.394450,1.456708,0.058268,3.931982
107,Azerbaijan,0.284564,0.868831,5.02800,2.100781,0.1500,0.567318,6.322264,0.252891,3.789820
95,Egypt,0.320534,1.056235,4.10700,1.467203,0.1650,0.628983,10.922605,0.436904,3.589325
141,Yemen,0.141605,0.123999,3.74425,1.217659,0.1998,0.772045,17.052186,0.682087,2.795791